### EDA

In [2]:
import pandas as pd
import numpy as np

1.  Batsman_name -> done
2.  Batting_team -> done
3.  Runs_in_last3 
<!-- Runs_in_lastseason  -->
4.  Strike_rate  --> done
5.  4's -> done
6.  6's -> done
7.  50's --> done
8.  100's --> done
9.  Runs -> done
10. Duck  --> done
11. Batting_position --> done
<!-- Bowler_name -->
12. Bowling_team -> done
13. Dream11_score --> done

In [3]:
data = pd.read_csv("/workspace/dream11_prediction/Data/matchdata.csv",low_memory=False)

In [4]:
data.tail(3)

,ball,batsmanname,batsmanscorevalue,battingteam,bowlername,bowlingteam,date,fallofwickets,innings,matchid,nonstrikername,over,scorevalue,target,totalruns
197280,116,KD Karthik,1,Kolkata Knight Riders,S Kaul,Sunrisers Hyderabad,"1 2021-10-03\nName: date, dtype: object",0,2nd innings,1254109,EJG Morgan,19.2,1,116,0
197281,117,EJG Morgan,1,Kolkata Knight Riders,S Kaul,Sunrisers Hyderabad,"1 2021-10-03\nName: date, dtype: object",0,2nd innings,1254109,KD Karthik,19.3,1,116,0
197282,118,KD Karthik,4,Kolkata Knight Riders,S Kaul,Sunrisers Hyderabad,"1 2021-10-03\nName: date, dtype: object",0,2nd innings,1254109,EJG Morgan,19.4,4,116,0

### EDA

In [4]:
total_runs = pd.DataFrame(df.groupby(['battingteam','bowlingteam','matchid','batsmanname'])['scorevalue'].sum()).\
       rename(columns={"scorevalue": "total_runs"})

NameError: name 'df' is not defined

In [8]:
total_runs

                                                                     total_runs
battingteam           bowlingteam           matchid batsmanname
Kolkata Knight Riders Sunrisers Hyderabad   1254109 EJG Morgan                2
                                                    KD Karthik               18
                                                    N Rana                   27
                                                    RA Tripathi               7
                                                    Shubman Gill             57
                                                    Venkatesh Iyer            8
Sunrisers Hyderabad   Kolkata Knight Riders 1254109 A Samad                  25
                                                    Abhishek Sharma           6
                                                    JO Holder                 4
                                                    Jason Roy                11
                                                    KS Williamson            26
                                                    P Garg                   21
                                                    P Kumar                   7
                                                    Rashid Khan               8
                                                    S Kaul                    7
                                                    WP Saha                   0

In [4]:
#data of 2021 last match
df = data[197042:].copy() 
df1 = data.copy()

In [5]:
# df = df.reset_index()
# df.drop(df["index"],inplace=True)
df.head(2)

,ball,batsmanname,batsmanscorevalue,battingteam,bowlername,bowlingteam,date,fallofwickets,innings,matchid,nonstrikername,over,scorevalue,target,totalruns
197042,1,Jason Roy,1,Sunrisers Hyderabad,Tim Southee,Kolkata Knight Riders,"1 2021-10-03\nName: date, dtype: object",0,1st innings,1254109,WP Saha,0.1,1,0,1
197043,2,WP Saha,0,Sunrisers Hyderabad,Tim Southee,Kolkata Knight Riders,"1 2021-10-03\nName: date, dtype: object",1,1st innings,1254109,Jason Roy,0.2,0,0,1

In [6]:
# df['date'].values_count()

In [6]:
df.groupby(['matchid','batsmanname'])['scorevalue'].sum()

matchid  batsmanname
1254109  A Samad            25
         Abhishek Sharma     6
         EJG Morgan          2
         JO Holder           4
         Jason Roy          11
         KD Karthik         18
         KS Williamson      26
         N Rana             27
         P Garg             21
         P Kumar             7
         RA Tripathi         7
         Rashid Khan         8
         S Kaul              7
         Shubman Gill       57
         Venkatesh Iyer      8
         WP Saha             0
Name: scorevalue, dtype: int64

In [7]:
# data = pd.DataFrame(data)
data.groupby(['matchid','batsmanname'])['scorevalue'].sum()

matchid  batsmanname
335982   AA Noffke                      11
         B Akhil                         0
         BB McCullum                   169
         CL White                        6
         DJ Hussey                      12
                                      ...
1254113  MS Dhoni                       11
         Suresh Raina                   18
         Tim David                       1
         V Kohli                        54
         Wanindu Hasaranga de Silva      1
Name: scorevalue, Length: 12335, dtype: int64

In [9]:
df.groupby(['battingteam','matchid','batsmanname'])['scorevalue'].sum()

battingteam            matchid  batsmanname
Kolkata Knight Riders  1254109  EJG Morgan          2
                                KD Karthik         18
                                N Rana             27
                                RA Tripathi         7
                                Shubman Gill       57
                                Venkatesh Iyer      8
Sunrisers Hyderabad    1254109  A Samad            25
                                Abhishek Sharma     6
                                JO Holder           4
                                Jason Roy          11
                                KS Williamson      26
                                P Garg             21
                                P Kumar             7
                                Rashid Khan         8
                                S Kaul              7
                                WP Saha             0
Name: scorevalue, dtype: int64

In [8]:
#total_runs
total_runs = pd.DataFrame(df.groupby(['battingteam','matchid','batsmanname'])['scorevalue'].sum()).\
       rename(columns={"scorevalue": "total_runs"})

#number of sixes
batsmen_scores6 = pd.DataFrame(df[df['scorevalue'] == 6].groupby(['battingteam','matchid', 'batsmanname'])['scorevalue'].count()).\
            rename(columns={"scorevalue": "run_6"})

#number of fours
batsmen_scores4 = pd.DataFrame(df[df['scorevalue'] == 4].groupby(['battingteam','matchid', 'batsmanname'])['scorevalue'].count()).\
            rename(columns={"scorevalue": "run_4"})

#no of balls
batsmen_ball_faced_legal = pd.DataFrame(df.groupby(['battingteam','matchid', 'batsmanname'])['over'].nunique()).\
            rename(columns={"over": "total_legal_balls_faced"})

#strikerate
batsmen_Strikerate = pd.DataFrame((df.groupby(['battingteam','matchid','batsmanname'])['scorevalue'].sum()/df.groupby(['matchid', 'batsmanname'])['over'].nunique())*100).\
       rename(columns={"scorevalue":"strike_rate"})

#fifties
fifties = pd.DataFrame((df.groupby(['battingteam','matchid','batsmanname'])['scorevalue'].sum() >= 50)  
                       ).\
       rename(columns={"scorevalue": "50's"})
#hundreds
hundreds = pd.DataFrame(df.groupby(['battingteam','matchid','batsmanname'])['scorevalue'].sum() >= 100  ).\
       rename(columns={"scorevalue": "100's"})

#duck
duck  = pd.DataFrame(df.groupby(['battingteam','matchid','batsmanname'])['scorevalue'].sum() == 0).\
        rename(columns={"scorevalue": "duck"})

#batsmen_position
batsmen_position = pd.DataFrame(df.groupby(['battingteam','matchid', 'batsmanname'])['fallofwickets'].min())

#batting_team
batting_team = pd.DataFrame(df['battingteam'])

#batting_team
bowling_team = pd.DataFrame(df['bowlingteam'])

### Dreamll_target_columns

In [4]:
  pointsconfig = {
        'total_runs': 1,
        'run_6': 2,
        'run_4': 1,
        '>=50': 8,
        '>=100': 16,
        'duck': -2,
  }

### Merging

In [10]:
# df1.s
# total_runs
# batsmen_scores6
# batsmen_ball_faced_legal
# batsmen_Strikerate
# fifties
# hundreds
# duck.head(3)

In [11]:
# # df1.head(30)
# total_runs['duck'] = duck['duck']
# total_runs['Sixes'] = batsmen_scores6['run_6']
# total_runs['Fours'] = batsmen_scores4['run_4']
# total_runs['balls'] = batsmen_ball_faced_legal['total_legal_balls_faced']
# # total_runs['strike_rate'] = batsmen_Strikerate['0']
# total_runs['fifties'] = fifties['50\'s'] 
# total_runs['hundreds'] = hundreds['100\'s'] 
# # total_runs[''] =

In [12]:
# batsmen_Strikerate = pd.DataFrame(batsmen_Strikerate)
# batsmen_Strikerate['0'].head()
# batsmen_Strikerate

Date
runs
venue
bowlingteam
strike_rate
Dream_11 score

In [13]:
# # total_runs = total_runs.fillna(0)
# total_runs = pd.DataFrame(total_runs)
# total_runs

In [22]:
runs = total_runs['total_runs'] - (total_runs['Sixes']*6 + total_runs['Fours']*4)
total_runs['runs'] = runs
### target column

In [15]:
data.shape

(197283, 15)

In [16]:
print(type(batsmen_Strikerate))

<class 'pandas.core.frame.DataFrame'>

In [17]:
pointsconfig

{'total_runs': 1, 'run_6': 2, 'run_4': 1, '>=50': 8, '>=100': 16, 'duck': -2}

In [18]:
total_runs['duck'] = duck
total_runs['Sixes'] = batsmen_scores6
total_runs['Fours'] = batsmen_scores4
# total_runs['runs'] 
total_runs['balls'] = batsmen_ball_faced_legal
total_runs['Fifties'] = fifties
total_runs['hundreds'] = hundreds
# total_runs['total_runs'] = total_runs

In [19]:
total_runs = total_runs.fillna(0)

In [20]:
# total_runs.head(2)
df = total_runs.copy()
df.hundreds = df.hundreds.replace({True: 1, False: 0})
df.Fifties = df.Fifties.replace({True: 1, False: 0})
df.duck = df.duck.replace({True: 1, False: 0})
# df.Sixes = df.Sixes.replace({True: 1, False: 0})
df

                                               total_runs  duck  Sixes  Fours  \
battingteam           matchid batsmanname
Kolkata Knight Riders 1254109 EJG Morgan                2     0    0.0    0.0
                              KD Karthik               18     0    0.0    3.0
                              N Rana                   27     0    0.0    3.0
                              RA Tripathi               7     0    0.0    1.0
                              Shubman Gill             57     0    0.0   10.0
                              Venkatesh Iyer            8     0    0.0    0.0
Sunrisers Hyderabad   1254109 A Samad                  25     0    3.0    0.0
                              Abhishek Sharma           6     0    0.0    0.0
                              JO Holder                 4     0    0.0    0.0
                              Jason Roy                11     0    0.0    2.0
                              KS Williamson            26     0    0.0    4.0
                              P Garg                   21     0    1.0    0.0
                              P Kumar                   7     0    0.0    0.0
                              Rashid Khan               8     0    0.0    1.0
                              S Kaul                    7     0    0.0    1.0
                              WP Saha                   0     1    0.0    0.0

                                               balls  Fifties  hundreds
battingteam           matchid batsmanname
Kolkata Knight Riders 1254109 EJG Morgan           2        0         0
                              KD Karthik          12        0         0
                              N Rana              33        0         0
                              RA Tripathi          6        0         0
                              Shubman Gill        51        1         0
                              Venkatesh Iyer      14        0         0
Sunrisers Hyderabad   1254109 A Samad             18        0         0
                              Abhishek Sharma     10        0         0
                              JO Holder            9        0         0
                              Jason Roy           12        0         0
                              KS Williamson       21        0         0
                              P Garg              31        0         0
                              P Kumar              7        0         0
                              Rashid Khan          6        0         0
                              S Kaul               5        0         0
                              WP Saha              1        0         0

In [23]:
df['runs'] = runs

In [24]:
df.head(2)

                                           total_runs  duck  Sixes  Fours  \
battingteam           matchid batsmanname
Kolkata Knight Riders 1254109 EJG Morgan            2     0    0.0    0.0
                              KD Karthik           18     0    0.0    3.0

                                           balls  Fifties  hundreds  runs
battingteam           matchid batsmanname
Kolkata Knight Riders 1254109 EJG Morgan       2        0         0   2.0
                              KD Karthik      12        0         0   6.0

In [25]:
dreamll_score = df['runs']*1 + df['Sixes']*2 + df['Fours']*1 + df['Fifties']*8 + df['hundreds']*16 - df['duck']*2
df['dreamll_score'] = dreamll_score

In [27]:
# batsmen_scores4

In [28]:
df1 = df.copy()
df1
#date
#venue
#bowler
#

                                               total_runs  duck  Sixes  Fours  \
battingteam           matchid batsmanname
Kolkata Knight Riders 1254109 EJG Morgan                2     0    0.0    0.0
                              KD Karthik               18     0    0.0    3.0
                              N Rana                   27     0    0.0    3.0
                              RA Tripathi               7     0    0.0    1.0
                              Shubman Gill             57     0    0.0   10.0
                              Venkatesh Iyer            8     0    0.0    0.0
Sunrisers Hyderabad   1254109 A Samad                  25     0    3.0    0.0
                              Abhishek Sharma           6     0    0.0    0.0
                              JO Holder                 4     0    0.0    0.0
                              Jason Roy                11     0    0.0    2.0
                              KS Williamson            26     0    0.0    4.0
                              P Garg                   21     0    1.0    0.0
                              P Kumar                   7     0    0.0    0.0
                              Rashid Khan               8     0    0.0    1.0
                              S Kaul                    7     0    0.0    1.0
                              WP Saha                   0     1    0.0    0.0

                                               balls  Fifties  hundreds  runs  \
battingteam           matchid batsmanname
Kolkata Knight Riders 1254109 EJG Morgan           2        0         0   2.0
                              KD Karthik          12        0         0   6.0
                              N Rana              33        0         0  15.0
                              RA Tripathi          6        0         0   3.0
                              Shubman Gill        51        1         0  17.0
                              Venkatesh Iyer      14        0         0   8.0
Sunrisers Hyderabad   1254109 A Samad             18        0         0   7.0
                              Abhishek Sharma     10        0         0   6.0
                              JO Holder            9        0         0   4.0
                              Jason Roy           12        0         0   3.0
                              KS Williamson       21        0         0  10.0
                              P Garg              31        0         0  15.0
                              P Kumar              7        0         0   7.0
                              Rashid Khan          6        0         0   4.0
                              S Kaul               5        0         0   3.0
                              WP Saha              1        0         0   0.0

                                               dreamll_score
battingteam           matchid batsmanname
Kolkata Knight Riders 1254109 EJG Morgan                 2.0
                              KD Karthik                 9.0
                              N Rana                    18.0
                              RA Tripathi                4.0
                              Shubman Gill              35.0
                              Venkatesh Iyer             8.0
Sunrisers Hyderabad   1254109 A Samad                   13.0
                              Abhishek Sharma            6.0
                              JO Holder                  4.0
                              Jason Roy                  5.0
                              KS Williamson             14.0
                              P Garg                    17.0
                              P Kumar                    7.0
                              Rashid Khan                5.0
                              S Kaul                     4.0
                              WP Saha                   -2.0

In [30]:
# data['date']

### Simualting below format to season 2021 and adding extra columns

In [5]:
197283 - 70*240

180483

In [6]:
data.tail(2)

,ball,batsmanname,batsmanscorevalue,battingteam,bowlername,bowlingteam,date,fallofwickets,innings,matchid,nonstrikername,over,scorevalue,target,totalruns
197281,117,EJG Morgan,1,Kolkata Knight Riders,S Kaul,Sunrisers Hyderabad,"1 2021-10-03\nName: date, dtype: object",0,2nd innings,1254109,KD Karthik,19.3,1,116,0
197282,118,KD Karthik,4,Kolkata Knight Riders,S Kaul,Sunrisers Hyderabad,"1 2021-10-03\nName: date, dtype: object",0,2nd innings,1254109,EJG Morgan,19.4,4,116,0

In [7]:
df_2021 = data[185471:].copy()
df_2021.head(2)

,ball,batsmanname,batsmanscorevalue,battingteam,bowlername,bowlingteam,date,fallofwickets,innings,matchid,nonstrikername,over,scorevalue,target,totalruns
185471,1,Venkatesh Iyer,4,Kolkata Knight Riders,F Allen,Punjab Kings,"15 2021-10-01\nName: date, dtype: object",0,1st innings,1254102,Shubman Gill,0.1,4,0,4
185472,2,Venkatesh Iyer,0,Kolkata Knight Riders,F Allen,Punjab Kings,"15 2021-10-01\nName: date, dtype: object",0,1st innings,1254102,Shubman Gill,0.2,0,0,4

In [8]:
#total_runs
total_runs = pd.DataFrame(df_2021.groupby(['battingteam','bowlingteam','matchid','batsmanname'])['scorevalue'].sum()).\
       rename(columns={"scorevalue": "total_runs"})

#number of sixes
batsmen_scores6 = pd.DataFrame(df_2021[df_2021['scorevalue'] == 6].groupby(['battingteam','bowlingteam','matchid', 'batsmanname'])['scorevalue'].count()).\
            rename(columns={"scorevalue": "run_6"})

#number of fours
batsmen_scores4 = pd.DataFrame(df_2021[df_2021['scorevalue'] == 4].groupby(['battingteam','bowlingteam','matchid', 'batsmanname'])['scorevalue'].count()).\
            rename(columns={"scorevalue": "run_4"})

#no of balls
batsmen_ball_faced_legal = pd.DataFrame(df_2021.groupby(['battingteam','bowlingteam','matchid', 'batsmanname'])['over'].nunique()).\
            rename(columns={"over": "total_legal_balls_faced"})

#strikerate
batsmen_Strikerate = pd.DataFrame((df_2021.groupby(['battingteam','bowlingteam','matchid','batsmanname'])['scorevalue'].sum()/df_2021.groupby(['battingteam','bowlingteam','matchid', 'batsmanname'])['over'].nunique())*100).\
       rename(columns={"scorevalue":"strike_rate"})


#fifties
fifties = pd.DataFrame((df_2021.groupby(['battingteam','bowlingteam','matchid','batsmanname'])['scorevalue'].sum() >= 50)  
                       ).\
       rename(columns={"scorevalue": "50's"})
#hundreds
hundreds = pd.DataFrame(df_2021.groupby(['battingteam','bowlingteam','matchid','batsmanname'])['scorevalue'].sum() >= 100  ).\
       rename(columns={"scorevalue": "100's"})

#duck
duck  = pd.DataFrame(df_2021.groupby(['battingteam','bowlingteam','matchid','batsmanname'])['scorevalue'].sum() == 0).\
        rename(columns={"scorevalue": "duck"})

# #batsmen_position
batsmen_position = pd.DataFrame(df_2021.groupby(['battingteam','bowlingteam','matchid', 'batsmanname'])['fallofwickets'].min())

#batting_team
# batting_team = pd.DataFrame(df_2021['battingteam'])

# batting_team
# bowling_team = pd.DataFrame(df_2021['bowlingteam'])

In [9]:
total_runs['duck'] = duck
total_runs['Sixes'] = batsmen_scores6
total_runs['Fours'] = batsmen_scores4
# total_runs['runs'] 
total_runs['balls'] = batsmen_ball_faced_legal
total_runs['Fifties'] = fifties
total_runs['hundreds'] = hundreds

In [9]:
# ****

# runs = total_runs['total_runs'] - (total_runs['Sixes']*6 + total_runs['Fours']*4)
# total_runs['runs'] = runs

In [10]:
# total_runs.head(2)
df = total_runs.copy()
df.hundreds = df.hundreds.replace({True: 1, False: 0})
df.Fifties = df.Fifties.replace({True: 1, False: 0})
df.duck = df.duck.replace({True: 1, False: 0})
# df.Sixes = df.Sixes.replace({True: 1, False: 0})
df = df.fillna(0)

In [11]:
# dreamll_score = (df['runs'] + df['Sixes']*6 + df['Sixes']*2 + df['Fours']*4 + df['Fours'] + df['Fifties']*8 + df['hundreds']*16 + 4 )- df['duck']*2
# df['dreamll_score'] = dreamll_score
dreamll_score = df['total_runs'] + df['Sixes']*2 + df['Fours'] + df['Fifties']*8 + df['hundreds']*16 - df['duck']*2 + 4
df['dreamll_score'] = dreamll_score

In [14]:
df.head(5)
# df.shape

                                                         total_runs  duck  \
battingteam         bowlingteam    matchid batsmanname
Chennai Super Kings Delhi Capitals 1254059 AS Raut                7     0
                                           AT Rayudu             28     0
                                           F du Plessis           0     1
                                           MM Ali                36     0
                                           MS Dhoni               0     1

                                                         Sixes  Fours  balls  \
battingteam         bowlingteam    matchid batsmanname
Chennai Super Kings Delhi Capitals 1254059 AS Raut         0.0    1.0      9
                                           AT Rayudu       1.0    2.0     16
                                           F du Plessis    0.0    0.0      3
                                           MM Ali          2.0    4.0     24
                                           MS Dhoni        0.0    0.0      2

                                                         Fifties  hundreds  \
battingteam         bowlingteam    matchid batsmanname
Chennai Super Kings Delhi Capitals 1254059 AS Raut             0         0
                                           AT Rayudu           0         0
                                           F du Plessis        0         0
                                           MM Ali              0         0
                                           MS Dhoni            0         0

                                                         dreamll_score
battingteam         bowlingteam    matchid batsmanname
Chennai Super Kings Delhi Capitals 1254059 AS Raut                12.0
                                           AT Rayudu              36.0
                                           F du Plessis            2.0
                                           MM Ali                 48.0
                                           MS Dhoni                2.0

In [15]:
# df.drop(['batting_team'],axis=1,inplace=True)
df.tail(5)

                                                                     total_runs  \
battingteam         bowlingteam                 matchid batsmanname
Sunrisers Hyderabad Royal Challengers Bangalore 1254063 P Kumar               2
                                                        Rashid Khan          18
                                                        S Nadeem              0
                                                        V Shankar             3
                                                        WP Saha               5

                                                                     duck  \
battingteam         bowlingteam                 matchid batsmanname
Sunrisers Hyderabad Royal Challengers Bangalore 1254063 P Kumar         0
                                                        Rashid Khan     0
                                                        S Nadeem        1
                                                        V Shankar       0
                                                        WP Saha         0

                                                                     Sixes  \
battingteam         bowlingteam                 matchid batsmanname
Sunrisers Hyderabad Royal Challengers Bangalore 1254063 P Kumar        0.0
                                                        Rashid Khan    1.0
                                                        S Nadeem       0.0
                                                        V Shankar      0.0
                                                        WP Saha        0.0

                                                                     Fours  \
battingteam         bowlingteam                 matchid batsmanname
Sunrisers Hyderabad Royal Challengers Bangalore 1254063 P Kumar        0.0
                                                        Rashid Khan    0.0
                                                        S Nadeem       0.0
                                                        V Shankar      0.0
                                                        WP Saha        1.0

                                                                     balls  \
battingteam         bowlingteam                 matchid batsmanname
Sunrisers Hyderabad Royal Challengers Bangalore 1254063 P Kumar          2
                                                        Rashid Khan      8
                                                        S Nadeem         1
                                                        V Shankar        5
                                                        WP Saha          9

                                                                     Fifties  \
battingteam         bowlingteam                 matchid batsmanname
Sunrisers Hyderabad Royal Challengers Bangalore 1254063 P Kumar            0
                                                        Rashid Khan        0
                                                        S Nadeem           0
                                                        V Shankar          0
                                                        WP Saha            0

                                                                     hundreds  \
battingteam         bowlingteam                 matchid batsmanname
Sunrisers Hyderabad Royal Challengers Bangalore 1254063 P Kumar             0
                                                        Rashid Khan         0
                                                        S Nadeem            0
                                                        V Shankar           0
                                                        WP Saha             0

                                                                     dreamll_score
battingteam         bowlingteam                 matchid batsmanname
Sunrisers Hyderabad Royal Challengers Bangalore 1254063 P Kumar                6.0
                                                        Rashid Khan           24.0
                                                        S Nadeem               2.0
                                                        V Shankar              7.0
                                                        WP Saha               10.0

In [17]:
batsmen_Strikerate.to_csv("SR_21.csv")

In [19]:
SR_21 = pd.read_csv("/workspace/dream11_prediction/PPP/SR_21.csv")
SR_21.head(20)

,battingteam,bowlingteam,matchid,batsmanname,0
0,Chennai Super Kings,Delhi Capitals,1254059,AS Raut,77.777778
1,Chennai Super Kings,Delhi Capitals,1254059,AT Rayudu,175.000000
2,Chennai Super Kings,Delhi Capitals,1254059,F du Plessis,0.000000
3,Chennai Super Kings,Delhi Capitals,1254059,MM Ali,150.000000
4,Chennai Super Kings,Delhi Capitals,1254059,MS Dhoni,0.000000
5,Chennai Super Kings,Delhi Capitals,1254059,RA Jadeja,158.823529
6,Chennai Super Kings,Delhi Capitals,1254059,SM Curran,218.750000
7,Chennai Super Kings,Delhi Capitals,1254059,Suresh Raina,152.777778
8,Chennai Super Kings,Kolkata Knight Riders,1254072,AS Raut,165.000000
9,Chennai Super Kings,Kolkata Knight Riders,1254072,F du Plessis,162.295082
10,Chennai Super Kings,Kolkata Knight Riders,1254072,MM Ali,230.769231
11,Chennai Super Kings,Kolkata Knight Riders,1254072,MS Dhoni,211.111111
12,Chennai Super Kings,Kolkata Knight Riders,1254072,RA Jadeja,600.000000
13,Chennai Super Kings,Kolkata Knight Riders,1254098,AS Raut,142.857143
14,Chennai Super Kings,Kolkata Knight Riders,1254098,AT Rayudu,110.000000
15,Chennai Super Kings,Kolkata Knight Riders,1254098,DL Chahar,100.000000
16,Chennai Super Kings,Kolkata Knight Riders,1254098,F du Plessis,146.666667
17,Chennai Super Kings,Kolkata Knight Riders,1254098,MM Ali,113.793103
18,Chennai Super Kings,Kolkata Knight Riders,1254098,MS Dhoni,50.000000
19,Chennai Super Kings,Kolkata Knight Riders,1254098,RA Jadeja,275.000000

Earlier Mentioned columns
1.  Batsman_name -> done
2.  Batting_team -> done
3.  Runs_in_last3 
4. Runs_in_lastseason 
4.  Strike_rate  --> done
5.  4's -> done
6.  6's -> done
7.  50's --> done
8.  100's --> done
9.  Runs -> done
10. Duck  --> done
11. Batting_position --> done
12. Bowler_name
13. Bowling_team -> done
14. Dream11_score --> done 

Adding the follow mentioned columns

1. date
2. city
3. venue
4. toss_winner
5. toss_decision
6. winner
7. by_what
8. by_how_many
9. Man_of_Match
10. Batsman_striekrate

In [22]:
SR_21.columns

Index(['battingteam', 'bowlingteam', 'matchid', 'batsmanname', '0'], dtype='object')

In [23]:
df.to_csv("data_21.csv")
df_21 = pd.read_csv("/workspace/dream11_prediction/PPP/data_21.csv")
df_21 = df_21.sort_values(by=["matchid"])
SR_21.rename(columns={'0':'SR'},inplace=True)

In [44]:
SR_21 = SR_21.sort_values(by=["matchid"])
SR_21.head(12)

,battingteam,bowlingteam,matchid,batsmanname,SR
337,Mumbai Indians,Royal Challengers Bangalore,1254058,KH Pandya,114.285714
340,Mumbai Indians,Royal Challengers Bangalore,1254058,SA Yadav,139.130435
339,Mumbai Indians,Royal Challengers Bangalore,1254058,RG Sharma,126.666667
336,Mumbai Indians,Royal Challengers Bangalore,1254058,KA Pollard,77.777778
335,Mumbai Indians,Royal Challengers Bangalore,1254058,JJ Bumrah,50.000000
592,Royal Challengers Bangalore,Mumbai Indians,1254058,AB de Villiers,177.777778
593,Royal Challengers Bangalore,Mumbai Indians,1254058,Dan Christian,33.333333
594,Royal Challengers Bangalore,Mumbai Indians,1254058,GJ Maxwell,141.379310
595,Royal Challengers Bangalore,Mumbai Indians,1254058,HV Patel,133.333333
338,Mumbai Indians,Royal Challengers Bangalore,1254058,Marco Jansen,0.000000
597,Royal Challengers Bangalore,Mumbai Indians,1254058,M Siraj,100.000000
598,Royal Challengers Bangalore,Mumbai Indians,1254058,Rajat Patidar,112.500000

In [33]:
SR_21.tail(5)

,battingteam,bowlingteam,matchid,batsmanname,SR
68,Chennai Super Kings,Royal Challengers Bangalore,1254113,F du Plessis,123.076923
561,Royal Challengers Bangalore,Chennai Super Kings,1254113,AB de Villiers,118.181818
70,Chennai Super Kings,Royal Challengers Bangalore,1254113,MS Dhoni,122.222222
566,Royal Challengers Bangalore,Chennai Super Kings,1254113,V Kohli,131.707317
562,Royal Challengers Bangalore,Chennai Super Kings,1254113,Devdutt Padikkal,143.137255

In [43]:
df_21.tail(5)

,battingteam,bowlingteam,matchid,batsmanname,total_runs,duck,Sixes,Fours,balls,Fifties,hundreds,dreamll_score
69,Chennai Super Kings,Royal Challengers Bangalore,1254113,MM Ali,24,0,2.0,0.0,19,0,0,32.0
68,Chennai Super Kings,Royal Challengers Bangalore,1254113,F du Plessis,32,0,2.0,2.0,26,0,0,42.0
561,Royal Challengers Bangalore,Chennai Super Kings,1254113,AB de Villiers,13,0,1.0,0.0,11,0,0,19.0
566,Royal Challengers Bangalore,Chennai Super Kings,1254113,V Kohli,54,0,1.0,6.0,41,1,0,74.0
562,Royal Challengers Bangalore,Chennai Super Kings,1254113,Devdutt Padikkal,73,0,3.0,5.0,51,1,0,96.0

In [32]:
result = df_21['matchid'].equals(SR_21['matchid'])
print(result)

False

In [35]:
SR_21.to_csv("s.csv")
check = pd.read_csv("/workspace/dream11_prediction/PPP/s.csv")
check

,Unnamed: 0,battingteam,bowlingteam,matchid,batsmanname,SR
0,337,Mumbai Indians,Royal Challengers Bangalore,1254058,KH Pandya,114.285714
1,334,Mumbai Indians,Royal Challengers Bangalore,1254058,Ishan Kishan,145.000000
2,333,Mumbai Indians,Royal Challengers Bangalore,1254058,HH Pandya,130.000000
3,332,Mumbai Indians,Royal Challengers Bangalore,1254058,CA Lynn,142.857143
4,601,Royal Challengers Bangalore,Mumbai Indians,1254058,Washington Sundar,106.666667
...,...,...,...,...,...,...
736,68,Chennai Super Kings,Royal Challengers Bangalore,1254113,F du Plessis,123.076923
737,561,Royal Challengers Bangalore,Chennai Super Kings,1254113,AB de Villiers,118.181818
738,70,Chennai Super Kings,Royal Challengers Bangalore,1254113,MS Dhoni,122.222222
739,566,Royal Challengers Bangalore,Chennai Super Kings,1254113,V Kohli,131.707317
740,562,Royal Challengers Bangalore,Chennai Super Kings,1254113,Devdutt Padikkal,143.137255

In [39]:
check.nunique()

Unnamed: 0     741
battingteam      8
bowlingteam      8
matchid         49
batsmanname    143
SR             293
dtype: int64

In [41]:
df_21.to_csv("c.csv")
check1 = pd.read_csv("/workspace/dream11_prediction/PPP/c.csv")
check1.nunique()

Unnamed: 0       741
battingteam        8
bowlingteam        8
matchid           49
batsmanname      143
total_runs        91
duck               2
Sixes              9
Fours             14
balls             61
Fifties            2
hundreds           2
dreamll_score    111
dtype: int64

In [15]:
type(total_runs)

pandas.core.frame.DataFrame

In [16]:
df.to_csv("runs.csv")

In [18]:
df2021_ = pd.read_csv("/workspace/dream11_prediction/PPP/runs.csv")

In [19]:
df_.columns

Index(['battingteam', 'bowlingteam', 'matchid', 'batsmanname', 'total_runs',
       'duck', 'Sixes', 'Fours', 'balls', 'Fifties', 'hundreds', 'runs',
       'dreamll_score'],
      dtype='object')

In [20]:
df_2021.battingteam.unique()

array(['Kolkata Knight Riders', 'Punjab Kings', 'Sunrisers Hyderabad',
       'Chennai Super Kings', 'Rajasthan Royals',
       'Royal Challengers Bangalore', 'Mumbai Indians', 'Delhi Capitals'],
      dtype=object)

In [21]:
df_.head(40)

,battingteam,bowlingteam,matchid,batsmanname,total_runs,duck,Sixes,Fours,balls,Fifties,hundreds,runs,dreamll_score
0,Chennai Super Kings,Delhi Capitals,1254059,AS Raut,7,0,0.0,1.0,9,0,0,0.0,1.0
1,Chennai Super Kings,Delhi Capitals,1254059,AT Rayudu,28,0,1.0,2.0,16,0,0,14.0,18.0
2,Chennai Super Kings,Delhi Capitals,1254059,F du Plessis,0,1,0.0,0.0,3,0,0,0.0,-2.0
3,Chennai Super Kings,Delhi Capitals,1254059,MM Ali,36,0,2.0,4.0,24,0,0,8.0,16.0
4,Chennai Super Kings,Delhi Capitals,1254059,MS Dhoni,0,1,0.0,0.0,2,0,0,0.0,-2.0
5,Chennai Super Kings,Delhi Capitals,1254059,RA Jadeja,27,0,0.0,3.0,17,0,0,0.0,3.0
6,Chennai Super Kings,Delhi Capitals,1254059,SM Curran,35,0,2.0,4.0,16,0,0,7.0,15.0
7,Chennai Super Kings,Delhi Capitals,1254059,Suresh Raina,55,0,4.0,3.0,36,1,0,19.0,38.0
8,Chennai Super Kings,Kolkata Knight Riders,1254072,AS Raut,66,0,4.0,6.0,40,1,0,18.0,40.0
9,Chennai Super Kings,Kolkata Knight Riders,1254072,F du Plessis,99,0,4.0,9.0,61,1,0,39.0,64.0
10,Chennai Super Kings,Kolkata Knight Riders,1254072,MM Ali,30,0,2.0,2.0,13,0,0,10.0,16.0
11,Chennai Super Kings,Kolkata Knight Riders,1254072,MS Dhoni,19,0,1.0,2.0,9,0,0,5.0,9.0
12,Chennai Super Kings,Kolkata Knight Riders,1254072,RA Jadeja,6,0,1.0,0.0,1,0,0,0.0,2.0
13,Chennai Super Kings,Kolkata Knight Riders,1254098,AS Raut,40,0,3.0,2.0,28,0,0,14.0,22.0
14,Chennai Super Kings,Kolkata Knight Riders,1254098,AT Rayudu,11,0,0.0,1.0,10,0,0,0.0,1.0
15,Chennai Super Kings,Kolkata Knight Riders,1254098,DL Chahar,1,0,0.0,0.0,1,0,0,0.0,0.0
16,Chennai Super Kings,Kolkata Knight Riders,1254098,F du Plessis,44,0,0.0,7.0,30,0,0,0.0,7.0
17,Chennai Super Kings,Kolkata Knight Riders,1254098,MM Ali,33,0,1.0,2.0,29,0,0,19.0,23.0
18,Chennai Super Kings,Kolkata Knight Riders,1254098,MS Dhoni,2,0,0.0,0.0,4,0,0,0.0,0.0
19,Chennai Super Kings,Kolkata Knight Riders,1254098,RA Jadeja,22,0,2.0,2.0,8,0,0,2.0,8.0
20,Chennai Super Kings,Kolkata Knight Riders,1254098,SM Curran,4,0,0.0,0.0,4,0,0,0.0,0.0
21,Chennai Super Kings,Kolkata Knight Riders,1254098,SN Thakur,3,0,0.0,0.0,2,0,0,0.0,0.0
22,Chennai Super Kings,Kolkata Knight Riders,1254098,Suresh Raina,12,0,0.0,1.0,7,0,0,0.0,1.0
23,Chennai Super Kings,Mumbai Indians,1254084,AS Raut,4,0,0.0,1.0,4,0,0,0.0,1.0
24,Chennai Super Kings,Mumbai Indians,1254084,AT Rayudu,74,0,6.0,4.0,26,1,0,22.0,46.0
25,Chennai Super Kings,Mumbai Indians,1254084,F du Plessis,50,0,4.0,2.0,28,1,0,18.0,36.0
26,Chennai Super Kings,Mumbai Indians,1254084,MM Ali,60,0,5.0,5.0,36,1,0,10.0,33.0
27,Chennai Super Kings,Mumbai Indians,1254084,RA Jadeja,28,0,0.0,2.0,25,0,0,0.0,2.0
28,Chennai Super Kings,Mumbai Indians,1254084,Suresh Raina,2,0,0.0,0.0,4,0,0,0.0,0.0
29,Chennai Super Kings,Mumbai Indians,1254104,AS Raut,90,0,4.0,9.0,58,1,0,30.0,55.0
30,Chennai Super Kings,Mumbai Indians,1254104,AT Rayudu,1,0,0.0,0.0,3,0,0,0.0,0.0
31,Chennai Super Kings,Mumbai Indians,1254104,DJ Bravo,24,0,3.0,0.0,9,0,0,0.0,6.0
32,Chennai Super Kings,Mumbai Indians,1254104,F du Plessis,0,1,0.0,0.0,3,0,0,0.0,-2.0
33,Chennai Super Kings,Mumbai Indians,1254104,MM Ali,0,1,0.0,0.0,3,0,0,0.0,-2.0
34,Chennai Super Kings,Mumbai Indians,1254104,MS Dhoni,3,0,0.0,0.0,5,0,0,0.0,0.0
35,Chennai Super Kings,Mumbai Indians,1254104,RA Jadeja,33,0,0.0,2.0,36,0,0,0.0,2.0
36,Chennai Super Kings,Mumbai Indians,1254104,SN Thakur,1,0,0.0,0.0,1,0,0,0.0,0.0
37,Chennai Super Kings,Mumbai Indians,1254104,Suresh Raina,4,0,0.0,1.0,6,0,0,0.0,1.0
38,Chennai Super Kings,Punjab Kings,1254065,AS Raut,5,0,0.0,0.0,16,0,0,0.0,0.0
39,Chennai Super Kings,Punjab Kings,1254065,AT Rayudu,0,1,0.0,0.0,1,0,0,0.0,-2.0

In [22]:
df_.sort_values(by=["matchid"])

,battingteam,bowlingteam,matchid,batsmanname,total_runs,duck,Sixes,Fours,balls,Fifties,hundreds,runs,dreamll_score
337,Mumbai Indians,Royal Challengers Bangalore,1254058,KH Pandya,8,0,0.0,0.0,7,0,0,0.0,0.0
334,Mumbai Indians,Royal Challengers Bangalore,1254058,Ishan Kishan,29,0,1.0,2.0,20,0,0,15.0,19.0
333,Mumbai Indians,Royal Challengers Bangalore,1254058,HH Pandya,13,0,0.0,2.0,10,0,0,0.0,2.0
332,Mumbai Indians,Royal Challengers Bangalore,1254058,CA Lynn,50,0,3.0,4.0,35,1,0,16.0,34.0
601,Royal Challengers Bangalore,Mumbai Indians,1254058,Washington Sundar,16,0,0.0,0.0,15,0,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,Chennai Super Kings,Royal Challengers Bangalore,1254113,MM Ali,24,0,2.0,0.0,19,0,0,0.0,4.0
68,Chennai Super Kings,Royal Challengers Bangalore,1254113,F du Plessis,32,0,2.0,2.0,26,0,0,12.0,18.0
561,Royal Challengers Bangalore,Chennai Super Kings,1254113,AB de Villiers,13,0,1.0,0.0,11,0,0,0.0,2.0
566,Royal Challengers Bangalore,Chennai Super Kings,1254113,V Kohli,54,0,1.0,6.0,41,1,0,24.0,40.0
562,Royal Challengers Bangalore,Chennai Super Kings,1254113,Devdutt Padikkal,73,0,3.0,5.0,51,1,0,35.0,54.0

In [23]:
df_2021['battingteam'].unique()

array(['Kolkata Knight Riders', 'Punjab Kings', 'Sunrisers Hyderabad',
       'Chennai Super Kings', 'Rajasthan Royals',
       'Royal Challengers Bangalore', 'Mumbai Indians', 'Delhi Capitals'],
      dtype=object)

In [24]:

total_runss = pd.DataFrame(df_2021[df_2021['battingteam']=="Kolkata Knight Riders"].groupby(['matchid','batsmanname'])['scorevalue'].sum()).\
       rename(columns={"scorevalue": "total_runs"})

In [25]:
total_runss[total_runss['total_runs']==0]

                            total_runs
matchid batsmanname
1254062 PJ Cummins                   0
1254072 Kamlesh Nagarkoti            0
        M Prasidh Krishna            0
        Shubman Gill                 0
        Varun Chakravarthy           0
1254078 N Rana                       0
1254082 SP Narine                    0
1254092 EJG Morgan                   0

In [26]:
data.shape

(197283, 15)

### 2018-2020

In [4]:
data.shape

(197283, 15)

In [5]:
df18_20 = data[150316:].copy()

In [6]:
df18_20.head()

,ball,batsmanname,batsmanscorevalue,battingteam,bowlername,bowlingteam,date,fallofwickets,innings,matchid,nonstrikername,over,scorevalue,target,totalruns
150316,24,RG Sharma,0,Mumbai Indians,SR Watson,Chennai Super Kings,07-04-2018,2,1st innings,1136561,Ishan Kishan,3.6,0,0,20
150317,23,RG Sharma,0,Mumbai Indians,SR Watson,Chennai Super Kings,07-04-2018,1,1st innings,1136561,Ishan Kishan,3.5,0,0,20
150318,49,Ishan Kishan,0,Mumbai Indians,RA Jadeja,Chennai Super Kings,07-04-2018,2,1st innings,1136561,SA Yadav,7.6,0,0,52
150319,21,RG Sharma,0,Mumbai Indians,SR Watson,Chennai Super Kings,07-04-2018,1,1st innings,1136561,Ishan Kishan,3.3,1,0,14
150320,20,RG Sharma,0,Mumbai Indians,SR Watson,Chennai Super Kings,07-04-2018,1,1st innings,1136561,Ishan Kishan,3.2,0,0,13

In [7]:
df18_20.tail()

,ball,batsmanname,batsmanscorevalue,battingteam,bowlername,bowlingteam,date,fallofwickets,innings,matchid,nonstrikername,over,scorevalue,target,totalruns
197278,114,KD Karthik,1,Kolkata Knight Riders,P Kumar,Sunrisers Hyderabad,"1 2021-10-03\nName: date, dtype: object",0,2nd innings,1254109,EJG Morgan,18.6,1,116,0
197279,115,KD Karthik,0,Kolkata Knight Riders,S Kaul,Sunrisers Hyderabad,"1 2021-10-03\nName: date, dtype: object",0,2nd innings,1254109,EJG Morgan,19.1,0,116,0
197280,116,KD Karthik,1,Kolkata Knight Riders,S Kaul,Sunrisers Hyderabad,"1 2021-10-03\nName: date, dtype: object",0,2nd innings,1254109,EJG Morgan,19.2,1,116,0
197281,117,EJG Morgan,1,Kolkata Knight Riders,S Kaul,Sunrisers Hyderabad,"1 2021-10-03\nName: date, dtype: object",0,2nd innings,1254109,KD Karthik,19.3,1,116,0
197282,118,KD Karthik,4,Kolkata Knight Riders,S Kaul,Sunrisers Hyderabad,"1 2021-10-03\nName: date, dtype: object",0,2nd innings,1254109,EJG Morgan,19.4,4,116,0

In [8]:
#total_runs
total_runs = pd.DataFrame(df18_20.groupby(['battingteam','bowlingteam','matchid','batsmanname'])['scorevalue'].sum()).\
       rename(columns={"scorevalue": "total_runs"})

#number of sixes
batsmen_scores6 = pd.DataFrame(df18_20[df18_20['scorevalue'] == 6].groupby(['battingteam','bowlingteam','matchid', 'batsmanname'])['scorevalue'].count()).\
            rename(columns={"scorevalue": "run_6"})

#number of fours
batsmen_scores4 = pd.DataFrame(df18_20[df18_20['scorevalue'] == 4].groupby(['battingteam','bowlingteam','matchid', 'batsmanname'])['scorevalue'].count()).\
            rename(columns={"scorevalue": "run_4"})

#no of balls
batsmen_ball_faced_legal = pd.DataFrame(df18_20.groupby(['battingteam','bowlingteam','matchid', 'batsmanname'])['over'].nunique()).\
            rename(columns={"over": "total_legal_balls_faced"})

#strikerate
batsmen_Strikerate = pd.DataFrame((df18_20.groupby(['battingteam','bowlingteam','matchid','batsmanname'])['scorevalue'].sum()/df18_20.groupby(['battingteam','bowlingteam','matchid', 'batsmanname'])['over'].nunique())*100).\
       rename(columns={"scorevalue":"strike_rate"})

#fifties
fifties = pd.DataFrame((df18_20.groupby(['battingteam','bowlingteam','matchid','batsmanname'])['scorevalue'].sum() >= 50)  
                       ).\
       rename(columns={"scorevalue": "50's"})
#hundreds
hundreds = pd.DataFrame(df18_20.groupby(['battingteam','bowlingteam','matchid','batsmanname'])['scorevalue'].sum() >= 100  ).\
       rename(columns={"scorevalue": "100's"})

#duck
duck  = pd.DataFrame(df18_20.groupby(['battingteam','bowlingteam','matchid','batsmanname'])['scorevalue'].sum() == 0).\
        rename(columns={"scorevalue": "duck"})

In [9]:
total_runs['duck'] = duck
total_runs['Sixes'] = batsmen_scores6
total_runs['Fours'] = batsmen_scores4
# total_runs['runs'] 
total_runs['balls'] = batsmen_ball_faced_legal
total_runs['Fifties'] = fifties
total_runs['hundreds'] = hundreds

In [11]:
batsmen_Strikerate.to_csv("strikerate.csv")

In [12]:
# total_runs['runs'] = total_runs['total_runs'] - (total_runs['Sixes']*6 + total_runs['Fours']*4)
df_strike = pd.read_csv("/workspace/dream11_prediction/PPP/strikerate.csv")

In [19]:
# df_strike.head(50)

In [20]:
# total_runs.head(2)
df = total_runs.copy()
df.hundreds = df.hundreds.replace({True: 1, False: 0})
df.Fifties = df.Fifties.replace({True: 1, False: 0})
df.duck = df.duck.replace({True: 1, False: 0})
# df.Sixes = df.Sixes.replace({True: 1, False: 0})
df = df.fillna(0)

In [21]:
# dreamll_score = (df['runs'] + df['Sixes']*6 + df['Sixes']*2 + df['Fours']*4 + df['Fours'] + df['Fifties']*8 + df['hundreds']*16 + 4 )- df['duck']*2
# df['dreamll_score'] = dreamll_score
dreamll_score = df['total_runs'] + df['Sixes']*2 + df['Fours'] + df['Fifties']*8 + df['hundreds']*16 - df['duck']*2 + 4
df['dreamll_score'] = dreamll_score

In [22]:
df.head(45)

                                                           total_runs  duck  \
battingteam         bowlingteam      matchid batsmanname
Chennai Super Kings Delhi Capitals   1175360 AT Rayudu              5     0
                                             DJ Bravo               4     0
                                             KM Jadhav             28     0
                                             MS Dhoni              34     0
                                             SK Raina              34     0
                                             SR Watson             45     0
                                     1178425 AT Rayudu              7     0
                                             F du Plessis          42     0
                                             MS Dhoni              45     0
                                             RA Jadeja             25     0
                                             SK Raina              60     0
                                             SR Watson              0     1
                                     1181767 AT Rayudu             20     0
                                             DJ Bravo               4     0
                                             F du Plessis          50     0
                                             MS Dhoni              10     0
                                             SK Raina              11     0
                                             SR Watson             56     0
                                     1216539 AS Raut               10     0
                                             F du Plessis          90     0
                                             KM Jadhav             54     0
                                             M Vijay               20     0
                                             MS Dhoni              30     0
                                             RA Jadeja             28     0
                                             SM Curran              2     0
                                             SR Watson             28     0
                                     1254059 AS Raut                7     0
                                             AT Rayudu             28     0
                                             F du Plessis           0     1
                                             MM Ali                36     0
                                             MS Dhoni               0     1
                                             RA Jadeja             27     0
                                             SM Curran             35     0
                                             Suresh Raina          55     0
                    Delhi Daredevils 1136590 AT Rayudu             43     0
                                             F du Plessis          36     0
                                             MS Dhoni              52     0
                                             SK Raina               1     0
                                             SR Watson             79     0
                                     1136612 AT Rayudu             50     0
                                             DJ Bravo               1     0
                                             DL Chahar              1     0
                                             MS Dhoni              17     0
                                             RA Jadeja             28     0
                                             SK Raina              15     0

                                                           Sixes  Fours  \
battingteam         bowlingteam      matchid batsmanname
Chennai Super Kings Delhi Capitals   1175360 AT Rayudu       0.0    1.0
                                             DJ Bravo        0.0    1.0
                                             KM Jadhav       0.0    2.0
                                             MS Dhoni        1.0    2.0
                                             SK Raina        1.0    5.0
                                             SR Watson       3.0    4.0
                                     1178425 AT Rayudu       0.0    1.0
                                             F du Plessis    2.0    2.0
                                             MS Dhoni        2.0    4.0
                                             RA Jadeja       2.0    2.0
                                             SK Raina        1.0    8.0
                                             SR Watson       0.0    0.0
                                     1181767 AT Rayudu       0.0    3.0
                                             DJ Bravo        0.0    1.0
                                             F du Plessis    1.0    7.0
                                             MS Dhoni        0.0    1.0
                                             SK Raina        0.0    0.0
                                             SR Watson       4.0    3.0
                                     1216539 AS Raut         0.0    0.0
                                             F du Plessis    0.0    8.0
                                             KM Jadhav       0.0    6.0
                                             M Vijay         0.0    2.0
                                             MS Dhoni        0.0    4.0
                                             RA Jadeja       0.0    2.0
                                             SM Curran       0.0    0.0
                                             SR Watson       2.0    2.0
                                     1254059 AS Raut         0.0    1.0
                                             AT Rayudu       1.0    2.0
                                             F du Plessis    0.0    0.0
                                             MM Ali          2.0    4.0
                                             MS Dhoni        0.0    0.0
                                             RA Jadeja       0.0    3.0
                                             SM Curran       2.0    4.0
                                             Suresh Raina    4.0    3.0
                    Delhi Daredevils 1136590 AT Rayudu       1.0    5.0
                                             F du Plessis    1.0    3.0
                                             MS Dhoni        5.0    2.0
                                             SK Raina        0.0    0.0
                                             SR Watson       7.0    4.0
                                     1136612 AT Rayudu       4.0    4.0
                                             DJ Bravo        0.0    0.0
                                             DL Chahar       0.0    0.0
                                             MS Dhoni        0.0    1.0
                                             RA Jadeja       2.0    0.0
                                             SK Raina        0.0    1.0

                                                           balls  Fifties  \
battingteam         bowlingteam      matchid batsmanname
Chennai Super Kings Delhi Capitals   1175360 AT Rayudu         5        0
                                             DJ Bravo          3        0
                                             KM Jadhav        34        0
                                             MS Dhoni         36        0
                                             SK Raina         16        0
                                             SR Watson        27        0
                                     1178425 AT Rayudu         3        0
                                             F du Plessis     43        0
                                             MS Dhoni         22        0
                                             RA Jadeja        10        0
                                             SK Raina         38        1
                                             SR Watson         9        0
                                     1181767 AT Rayudu        20        0
                                             DJ Bravo          1        0
                                             F du Plessis     39        1
                                             MS Dhoni          9        0
                                             SK Raina         13        0
                                             SR Watson        34        1
                                     1216539 AS Raut          10        0
                                             F du Plessis     36        1
                                             KM Jadhav        21        1
                                             M Vijay          15        0
                                             MS Dhoni         12        0
                                             RA Jadeja        10        0
                                             SM Curran         2        0
                                             SR Watson        16        0
                                     1254059 AS Raut           9        0
                                             AT Rayudu        16        0
                                             F du Plessis      3        0
                                             MM Ali           24        0
                                             MS Dhoni          2        0
                                             RA Jadeja        17        0
                                             SM Curran        16        0
                                             Suresh Raina     36        1
                    Delhi Daredevils 1136590 AT Rayudu        26        0
                                             F du Plessis     33        0
                                             MS Dhoni         22        1
                                             SK Raina          2        0
                                             SR Watson        41        1
                                     1136612 AT Rayudu        29        1
                                             DJ Bravo          2        0
                                             DL Chahar         2        0
                                             MS Dhoni         23        0
                                             RA Jadeja        18        0
                                             SK Raina         18        0

                                                           hundreds  \
battingteam         bowlingteam      matchid batsmanname
Chennai Super Kings Delhi Capitals   1175360 AT Rayudu            0
                                             DJ Bravo             0
                                             KM Jadhav            0
                                             MS Dhoni             0
                                             SK Raina             0
                                             SR Watson            0
                                     1178425 AT Rayudu            0
                                             F du Plessis         0
                                             MS Dhoni             0
                                             RA Jadeja            0
                                             SK Raina             0
                                             SR Watson            0
                                     1181767 AT Rayudu            0
                                             DJ Bravo             0
                                             F du Plessis         0
                                             MS Dhoni             0
                                             SK Raina             0
                                             SR Watson            0
                                     1216539 AS Raut              0
                                             F du Plessis         0
                                             KM Jadhav            0
                                             M Vijay              0
                                             MS Dhoni             0
                                             RA Jadeja            0
                                             SM Curran            0
                                             SR Watson            0
                                     1254059 AS Raut              0
                                             AT Rayudu            0
                                             F du Plessis         0
                                             MM Ali               0
                                             MS Dhoni             0
                                             RA Jadeja            0
                                             SM Curran            0
                                             Suresh Raina         0
                    Delhi Daredevils 1136590 AT Rayudu            0
                                             F du Plessis         0
                                             MS Dhoni             0
                                             SK Raina             0
                                             SR Watson            0
                                     1136612 AT Rayudu            0
                                             DJ Bravo             0
                                             DL Chahar            0
                                             MS Dhoni             0
                                             RA Jadeja            0
                                             SK Raina             0

                                                           dreamll_score
battingteam         bowlingteam      matchid batsmanname
Chennai Super Kings Delhi Capitals   1175360 AT Rayudu              10.0
                                             DJ Bravo                9.0
                                             KM Jadhav              34.0
                                             MS Dhoni               42.0
                                             SK Raina               45.0
                                             SR Watson              59.0
                                     1178425 AT Rayudu              12.0
                                             F du Plessis           52.0
                                             MS Dhoni               57.0
                                             RA Jadeja              35.0
                                             SK Raina               82.0
                                             SR Watson               2.0
                                     1181767 AT Rayudu              27.0
                                             DJ Bravo                9.0
                                             F du Plessis           71.0
                                             MS Dhoni               15.0
                                             SK Raina               15.0
                                             SR Watson              79.0
                                     1216539 AS Raut                14.0
                                             F du Plessis          110.0
                                             KM Jadhav              72.0
                                             M Vijay                26.0
                                             MS Dhoni               38.0
                                             RA Jadeja              34.0
                                             SM Curran               6.0
                                             SR Watson              38.0
                                     1254059 AS Raut                12.0
                                             AT Rayudu              36.0
                                             F du Plessis            2.0
                                             MM Ali                 48.0
                                             MS Dhoni                2.0
                                             RA Jadeja              34.0
                                             SM Curran              47.0
                                             Suresh Raina           78.0
                    Delhi Daredevils 1136590 AT Rayudu              54.0
                                             F du Plessis           45.0
                                             MS Dhoni               76.0
                                             SK Raina                5.0
                                             SR Watson             109.0
                                     1136612 AT Rayudu              74.0
                                             DJ Bravo                5.0
                                             DL Chahar               5.0
                                             MS Dhoni               22.0
                                             RA Jadeja              36.0
                                             SK Raina               20.0

In [23]:
df.to_csv("data18_20.csv")

In [24]:
df_ = pd.read_csv("/workspace/dream11_prediction/PPP/data18_20.csv")

In [25]:
df_ = df_.sort_values(by=["matchid"])

In [27]:
df_.head(10)

,battingteam,bowlingteam,matchid,batsmanname,total_runs,duck,Sixes,Fours,balls,Fifties,hundreds,dreamll_score
1299,Mumbai Indians,Chennai Super Kings,1136561,SA Yadav,43,0,1.0,6.0,29,0,0,55.0
124,Chennai Super Kings,Mumbai Indians,1136561,DL Chahar,0,1,0.0,0.0,1,0,0,2.0
125,Chennai Super Kings,Mumbai Indians,1136561,Harbhajan Singh,9,0,0.0,1.0,6,0,0,14.0
126,Chennai Super Kings,Mumbai Indians,1136561,Imran Tahir,2,0,0.0,0.0,2,0,0,6.0
127,Chennai Super Kings,Mumbai Indians,1136561,KM Jadhav,27,0,2.0,1.0,23,0,0,36.0
128,Chennai Super Kings,Mumbai Indians,1136561,MA Wood,3,0,0.0,0.0,5,0,0,7.0
129,Chennai Super Kings,Mumbai Indians,1136561,MS Dhoni,5,0,0.0,0.0,5,0,0,9.0
130,Chennai Super Kings,Mumbai Indians,1136561,RA Jadeja,12,0,0.0,1.0,13,0,0,17.0
131,Chennai Super Kings,Mumbai Indians,1136561,SK Raina,4,0,0.0,0.0,6,0,0,8.0
132,Chennai Super Kings,Mumbai Indians,1136561,SR Watson,16,0,1.0,1.0,14,0,0,23.0

In [28]:
df_.to_csv("data18_20_v1.csv")

In [29]:
df_strike

,battingteam,bowlingteam,matchid,batsmanname,0
0,Chennai Super Kings,Delhi Capitals,1175360,AT Rayudu,100.000000
1,Chennai Super Kings,Delhi Capitals,1175360,DJ Bravo,133.333333
2,Chennai Super Kings,Delhi Capitals,1175360,KM Jadhav,82.352941
3,Chennai Super Kings,Delhi Capitals,1175360,MS Dhoni,94.444444
4,Chennai Super Kings,Delhi Capitals,1175360,SK Raina,212.500000
...,...,...,...,...,...
2821,Sunrisers Hyderabad,Royal Challengers Bangalore,1254063,P Kumar,100.000000
2822,Sunrisers Hyderabad,Royal Challengers Bangalore,1254063,Rashid Khan,225.000000
2823,Sunrisers Hyderabad,Royal Challengers Bangalore,1254063,S Nadeem,0.000000
2824,Sunrisers Hyderabad,Royal Challengers Bangalore,1254063,V Shankar,60.000000
2825,Sunrisers Hyderabad,Royal Challengers Bangalore,1254063,WP Saha,55.555556

In [51]:
data.head(100)

,ball,batsmanname,batsmanscorevalue,battingteam,bowlername,bowlingteam,date,fallofwickets,innings,matchid,nonstrikername,over,scorevalue,target,totalruns
0,29,BB McCullum,4,Kolkata Knight Riders,P Kumar,Royal Challengers Bangalore,18-04-2008,0,1st innings,335982,SC Ganguly,4.3,4,0,59
1,30,BB McCullum,0,Kolkata Knight Riders,P Kumar,Royal Challengers Bangalore,18-04-2008,0,1st innings,335982,SC Ganguly,4.4,0,0,59
2,31,BB McCullum,1,Kolkata Knight Riders,P Kumar,Royal Challengers Bangalore,18-04-2008,0,1st innings,335982,SC Ganguly,4.5,1,0,60
3,32,SC Ganguly,0,Kolkata Knight Riders,P Kumar,Royal Challengers Bangalore,18-04-2008,0,1st innings,335982,BB McCullum,4.6,0,0,60
4,33,BB McCullum,1,Kolkata Knight Riders,Z Khan,Royal Challengers Bangalore,18-04-2008,0,1st innings,335982,SC Ganguly,5.1,1,0,61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,82,Z Khan,1,Royal Challengers Bangalore,LR Shukla,Kolkata Knight Riders,18-04-2008,8,2nd innings,335982,P Kumar,12.3,1,223,68
96,83,P Kumar,1,Royal Challengers Bangalore,LR Shukla,Kolkata Knight Riders,18-04-2008,8,2nd innings,335982,Z Khan,12.4,1,223,69
97,84,Z Khan,0,Royal Challengers Bangalore,LR Shukla,Kolkata Knight Riders,18-04-2008,8,2nd innings,335982,P Kumar,12.5,0,223,69
98,85,Z Khan,0,Royal Challengers Bangalore,LR Shukla,Kolkata Knight Riders,18-04-2008,8,2nd innings,335982,P Kumar,12.6,0,223,69
99,86,Z Khan,1,Royal Challengers Bangalore,LR Shukla,Kolkata Knight Riders,18-04-2008,8,2nd innings,335982,P Kumar,12.7,1,223,70

In [34]:
demo = pd.read_csv("/workspace/dream11_prediction/Data/matchsummary.csv")
# demo['date' > '7-04-2018'].head()

KeyError: True

In [49]:
demo[demo.matchid >= 1136561].head()

,matchid,date,year,city,venue,team1,team2,toss_winner,toss_decision,winner,by_what,by_how_many,mom,result,tossdecision
9,1178422,28-04-2019 00:00,2019,Kolkata,Eden Gardens,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,Kolkata Knight Riders,runs,34,AD Russell,NaN,NaN
15,1181768,12-05-2019 00:00,2019,Hyderabad,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,Mumbai Indians,runs,1,JJ Bumrah,NaN,NaN
26,1136561,07-04-2018 00:00,2018,Mumbai,Wankhede Stadium,Mumbai Indians,Chennai Super Kings,Chennai Super Kings,field,Chennai Super Kings,wickets,1,DJ Bravo,NaN,NaN
29,1178418,25-04-2019 00:00,2019,Kolkata,Eden Gardens,Kolkata Knight Riders,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,3,VR Aaron,NaN,NaN
38,1136609,15-05-2018 00:00,2018,Kolkata,Eden Gardens,Kolkata Knight Riders,Rajasthan Royals,Kolkata Knight Riders,field,Kolkata Knight Riders,wickets,6,Kuldeep Yadav,NaN,NaN