In [2]:
import pandas as pd
import numpy as np

Batsman_name -> done
Batting_team -> done
Runs_in_last3 
<!-- Runs_in_lastseason  -->
Strike_rate  --> done
4 -> done
6 -> done
50's --> done
100's --> done
Runs -> done
Duck  --> done
Batting_position --> done
<!-- Bowler_name -->
Bowling_team -> done
Dream11_score

In [3]:
data = pd.read_csv("/workspace/dream11_prediction/Data/matchdata.csv")

/tmp/ipykernel_933/460034015.py:1: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("/workspace/dream11_prediction/Data/matchdata.csv")

In [4]:
data.tail(3)

,ball,batsmanname,batsmanscorevalue,battingteam,bowlername,bowlingteam,date,fallofwickets,innings,matchid,nonstrikername,over,scorevalue,target,totalruns
197280,116,KD Karthik,1,Kolkata Knight Riders,S Kaul,Sunrisers Hyderabad,"1 2021-10-03\nName: date, dtype: object",0,2nd innings,1254109,EJG Morgan,19.2,1,116,0
197281,117,EJG Morgan,1,Kolkata Knight Riders,S Kaul,Sunrisers Hyderabad,"1 2021-10-03\nName: date, dtype: object",0,2nd innings,1254109,KD Karthik,19.3,1,116,0
197282,118,KD Karthik,4,Kolkata Knight Riders,S Kaul,Sunrisers Hyderabad,"1 2021-10-03\nName: date, dtype: object",0,2nd innings,1254109,EJG Morgan,19.4,4,116,0

In [121]:
#data of 2021 last match
df = data[197042:].copy() 
df1 = data.copy()

In [11]:
# df = df.reset_index()
# df.drop(df["index"],inplace=True)
df.head(2)

,ball,batsmanname,batsmanscorevalue,battingteam,bowlername,bowlingteam,date,fallofwickets,innings,matchid,nonstrikername,over,scorevalue,target,totalruns
197042,1,Jason Roy,1,Sunrisers Hyderabad,Tim Southee,Kolkata Knight Riders,"1 2021-10-03\nName: date, dtype: object",0,1st innings,1254109,WP Saha,0.1,1,0,1
197043,2,WP Saha,0,Sunrisers Hyderabad,Tim Southee,Kolkata Knight Riders,"1 2021-10-03\nName: date, dtype: object",1,1st innings,1254109,Jason Roy,0.2,0,0,1

In [20]:
# df['date'].values_count()

In [95]:
df.groupby(['matchid','batsmanname'])['scorevalue'].sum()

matchid  batsmanname
1254109  A Samad            25
         Abhishek Sharma     6
         EJG Morgan          2
         JO Holder           4
         Jason Roy          11
         KD Karthik         18
         KS Williamson      26
         N Rana             27
         P Garg             21
         P Kumar             7
         RA Tripathi         7
         Rashid Khan         8
         S Kaul              7
         Shubman Gill       57
         Venkatesh Iyer      8
         WP Saha             0
Name: scorevalue, dtype: int64

In [22]:
# data = pd.DataFrame(data)
data.groupby(['matchid','batsmanname'])['scorevalue'].sum()

matchid  batsmanname
335982   AA Noffke                      11
         B Akhil                         0
         BB McCullum                   169
         CL White                        6
         DJ Hussey                      12
                                      ...
1254113  MS Dhoni                       11
         Suresh Raina                   18
         Tim David                       1
         V Kohli                        54
         Wanindu Hasaranga de Silva      1
Name: scorevalue, Length: 12335, dtype: int64

In [77]:
df.groupby(['battingteam','matchid','batsmanname'])['scorevalue'].sum()

battingteam            matchid  batsmanname
Kolkata Knight Riders  1254109  EJG Morgan          2
                                KD Karthik         18
                                N Rana             27
                                RA Tripathi         7
                                Shubman Gill       57
                                Venkatesh Iyer      8
Sunrisers Hyderabad    1254109  A Samad            25
                                Abhishek Sharma     6
                                JO Holder           4
                                Jason Roy          11
                                KS Williamson      26
                                P Garg             21
                                P Kumar             7
                                Rashid Khan         8
                                S Kaul              7
                                WP Saha             0
Name: scorevalue, dtype: int64

In [96]:
#total_runs
total_runs = pd.DataFrame(df.groupby(['battingteam','matchid','batsmanname'])['scorevalue'].sum()).\
       rename(columns={"scorevalue": "total_runs"})

#number of sixes
batsmen_scores6 = pd.DataFrame(df[df['scorevalue'] == 6].groupby(['battingteam','matchid', 'batsmanname'])['scorevalue'].count()).\
            rename(columns={"scorevalue": "run_6"})

#number of fours
batsmen_scores4 = pd.DataFrame(df[df['scorevalue'] == 4].groupby(['battingteam','matchid', 'batsmanname'])['scorevalue'].count()).\
            rename(columns={"scorevalue": "run_4"})

#no of balls
batsmen_ball_faced_legal = pd.DataFrame(df.groupby(['battingteam','matchid', 'batsmanname'])['over'].nunique()).\
            rename(columns={"over": "total_legal_balls_faced"})

#strikerate
batsmen_Strikerate = pd.DataFrame((df.groupby(['battingteam','matchid','batsmanname'])['scorevalue'].sum()/df.groupby(['matchid', 'batsmanname'])['over'].nunique())*100)

#fifties
fifties = pd.DataFrame((df.groupby(['battingteam','matchid','batsmanname'])['scorevalue'].sum() >= 50)  
                       ).\
       rename(columns={"scorevalue": "50's"})
#hundreds
hundreds = pd.DataFrame(df.groupby(['battingteam','matchid','batsmanname'])['scorevalue'].sum() >= 100  ).\
       rename(columns={"scorevalue": "100's"})

#duck
duck  = pd.DataFrame(df.groupby(['battingteam','matchid','batsmanname'])['scorevalue'].sum() == 0).\
        rename(columns={"scorevalue": "duck"})

#batsmen_position
batsmen_position = pd.DataFrame(df.groupby(['battingteam','matchid', 'batsmanname'])['fallofwickets'].min())

#batting_team
# batting_team = pd.DataFrame(df['battingteam'])

#batting_team
# bowling_team = pd.DataFrame(df['bowlingteam'])

### Dreamll_target_columns

In [57]:
  pointsconfig = {
        'total_runs': 1,
        'run_6': 2,
        'run_4': 1,
        '>=50': 8,
        '>=100': 16,
        'duck': -2,
  }

#normal_runs
runs = total_runs - [batsmen_scores6 + batsmen_scores4]
#dream11_score
dream11_score = 

#Precious_score
# last_3_score = pd.DataFrame(data.groupby(['matchid','batsmanname'])['scorevalue'].sum() == 0).\
#         rename(columns={"scorevalue": "Last3_score"})

#Batting_team


#Bowling_team

In [83]:
data[data['scorevalue'] == 6].groupby(['matchid', 'batsmanname'])['scorevalue'].count()

matchid  batsmanname
335982   BB McCullum     13
         JH Kallis        1
         P Kumar          2
         RT Ponting       1
335983   JDP Oram         1
                         ..
1254113  F du Plessis     2
         GJ Maxwell       1
         MM Ali           2
         Suresh Raina     1
         V Kohli          1
Name: scorevalue, Length: 4583, dtype: int64

In [77]:
runs = pd.DataFrame(data.groupby(['matchid','batsmanname'])['scorevalue'].sum() - 
      (data[data['scorevalue'] == 6].groupby(['matchid', 'batsmanname'])['scorevalue'].count()*6 + 
      data[data['scorevalue'] == 4].groupby(['matchid', 'batsmanname'])['scorevalue'].count()*4))

In [78]:
# total_runs
# batsmen_scores4
runs

                                    scorevalue
matchid batsmanname
335982  AA Noffke                          NaN
        B Akhil                            NaN
        BB McCullum                       51.0
        CL White                           NaN
        DJ Hussey                          NaN
...                                        ...
1254113 MS Dhoni                           NaN
        Suresh Raina                       4.0
        Tim David                          NaN
        V Kohli                           24.0
        Wanindu Hasaranga de Silva         NaN

[12335 rows x 1 columns]

### Merging

In [91]:
# df1.s
# total_runs
# batsmen_scores6
# batsmen_ball_faced_legal
# batsmen_Strikerate
# fifties
# hundreds
# duck.head(3)

                                                50's
battingteam           matchid batsmanname
Kolkata Knight Riders 1254109 EJG Morgan       False
                              KD Karthik       False
                              N Rana           False
                              RA Tripathi      False
                              Shubman Gill      True
                              Venkatesh Iyer   False
Sunrisers Hyderabad   1254109 A Samad          False
                              Abhishek Sharma  False
                              JO Holder        False
                              Jason Roy        False
                              KS Williamson    False
                              P Garg           False
                              P Kumar          False
                              Rashid Khan      False
                              S Kaul           False
                              WP Saha          False

In [98]:
# df1.head(30)
total_runs['duck'] = duck['duck']
total_runs['Sixes'] = batsmen_scores6['run_6']
total_runs['Fours'] = batsmen_scores4['run_4']
total_runs['balls'] = batsmen_ball_faced_legal['total_legal_balls_faced']
# total_runs['strike_rate'] = batsmen_Strikerate['0']
total_runs['fifties'] = fifties['50\'s'] 
total_runs['hundreds'] = hundreds['100\'s'] 
# total_runs[''] =

In [120]:
# batsmen_Strikerate = pd.DataFrame(batsmen_Strikerate)
# batsmen_Strikerate['0'].head()
batsmen_Strikerate

                                                        0
matchid batsmanname     battingteam
1254109 A Samad         Sunrisers Hyderabad    138.888889
        Abhishek Sharma Sunrisers Hyderabad     60.000000
        EJG Morgan      Kolkata Knight Riders  100.000000
        JO Holder       Sunrisers Hyderabad     44.444444
        Jason Roy       Sunrisers Hyderabad     91.666667
        KD Karthik      Kolkata Knight Riders  150.000000
        KS Williamson   Sunrisers Hyderabad    123.809524
        N Rana          Kolkata Knight Riders   81.818182
        P Garg          Sunrisers Hyderabad     67.741935
        P Kumar         Sunrisers Hyderabad    100.000000
        RA Tripathi     Kolkata Knight Riders  116.666667
        Rashid Khan     Sunrisers Hyderabad    133.333333
        S Kaul          Sunrisers Hyderabad    140.000000
        Shubman Gill    Kolkata Knight Riders  111.764706
        Venkatesh Iyer  Kolkata Knight Riders   57.142857
        WP Saha         Sunrisers Hyderabad      0.000000

Date
runs
venue
bowlingteam
strike_rate
Dream_11 score

In [102]:
# total_runs = total_runs.fillna(0)
total_runs = pd.DataFrame(total_runs)
total_runs

                                               total_runs   duck  Sixes  \
battingteam           matchid batsmanname
Kolkata Knight Riders 1254109 EJG Morgan                2  False    0.0
                              KD Karthik               18  False    0.0
                              N Rana                   27  False    0.0
                              RA Tripathi               7  False    0.0
                              Shubman Gill             57  False    0.0
                              Venkatesh Iyer            8  False    0.0
Sunrisers Hyderabad   1254109 A Samad                  25  False    3.0
                              Abhishek Sharma           6  False    0.0
                              JO Holder                 4  False    0.0
                              Jason Roy                11  False    0.0
                              KS Williamson            26  False    0.0
                              P Garg                   21  False    1.0
                              P Kumar                   7  False    0.0
                              Rashid Khan               8  False    0.0
                              S Kaul                    7  False    0.0
                              WP Saha                   0   True    0.0

                                               Fours  balls  fifties  hundreds
battingteam           matchid batsmanname
Kolkata Knight Riders 1254109 EJG Morgan         0.0      2    False     False
                              KD Karthik         3.0     12    False     False
                              N Rana             3.0     33    False     False
                              RA Tripathi        1.0      6    False     False
                              Shubman Gill      10.0     51     True     False
                              Venkatesh Iyer     0.0     14    False     False
Sunrisers Hyderabad   1254109 A Samad            0.0     18    False     False
                              Abhishek Sharma    0.0     10    False     False
                              JO Holder          0.0      9    False     False
                              Jason Roy          2.0     12    False     False
                              KS Williamson      4.0     21    False     False
                              P Garg             0.0     31    False     False
                              P Kumar            0.0      7    False     False
                              Rashid Khan        1.0      6    False     False
                              S Kaul             1.0      5    False     False
                              WP Saha            0.0      1    False     False

In [64]:
 def batsmen_summary_fun(self) -> None:
        """
        matchdata: pandas dataframe of ball by ball data for the matches
        return: batsmen_summary: pandas datarame with summary scorecard of a batsmen
        """
        batsmen_score = pd.DataFrame(self.matchdata.groupby(['matchid', 'batsmanname'])['scorevalue'].sum()).\
            rename(columns={"scorevalue": "total_runs"})
        batsmen_ball_faced = pd.DataFrame(self.matchdata.groupby(['matchid', 'batsmanname'])['over'].count()).\
            rename(columns={"over": "total_balls_faced"})
        batsmen_ball_faced_legal = pd.DataFrame(self.matchdata.groupby(['matchid', 'batsmanname'])['over'].nunique()).\
            rename(columns={"over": "total_legal_balls_faced"})
        batsmen_scores6 = pd.DataFrame(self.matchdata[self.matchdata['scorevalue'] == 6].groupby(['matchid', 'batsmanname'])['scorevalue'].count()).\
            rename(columns={"scorevalue": "run_6"})
        batsmen_scores4 = pd.DataFrame(self.matchdata[self.matchdata['scorevalue'] == 4].groupby(['matchid', 'batsmanname'])['scorevalue'].count()).\
            rename(columns={"scorevalue": "run_4"})
        batsmen_position = pd.DataFrame(self.matchdata.groupby(['matchid', 'batsmanname'])['fallofwickets'].min())
        df_list = [batsmen_score, batsmen_ball_faced, batsmen_ball_faced_legal, batsmen_scores6, batsmen_scores4, batsmen_position]
        batsmen_summary = pd.concat(df_list, join='outer', axis=1).fillna(np.nan).reset_index()
        batsmen_summary = pd.merge(batsmen_summary, self.matchdata[['matchid', 'batsmanname', 'innings', 'battingteam', 'bowlingteam']].
                                   drop_duplicates(), on=['matchid', 'batsmanname'], how='left')
        batsmen_summary.rename(columns={'innings': 'batsmen_innings', 'batsmanname': 'playername', 'battingteam': 'batsmen_battingteam',
                                        'bowlingteam': 'batsmen_bowlingteam'}, inplace=True)
        self.batsmen_summary = batsmen_summary
        return

In [24]:
hundreds.shape

(12335, 1)

In [86]:
# fifties.shape
duck.shape

(12335, 1)

### two teams

In [124]:
data['battingteam'].unique()

array(['Kolkata Knight Riders', 'Royal Challengers Bangalore',
       'Chennai Super Kings', 'Kings XI Punjab', 'Delhi Daredevils',
       'Rajasthan Royals', 'Mumbai Indians', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Delhi Capitals', 'Punjab Kings'],
      dtype=object)

In [125]:
MI = data[data['battingteam'] == 'Mumbai Indians']
CSK = data[data['battingteam'] == 'Chennai Super Kings']

In [134]:
print(CSK['batsmanname'].unique()) #no of unique batsman in CSK

['S Badrinath' 'MEK Hussey' 'JDP Oram' 'SK Raina' 'PA Patel' 'MS Dhoni'
 'ML Hayden' 'JA Morkel' 'S Vidyut' 'SP Fleming' 'MS Gony'
 'M Muralitharan' 'M Ntini' 'Joginder Sharma' 'S Anirudha' 'CK Kapugedera'
 'L Balaji' 'A Mukund' 'A Flintoff' 'T Thushara' 'SB Jakati' 'M Vijay'
 'GJ Bailey' 'R Ashwin' 'S Tyagi' 'JM Kemp' 'KB Arun Karthik'
 'DE Bollinger' 'SB Styris' 'S Randiv' 'WP Saha' 'DJ Bravo' 'RA Jadeja'
 'F du Plessis' 'KMDN Kulasekara' 'B Laughlin' 'AS Rajpoot' 'CH Morris'
 'MM Sharma' 'BB McCullum' 'DR Smith' 'M Manhas' 'DJ Hussey' 'A Nehra'
 'P Negi' 'RG More' 'KM Jadhav' 'AT Rayudu' 'SR Watson' 'Imran Tahir'
 'MA Wood' 'Harbhajan Singh' 'DL Chahar' 'SW Billings' 'DR Shorey'
 'SN Thakur' 'MJ Santner' 'SM Curran' 'AS Raut' 'MM Ali' 'Suresh Raina']

In [ ]:
csk_batsman = [
    ''

]

In [137]:
# print(CSK['bowlername'].unique()) #no of unique batsman in CSK

In [135]:
print(MI['batsmanname'].unique()) # no of unique batsman in MI

['SM Pollock' 'Harbhajan Singh' 'AM Nayar' 'RV Uthappa' 'PR Shah'
 'ST Jayasuriya' 'DJ Thornely' 'L Ronchi' 'DJ Bravo' 'A Nehra' 'MA Khote'
 'DS Kulkarni' 'SS Tiwary' 'AM Rahane' 'MK Pandey' 'RR Raje' 'YV Takawale'
 'SR Tendulkar' 'DR Smith' 'SD Chitnis' 'CRD Fernando' 'VS Yeligati'
 'JP Duminy' 'S Dhawan' 'Z Khan' 'GR Napier' 'SL Malinga' 'C Nanda'
 'Mohammad Ashraful' 'R Sathish' 'AT Rayudu' 'AP Tare' 'R McLaren'
 'KA Pollard' 'AN Ahmed' 'C Madan' 'STR Binny' 'DJ Jacobs' 'RG Sharma'
 'A Symonds' 'JEC Franklin' 'AG Murtaza' 'TL Suman' 'AC Blizzard'
 'MM Patel' 'RE Levi' 'PP Ojha' 'KD Karthik' 'SA Yadav' 'CJ McKay'
 'RP Singh' 'NLTC Perera' 'RJ Peterson' 'HH Gibbs' 'RT Ponting' 'R Dhawan'
 'MG Johnson' 'GJ Maxwell' 'NM Coulter-Nile' 'CJ Anderson' 'MEK Hussey'
 'CM Gautam' 'JJ Bumrah' 'BR Dunk' 'LMP Simmons' 'S Gopal' 'M de Lange'
 'P Kumar' 'AJ Finch' 'J Suchith' 'PA Patel' 'UBT Chand' 'R Vinay Kumar'
 'HH Pandya' 'MJ McClenaghan' 'JC Buttler' 'KH Pandya' 'TG Southee'
 'MJ Guptill' 'N Rana' 'KV Sharma' 'Ishan Kishan' 'E Lewis' 'M Markande'
 'BCJ Cutting' 'PJ Sangwan' 'A Dananjaya' 'Mustafizur Rahman'
 'Yuvraj Singh' 'Q de Kock' 'Rasikh Salam' 'RD Chahar' 'SD Lad'
 'AS Joseph' 'BB Sran' 'James Pattinson' 'TA Boult' 'Adam Milne' 'A Singh'
 'JDS Neesham' 'AS Yadav' 'Marco Jansen' 'CA Lynn']