In [1]:
import pandas as pd
import numpy as np

Batsman_name -> done
Batting_team -> done
Runs_in_last3 
<!-- Runs_in_lastseason  -->
Strike_rate  --> done
4 -> done
6 -> done
50's --> done
100's --> done
Runs -> done
Duck  --> done
Batting_position --> done
<!-- Bowler_name -->
Bowling_team -> done
Dream11_score

In [3]:
data = pd.read_csv("/workspace/dream11_prediction/Data/matchdata.csv",low_memory=False)

In [4]:
data.tail(3)

,ball,batsmanname,batsmanscorevalue,battingteam,bowlername,bowlingteam,date,fallofwickets,innings,matchid,nonstrikername,over,scorevalue,target,totalruns
197280,116,KD Karthik,1,Kolkata Knight Riders,S Kaul,Sunrisers Hyderabad,"1 2021-10-03\nName: date, dtype: object",0,2nd innings,1254109,EJG Morgan,19.2,1,116,0
197281,117,EJG Morgan,1,Kolkata Knight Riders,S Kaul,Sunrisers Hyderabad,"1 2021-10-03\nName: date, dtype: object",0,2nd innings,1254109,KD Karthik,19.3,1,116,0
197282,118,KD Karthik,4,Kolkata Knight Riders,S Kaul,Sunrisers Hyderabad,"1 2021-10-03\nName: date, dtype: object",0,2nd innings,1254109,EJG Morgan,19.4,4,116,0

In [47]:
#data of 2021 last match
df = data[197042:].copy() 
df1 = data.copy()

In [6]:
# df = df.reset_index()
# df.drop(df["index"],inplace=True)
df.head(2)

,ball,batsmanname,batsmanscorevalue,battingteam,bowlername,bowlingteam,date,fallofwickets,innings,matchid,nonstrikername,over,scorevalue,target,totalruns
197042,1,Jason Roy,1,Sunrisers Hyderabad,Tim Southee,Kolkata Knight Riders,"1 2021-10-03\nName: date, dtype: object",0,1st innings,1254109,WP Saha,0.1,1,0,1
197043,2,WP Saha,0,Sunrisers Hyderabad,Tim Southee,Kolkata Knight Riders,"1 2021-10-03\nName: date, dtype: object",1,1st innings,1254109,Jason Roy,0.2,0,0,1

In [20]:
# df['date'].values_count()

In [7]:
df.groupby(['matchid','batsmanname'])['scorevalue'].sum()

matchid  batsmanname
1254109  A Samad            25
         Abhishek Sharma     6
         EJG Morgan          2
         JO Holder           4
         Jason Roy          11
         KD Karthik         18
         KS Williamson      26
         N Rana             27
         P Garg             21
         P Kumar             7
         RA Tripathi         7
         Rashid Khan         8
         S Kaul              7
         Shubman Gill       57
         Venkatesh Iyer      8
         WP Saha             0
Name: scorevalue, dtype: int64

In [8]:
# data = pd.DataFrame(data)
data.groupby(['matchid','batsmanname'])['scorevalue'].sum()

matchid  batsmanname
335982   AA Noffke                      11
         B Akhil                         0
         BB McCullum                   169
         CL White                        6
         DJ Hussey                      12
                                      ...
1254113  MS Dhoni                       11
         Suresh Raina                   18
         Tim David                       1
         V Kohli                        54
         Wanindu Hasaranga de Silva      1
Name: scorevalue, Length: 12335, dtype: int64

In [77]:
df.groupby(['battingteam','matchid','batsmanname'])['scorevalue'].sum()

battingteam            matchid  batsmanname
Kolkata Knight Riders  1254109  EJG Morgan          2
                                KD Karthik         18
                                N Rana             27
                                RA Tripathi         7
                                Shubman Gill       57
                                Venkatesh Iyer      8
Sunrisers Hyderabad    1254109  A Samad            25
                                Abhishek Sharma     6
                                JO Holder           4
                                Jason Roy          11
                                KS Williamson      26
                                P Garg             21
                                P Kumar             7
                                Rashid Khan         8
                                S Kaul              7
                                WP Saha             0
Name: scorevalue, dtype: int64

In [48]:
#total_runs
total_runs = pd.DataFrame(df.groupby(['battingteam','matchid','batsmanname'])['scorevalue'].sum()).\
       rename(columns={"scorevalue": "total_runs"})

#number of sixes
batsmen_scores6 = pd.DataFrame(df[df['scorevalue'] == 6].groupby(['battingteam','matchid', 'batsmanname'])['scorevalue'].count()).\
            rename(columns={"scorevalue": "run_6"})

#number of fours
batsmen_scores4 = pd.DataFrame(df[df['scorevalue'] == 4].groupby(['battingteam','matchid', 'batsmanname'])['scorevalue'].count()).\
            rename(columns={"scorevalue": "run_4"})

#no of balls
batsmen_ball_faced_legal = pd.DataFrame(df.groupby(['battingteam','matchid', 'batsmanname'])['over'].nunique()).\
            rename(columns={"over": "total_legal_balls_faced"})

#strikerate
batsmen_Strikerate = pd.DataFrame((df.groupby(['battingteam','matchid','batsmanname'])['scorevalue'].sum()/df.groupby(['matchid', 'batsmanname'])['over'].nunique())*100).\
       rename(columns={"scorevalue":"strike_rate"})

#fifties
fifties = pd.DataFrame((df.groupby(['battingteam','matchid','batsmanname'])['scorevalue'].sum() >= 50)  
                       ).\
       rename(columns={"scorevalue": "50's"})
#hundreds
hundreds = pd.DataFrame(df.groupby(['battingteam','matchid','batsmanname'])['scorevalue'].sum() >= 100  ).\
       rename(columns={"scorevalue": "100's"})

#duck
duck  = pd.DataFrame(df.groupby(['battingteam','matchid','batsmanname'])['scorevalue'].sum() == 0).\
        rename(columns={"scorevalue": "duck"})

#batsmen_position
batsmen_position = pd.DataFrame(df.groupby(['battingteam','matchid', 'batsmanname'])['fallofwickets'].min())

#batting_team
# batting_team = pd.DataFrame(df['battingteam'])

#batting_team
# bowling_team = pd.DataFrame(df['bowlingteam'])

### Dreamll_target_columns

In [27]:
  pointsconfig = {
        'total_runs': 1,
        'run_6': 2,
        'run_4': 1,
        '>=50': 8,
        '>=100': 16,
        'duck': -2,
  }

### Merging

In [91]:
# df1.s
# total_runs
# batsmen_scores6
# batsmen_ball_faced_legal
# batsmen_Strikerate
# fifties
# hundreds
# duck.head(3)

                                                50's
battingteam           matchid batsmanname
Kolkata Knight Riders 1254109 EJG Morgan       False
                              KD Karthik       False
                              N Rana           False
                              RA Tripathi      False
                              Shubman Gill      True
                              Venkatesh Iyer   False
Sunrisers Hyderabad   1254109 A Samad          False
                              Abhishek Sharma  False
                              JO Holder        False
                              Jason Roy        False
                              KS Williamson    False
                              P Garg           False
                              P Kumar          False
                              Rashid Khan      False
                              S Kaul           False
                              WP Saha          False

In [10]:
# df1.head(30)
total_runs['duck'] = duck['duck']
total_runs['Sixes'] = batsmen_scores6['run_6']
total_runs['Fours'] = batsmen_scores4['run_4']
total_runs['balls'] = batsmen_ball_faced_legal['total_legal_balls_faced']
# total_runs['strike_rate'] = batsmen_Strikerate['0']
total_runs['fifties'] = fifties['50\'s'] 
total_runs['hundreds'] = hundreds['100\'s'] 
# total_runs[''] =

In [11]:
# batsmen_Strikerate = pd.DataFrame(batsmen_Strikerate)
# batsmen_Strikerate['0'].head()
batsmen_Strikerate

                                                        0
matchid batsmanname     battingteam
1254109 A Samad         Sunrisers Hyderabad    138.888889
        Abhishek Sharma Sunrisers Hyderabad     60.000000
        EJG Morgan      Kolkata Knight Riders  100.000000
        JO Holder       Sunrisers Hyderabad     44.444444
        Jason Roy       Sunrisers Hyderabad     91.666667
        KD Karthik      Kolkata Knight Riders  150.000000
        KS Williamson   Sunrisers Hyderabad    123.809524
        N Rana          Kolkata Knight Riders   81.818182
        P Garg          Sunrisers Hyderabad     67.741935
        P Kumar         Sunrisers Hyderabad    100.000000
        RA Tripathi     Kolkata Knight Riders  116.666667
        Rashid Khan     Sunrisers Hyderabad    133.333333
        S Kaul          Sunrisers Hyderabad    140.000000
        Shubman Gill    Kolkata Knight Riders  111.764706
        Venkatesh Iyer  Kolkata Knight Riders   57.142857
        WP Saha         Sunrisers Hyderabad      0.000000

Date
runs
venue
bowlingteam
strike_rate
Dream_11 score

In [26]:
# total_runs = total_runs.fillna(0)
total_runs = pd.DataFrame(total_runs)
total_runs

                                               total_runs   duck  Sixes  \
battingteam           matchid batsmanname
Kolkata Knight Riders 1254109 EJG Morgan                2  False    0.0
                              KD Karthik               18  False    0.0
                              N Rana                   27  False    0.0
                              RA Tripathi               7  False    0.0
                              Shubman Gill             57  False    0.0
                              Venkatesh Iyer            8  False    0.0
Sunrisers Hyderabad   1254109 A Samad                  25  False    3.0
                              Abhishek Sharma           6  False    0.0
                              JO Holder                 4  False    0.0
                              Jason Roy                11  False    0.0
                              KS Williamson            26  False    0.0
                              P Garg                   21  False    1.0
                              P Kumar                   7  False    0.0
                              Rashid Khan               8  False    0.0
                              S Kaul                    7  False    0.0
                              WP Saha                   0   True    0.0

                                               Fours  balls  fifties  \
battingteam           matchid batsmanname
Kolkata Knight Riders 1254109 EJG Morgan         0.0      2    False
                              KD Karthik         3.0     12    False
                              N Rana             3.0     33    False
                              RA Tripathi        1.0      6    False
                              Shubman Gill      10.0     51     True
                              Venkatesh Iyer     0.0     14    False
Sunrisers Hyderabad   1254109 A Samad            0.0     18    False
                              Abhishek Sharma    0.0     10    False
                              JO Holder          0.0      9    False
                              Jason Roy          2.0     12    False
                              KS Williamson      4.0     21    False
                              P Garg             0.0     31    False
                              P Kumar            0.0      7    False
                              Rashid Khan        1.0      6    False
                              S Kaul             1.0      5    False
                              WP Saha            0.0      1    False

                                               hundreds  runs
battingteam           matchid batsmanname
Kolkata Knight Riders 1254109 EJG Morgan          False   2.0
                              KD Karthik          False   6.0
                              N Rana              False  15.0
                              RA Tripathi         False   3.0
                              Shubman Gill        False  17.0
                              Venkatesh Iyer      False   8.0
Sunrisers Hyderabad   1254109 A Samad             False   7.0
                              Abhishek Sharma     False   6.0
                              JO Holder           False   4.0
                              Jason Roy           False   3.0
                              KS Williamson       False  10.0
                              P Garg              False  15.0
                              P Kumar             False   7.0
                              Rashid Khan         False   4.0
                              S Kaul              False   3.0
                              WP Saha             False   0.0

In [23]:
runs = total_runs['total_runs'] - (total_runs['Sixes']*6 + total_runs['Fours']*4)
total_runs['runs'] = runs

### target column

In [53]:
data.shape

(197283, 15)

In [52]:
batsmen_Strikerate.values

array([[138.88888889],
       [ 60.        ],
       [100.        ],
       [ 44.44444444],
       [ 91.66666667],
       [150.        ],
       [123.80952381],
       [ 81.81818182],
       [ 67.74193548],
       [100.        ],
       [116.66666667],
       [133.33333333],
       [140.        ],
       [111.76470588],
       [ 57.14285714],
       [  0.        ]])

In [31]:
pointsconfig

{'total_runs': 1, 'run_6': 2, 'run_4': 1, '>=50': 8, '>=100': 16, 'duck': -2}

In [36]:
total_runs.head(2)
df = total_runs.copy()
df.hundreds = df.hundreds.replace({True: 1, False: 0})
df.fifties = df.fifties.replace({True: 1, False: 0})
df.duck = df.duck.replace({True: 1, False: 0})
# df.Sixes = df.Sixes.replace({True: 1, False: 0})
df

                                               total_runs  duck  Sixes  Fours  \
battingteam           matchid batsmanname
Kolkata Knight Riders 1254109 EJG Morgan                2     0    0.0    0.0
                              KD Karthik               18     0    0.0    3.0
                              N Rana                   27     0    0.0    3.0
                              RA Tripathi               7     0    0.0    1.0
                              Shubman Gill             57     0    0.0   10.0
                              Venkatesh Iyer            8     0    0.0    0.0
Sunrisers Hyderabad   1254109 A Samad                  25     0    3.0    0.0
                              Abhishek Sharma           6     0    0.0    0.0
                              JO Holder                 4     0    0.0    0.0
                              Jason Roy                11     0    0.0    2.0
                              KS Williamson            26     0    0.0    4.0
                              P Garg                   21     0    1.0    0.0
                              P Kumar                   7     0    0.0    0.0
                              Rashid Khan               8     0    0.0    1.0
                              S Kaul                    7     0    0.0    1.0
                              WP Saha                   0     1    0.0    0.0

                                               balls  fifties  hundreds  runs
battingteam           matchid batsmanname
Kolkata Knight Riders 1254109 EJG Morgan           2        0         0   2.0
                              KD Karthik          12        0         0   6.0
                              N Rana              33        0         0  15.0
                              RA Tripathi          6        0         0   3.0
                              Shubman Gill        51        1         0  17.0
                              Venkatesh Iyer      14        0         0   8.0
Sunrisers Hyderabad   1254109 A Samad             18        0         0   7.0
                              Abhishek Sharma     10        0         0   6.0
                              JO Holder            9        0         0   4.0
                              Jason Roy           12        0         0   3.0
                              KS Williamson       21        0         0  10.0
                              P Garg              31        0         0  15.0
                              P Kumar              7        0         0   7.0
                              Rashid Khan          6        0         0   4.0
                              S Kaul               5        0         0   3.0
                              WP Saha              1        0         0   0.0

In [37]:
dreamll_score = df['runs']*1 + df['Sixes']*2 + df['Fours']*1 + df['fifties']*8 + df['hundreds']*16 - df['duck']*2

In [39]:
df['dreamll_score'] = dreamll_score

In [41]:
# batsmen_scores4

                                             run_4
battingteam           matchid batsmanname
Kolkata Knight Riders 1254109 KD Karthik         3
                              N Rana             3
                              RA Tripathi        1
                              Shubman Gill      10
Sunrisers Hyderabad   1254109 Jason Roy          2
                              KS Williamson      4
                              Rashid Khan        1
                              S Kaul             1

In [46]:
df1 = df.copy()
df1

                                               total_runs  duck  Sixes  Fours  \
battingteam           matchid batsmanname
Kolkata Knight Riders 1254109 EJG Morgan                2     0    0.0    0.0
                              KD Karthik               18     0    0.0    3.0
                              N Rana                   27     0    0.0    3.0
                              RA Tripathi               7     0    0.0    1.0
                              Shubman Gill             57     0    0.0   10.0
                              Venkatesh Iyer            8     0    0.0    0.0
Sunrisers Hyderabad   1254109 A Samad                  25     0    3.0    0.0
                              Abhishek Sharma           6     0    0.0    0.0
                              JO Holder                 4     0    0.0    0.0
                              Jason Roy                11     0    0.0    2.0
                              KS Williamson            26     0    0.0    4.0
                              P Garg                   21     0    1.0    0.0
                              P Kumar                   7     0    0.0    0.0
                              Rashid Khan               8     0    0.0    1.0
                              S Kaul                    7     0    0.0    1.0
                              WP Saha                   0     1    0.0    0.0

                                               balls  fifties  hundreds  runs  \
battingteam           matchid batsmanname
Kolkata Knight Riders 1254109 EJG Morgan           2        0         0   2.0
                              KD Karthik          12        0         0   6.0
                              N Rana              33        0         0  15.0
                              RA Tripathi          6        0         0   3.0
                              Shubman Gill        51        1         0  17.0
                              Venkatesh Iyer      14        0         0   8.0
Sunrisers Hyderabad   1254109 A Samad             18        0         0   7.0
                              Abhishek Sharma     10        0         0   6.0
                              JO Holder            9        0         0   4.0
                              Jason Roy           12        0         0   3.0
                              KS Williamson       21        0         0  10.0
                              P Garg              31        0         0  15.0
                              P Kumar              7        0         0   7.0
                              Rashid Khan          6        0         0   4.0
                              S Kaul               5        0         0   3.0
                              WP Saha              1        0         0   0.0

                                               dreamll_score
battingteam           matchid batsmanname
Kolkata Knight Riders 1254109 EJG Morgan                 2.0
                              KD Karthik                 9.0
                              N Rana                    18.0
                              RA Tripathi                4.0
                              Shubman Gill              35.0
                              Venkatesh Iyer             8.0
Sunrisers Hyderabad   1254109 A Samad                   13.0
                              Abhishek Sharma            6.0
                              JO Holder                  4.0
                              Jason Roy                  5.0
                              KS Williamson             14.0
                              P Garg                    17.0
                              P Kumar                    7.0
                              Rashid Khan                5.0
                              S Kaul                     4.0
                              WP Saha                   -2.0

### Simualting above format to whole 2021 season

In [59]:
197283 - 70*240

180483

In [91]:
df_2021 = data[185570:].copy()
df_2021.head()

,ball,batsmanname,batsmanscorevalue,battingteam,bowlername,bowlingteam,date,fallofwickets,innings,matchid,nonstrikername,over,scorevalue,target,totalruns
185570,97,KD Karthik,2,Kolkata Knight Riders,Nathan Ellis,Punjab Kings,"15 2021-10-01\nName: date, dtype: object",0,1st innings,1254102,N Rana,16.1,2,0,127
185571,98,KD Karthik,1,Kolkata Knight Riders,Nathan Ellis,Punjab Kings,"15 2021-10-01\nName: date, dtype: object",0,1st innings,1254102,N Rana,16.2,1,0,128
185572,99,N Rana,1,Kolkata Knight Riders,Nathan Ellis,Punjab Kings,"15 2021-10-01\nName: date, dtype: object",0,1st innings,1254102,KD Karthik,16.3,1,0,129
185573,100,KD Karthik,1,Kolkata Knight Riders,Nathan Ellis,Punjab Kings,"15 2021-10-01\nName: date, dtype: object",0,1st innings,1254102,N Rana,16.4,1,0,130
185574,101,N Rana,6,Kolkata Knight Riders,Nathan Ellis,Punjab Kings,"15 2021-10-01\nName: date, dtype: object",0,1st innings,1254102,KD Karthik,16.5,6,0,136