### EDA

In [1]:
import pandas as pd
import numpy as np

Batsman_name -> done
Batting_team -> done
Runs_in_last3 
<!-- Runs_in_lastseason  -->
Strike_rate  --> done
4 -> done
6 -> done
50's --> done
100's --> done
Runs -> done
Duck  --> done
Batting_position --> done
<!-- Bowler_name -->
Bowling_team -> done
Dream11_score

In [30]:
data = pd.read_csv("/workspace/dream11_prediction/Data/matchdata.csv",low_memory=False)

In [31]:
data.tail(3)

,ball,batsmanname,batsmanscorevalue,battingteam,bowlername,bowlingteam,date,fallofwickets,innings,matchid,nonstrikername,over,scorevalue,target,totalruns
197280,116,KD Karthik,1,Kolkata Knight Riders,S Kaul,Sunrisers Hyderabad,"1 2021-10-03\nName: date, dtype: object",0,2nd innings,1254109,EJG Morgan,19.2,1,116,0
197281,117,EJG Morgan,1,Kolkata Knight Riders,S Kaul,Sunrisers Hyderabad,"1 2021-10-03\nName: date, dtype: object",0,2nd innings,1254109,KD Karthik,19.3,1,116,0
197282,118,KD Karthik,4,Kolkata Knight Riders,S Kaul,Sunrisers Hyderabad,"1 2021-10-03\nName: date, dtype: object",0,2nd innings,1254109,EJG Morgan,19.4,4,116,0

### EDA

In [4]:
total_runs = pd.DataFrame(df.groupby(['battingteam','bowlingteam','matchid','batsmanname'])['scorevalue'].sum()).\
       rename(columns={"scorevalue": "total_runs"})

NameError: name 'df' is not defined

In [8]:
total_runs

                                                                     total_runs
battingteam           bowlingteam           matchid batsmanname
Kolkata Knight Riders Sunrisers Hyderabad   1254109 EJG Morgan                2
                                                    KD Karthik               18
                                                    N Rana                   27
                                                    RA Tripathi               7
                                                    Shubman Gill             57
                                                    Venkatesh Iyer            8
Sunrisers Hyderabad   Kolkata Knight Riders 1254109 A Samad                  25
                                                    Abhishek Sharma           6
                                                    JO Holder                 4
                                                    Jason Roy                11
                                                    KS Williamson            26
                                                    P Garg                   21
                                                    P Kumar                   7
                                                    Rashid Khan               8
                                                    S Kaul                    7
                                                    WP Saha                   0

In [4]:
#data of 2021 last match
df = data[197042:].copy() 
df1 = data.copy()

In [5]:
# df = df.reset_index()
# df.drop(df["index"],inplace=True)
df.head(2)

,ball,batsmanname,batsmanscorevalue,battingteam,bowlername,bowlingteam,date,fallofwickets,innings,matchid,nonstrikername,over,scorevalue,target,totalruns
197042,1,Jason Roy,1,Sunrisers Hyderabad,Tim Southee,Kolkata Knight Riders,"1 2021-10-03\nName: date, dtype: object",0,1st innings,1254109,WP Saha,0.1,1,0,1
197043,2,WP Saha,0,Sunrisers Hyderabad,Tim Southee,Kolkata Knight Riders,"1 2021-10-03\nName: date, dtype: object",1,1st innings,1254109,Jason Roy,0.2,0,0,1

In [6]:
# df['date'].values_count()

In [6]:
df.groupby(['matchid','batsmanname'])['scorevalue'].sum()

matchid  batsmanname
1254109  A Samad            25
         Abhishek Sharma     6
         EJG Morgan          2
         JO Holder           4
         Jason Roy          11
         KD Karthik         18
         KS Williamson      26
         N Rana             27
         P Garg             21
         P Kumar             7
         RA Tripathi         7
         Rashid Khan         8
         S Kaul              7
         Shubman Gill       57
         Venkatesh Iyer      8
         WP Saha             0
Name: scorevalue, dtype: int64

In [7]:
# data = pd.DataFrame(data)
data.groupby(['matchid','batsmanname'])['scorevalue'].sum()

matchid  batsmanname
335982   AA Noffke                      11
         B Akhil                         0
         BB McCullum                   169
         CL White                        6
         DJ Hussey                      12
                                      ...
1254113  MS Dhoni                       11
         Suresh Raina                   18
         Tim David                       1
         V Kohli                        54
         Wanindu Hasaranga de Silva      1
Name: scorevalue, Length: 12335, dtype: int64

In [9]:
df.groupby(['battingteam','matchid','batsmanname'])['scorevalue'].sum()

battingteam            matchid  batsmanname
Kolkata Knight Riders  1254109  EJG Morgan          2
                                KD Karthik         18
                                N Rana             27
                                RA Tripathi         7
                                Shubman Gill       57
                                Venkatesh Iyer      8
Sunrisers Hyderabad    1254109  A Samad            25
                                Abhishek Sharma     6
                                JO Holder           4
                                Jason Roy          11
                                KS Williamson      26
                                P Garg             21
                                P Kumar             7
                                Rashid Khan         8
                                S Kaul              7
                                WP Saha             0
Name: scorevalue, dtype: int64

In [8]:
#total_runs
total_runs = pd.DataFrame(df.groupby(['battingteam','matchid','batsmanname'])['scorevalue'].sum()).\
       rename(columns={"scorevalue": "total_runs"})

#number of sixes
batsmen_scores6 = pd.DataFrame(df[df['scorevalue'] == 6].groupby(['battingteam','matchid', 'batsmanname'])['scorevalue'].count()).\
            rename(columns={"scorevalue": "run_6"})

#number of fours
batsmen_scores4 = pd.DataFrame(df[df['scorevalue'] == 4].groupby(['battingteam','matchid', 'batsmanname'])['scorevalue'].count()).\
            rename(columns={"scorevalue": "run_4"})

#no of balls
batsmen_ball_faced_legal = pd.DataFrame(df.groupby(['battingteam','matchid', 'batsmanname'])['over'].nunique()).\
            rename(columns={"over": "total_legal_balls_faced"})

#strikerate
batsmen_Strikerate = pd.DataFrame((df.groupby(['battingteam','matchid','batsmanname'])['scorevalue'].sum()/df.groupby(['matchid', 'batsmanname'])['over'].nunique())*100).\
       rename(columns={"scorevalue":"strike_rate"})

#fifties
fifties = pd.DataFrame((df.groupby(['battingteam','matchid','batsmanname'])['scorevalue'].sum() >= 50)  
                       ).\
       rename(columns={"scorevalue": "50's"})
#hundreds
hundreds = pd.DataFrame(df.groupby(['battingteam','matchid','batsmanname'])['scorevalue'].sum() >= 100  ).\
       rename(columns={"scorevalue": "100's"})

#duck
duck  = pd.DataFrame(df.groupby(['battingteam','matchid','batsmanname'])['scorevalue'].sum() == 0).\
        rename(columns={"scorevalue": "duck"})

#batsmen_position
batsmen_position = pd.DataFrame(df.groupby(['battingteam','matchid', 'batsmanname'])['fallofwickets'].min())

#batting_team
batting_team = pd.DataFrame(df['battingteam'])

#batting_team
bowling_team = pd.DataFrame(df['bowlingteam'])

### Dreamll_target_columns

In [5]:
  pointsconfig = {
        'total_runs': 1,
        'run_6': 2,
        'run_4': 1,
        '>=50': 8,
        '>=100': 16,
        'duck': -2,
  }

### Merging

In [10]:
# df1.s
# total_runs
# batsmen_scores6
# batsmen_ball_faced_legal
# batsmen_Strikerate
# fifties
# hundreds
# duck.head(3)

In [11]:
# # df1.head(30)
# total_runs['duck'] = duck['duck']
# total_runs['Sixes'] = batsmen_scores6['run_6']
# total_runs['Fours'] = batsmen_scores4['run_4']
# total_runs['balls'] = batsmen_ball_faced_legal['total_legal_balls_faced']
# # total_runs['strike_rate'] = batsmen_Strikerate['0']
# total_runs['fifties'] = fifties['50\'s'] 
# total_runs['hundreds'] = hundreds['100\'s'] 
# # total_runs[''] =

In [12]:
# batsmen_Strikerate = pd.DataFrame(batsmen_Strikerate)
# batsmen_Strikerate['0'].head()
# batsmen_Strikerate

Date
runs
venue
bowlingteam
strike_rate
Dream_11 score

In [13]:
# # total_runs = total_runs.fillna(0)
# total_runs = pd.DataFrame(total_runs)
# total_runs

In [22]:
runs = total_runs['total_runs'] - (total_runs['Sixes']*6 + total_runs['Fours']*4)
total_runs['runs'] = runs
### target column

In [15]:
data.shape

(197283, 15)

In [16]:
print(type(batsmen_Strikerate))

<class 'pandas.core.frame.DataFrame'>

In [17]:
pointsconfig

{'total_runs': 1, 'run_6': 2, 'run_4': 1, '>=50': 8, '>=100': 16, 'duck': -2}

In [18]:
total_runs['duck'] = duck
total_runs['Sixes'] = batsmen_scores6
total_runs['Fours'] = batsmen_scores4
# total_runs['runs'] 
total_runs['balls'] = batsmen_ball_faced_legal
total_runs['Fifties'] = fifties
total_runs['hundreds'] = hundreds
# total_runs['total_runs'] = total_runs

In [19]:
total_runs = total_runs.fillna(0)

In [20]:
# total_runs.head(2)
df = total_runs.copy()
df.hundreds = df.hundreds.replace({True: 1, False: 0})
df.Fifties = df.Fifties.replace({True: 1, False: 0})
df.duck = df.duck.replace({True: 1, False: 0})
# df.Sixes = df.Sixes.replace({True: 1, False: 0})
df

                                               total_runs  duck  Sixes  Fours  \
battingteam           matchid batsmanname
Kolkata Knight Riders 1254109 EJG Morgan                2     0    0.0    0.0
                              KD Karthik               18     0    0.0    3.0
                              N Rana                   27     0    0.0    3.0
                              RA Tripathi               7     0    0.0    1.0
                              Shubman Gill             57     0    0.0   10.0
                              Venkatesh Iyer            8     0    0.0    0.0
Sunrisers Hyderabad   1254109 A Samad                  25     0    3.0    0.0
                              Abhishek Sharma           6     0    0.0    0.0
                              JO Holder                 4     0    0.0    0.0
                              Jason Roy                11     0    0.0    2.0
                              KS Williamson            26     0    0.0    4.0
                              P Garg                   21     0    1.0    0.0
                              P Kumar                   7     0    0.0    0.0
                              Rashid Khan               8     0    0.0    1.0
                              S Kaul                    7     0    0.0    1.0
                              WP Saha                   0     1    0.0    0.0

                                               balls  Fifties  hundreds
battingteam           matchid batsmanname
Kolkata Knight Riders 1254109 EJG Morgan           2        0         0
                              KD Karthik          12        0         0
                              N Rana              33        0         0
                              RA Tripathi          6        0         0
                              Shubman Gill        51        1         0
                              Venkatesh Iyer      14        0         0
Sunrisers Hyderabad   1254109 A Samad             18        0         0
                              Abhishek Sharma     10        0         0
                              JO Holder            9        0         0
                              Jason Roy           12        0         0
                              KS Williamson       21        0         0
                              P Garg              31        0         0
                              P Kumar              7        0         0
                              Rashid Khan          6        0         0
                              S Kaul               5        0         0
                              WP Saha              1        0         0

In [23]:
df['runs'] = runs

In [24]:
df.head(2)

                                           total_runs  duck  Sixes  Fours  \
battingteam           matchid batsmanname
Kolkata Knight Riders 1254109 EJG Morgan            2     0    0.0    0.0
                              KD Karthik           18     0    0.0    3.0

                                           balls  Fifties  hundreds  runs
battingteam           matchid batsmanname
Kolkata Knight Riders 1254109 EJG Morgan       2        0         0   2.0
                              KD Karthik      12        0         0   6.0

In [25]:
dreamll_score = df['runs']*1 + df['Sixes']*2 + df['Fours']*1 + df['Fifties']*8 + df['hundreds']*16 - df['duck']*2
df['dreamll_score'] = dreamll_score

In [27]:
# batsmen_scores4

In [28]:
df1 = df.copy()
df1
#date
#venue
#bowler
#

                                               total_runs  duck  Sixes  Fours  \
battingteam           matchid batsmanname
Kolkata Knight Riders 1254109 EJG Morgan                2     0    0.0    0.0
                              KD Karthik               18     0    0.0    3.0
                              N Rana                   27     0    0.0    3.0
                              RA Tripathi               7     0    0.0    1.0
                              Shubman Gill             57     0    0.0   10.0
                              Venkatesh Iyer            8     0    0.0    0.0
Sunrisers Hyderabad   1254109 A Samad                  25     0    3.0    0.0
                              Abhishek Sharma           6     0    0.0    0.0
                              JO Holder                 4     0    0.0    0.0
                              Jason Roy                11     0    0.0    2.0
                              KS Williamson            26     0    0.0    4.0
                              P Garg                   21     0    1.0    0.0
                              P Kumar                   7     0    0.0    0.0
                              Rashid Khan               8     0    0.0    1.0
                              S Kaul                    7     0    0.0    1.0
                              WP Saha                   0     1    0.0    0.0

                                               balls  Fifties  hundreds  runs  \
battingteam           matchid batsmanname
Kolkata Knight Riders 1254109 EJG Morgan           2        0         0   2.0
                              KD Karthik          12        0         0   6.0
                              N Rana              33        0         0  15.0
                              RA Tripathi          6        0         0   3.0
                              Shubman Gill        51        1         0  17.0
                              Venkatesh Iyer      14        0         0   8.0
Sunrisers Hyderabad   1254109 A Samad             18        0         0   7.0
                              Abhishek Sharma     10        0         0   6.0
                              JO Holder            9        0         0   4.0
                              Jason Roy           12        0         0   3.0
                              KS Williamson       21        0         0  10.0
                              P Garg              31        0         0  15.0
                              P Kumar              7        0         0   7.0
                              Rashid Khan          6        0         0   4.0
                              S Kaul               5        0         0   3.0
                              WP Saha              1        0         0   0.0

                                               dreamll_score
battingteam           matchid batsmanname
Kolkata Knight Riders 1254109 EJG Morgan                 2.0
                              KD Karthik                 9.0
                              N Rana                    18.0
                              RA Tripathi                4.0
                              Shubman Gill              35.0
                              Venkatesh Iyer             8.0
Sunrisers Hyderabad   1254109 A Samad                   13.0
                              Abhishek Sharma            6.0
                              JO Holder                  4.0
                              Jason Roy                  5.0
                              KS Williamson             14.0
                              P Garg                    17.0
                              P Kumar                    7.0
                              Rashid Khan                5.0
                              S Kaul                     4.0
                              WP Saha                   -2.0

In [30]:
# data['date']

### Simualting above format to whole 2021 season

In [4]:
197283 - 70*240

180483

In [5]:
data.tail(2)

,ball,batsmanname,batsmanscorevalue,battingteam,bowlername,bowlingteam,date,fallofwickets,innings,matchid,nonstrikername,over,scorevalue,target,totalruns
197281,117,EJG Morgan,1,Kolkata Knight Riders,S Kaul,Sunrisers Hyderabad,"1 2021-10-03\nName: date, dtype: object",0,2nd innings,1254109,KD Karthik,19.3,1,116,0
197282,118,KD Karthik,4,Kolkata Knight Riders,S Kaul,Sunrisers Hyderabad,"1 2021-10-03\nName: date, dtype: object",0,2nd innings,1254109,EJG Morgan,19.4,4,116,0

In [6]:
df_2021 = data[185471:].copy()
df_2021.head(2)

,ball,batsmanname,batsmanscorevalue,battingteam,bowlername,bowlingteam,date,fallofwickets,innings,matchid,nonstrikername,over,scorevalue,target,totalruns
185471,1,Venkatesh Iyer,4,Kolkata Knight Riders,F Allen,Punjab Kings,"15 2021-10-01\nName: date, dtype: object",0,1st innings,1254102,Shubman Gill,0.1,4,0,4
185472,2,Venkatesh Iyer,0,Kolkata Knight Riders,F Allen,Punjab Kings,"15 2021-10-01\nName: date, dtype: object",0,1st innings,1254102,Shubman Gill,0.2,0,0,4

In [7]:
#total_runs
total_runs = pd.DataFrame(df_2021.groupby(['battingteam','bowlingteam','matchid','batsmanname'])['scorevalue'].sum()).\
       rename(columns={"scorevalue": "total_runs"})

#number of sixes
batsmen_scores6 = pd.DataFrame(df_2021[df_2021['scorevalue'] == 6].groupby(['battingteam','bowlingteam','matchid', 'batsmanname'])['scorevalue'].count()).\
            rename(columns={"scorevalue": "run_6"})

#number of fours
batsmen_scores4 = pd.DataFrame(df_2021[df_2021['scorevalue'] == 4].groupby(['battingteam','bowlingteam','matchid', 'batsmanname'])['scorevalue'].count()).\
            rename(columns={"scorevalue": "run_4"})

#no of balls
batsmen_ball_faced_legal = pd.DataFrame(df_2021.groupby(['battingteam','bowlingteam','matchid', 'batsmanname'])['over'].nunique()).\
            rename(columns={"over": "total_legal_balls_faced"})

#strikerate
batsmen_Strikerate = pd.DataFrame((df_2021.groupby(['battingteam','bowlingteam','matchid','batsmanname'])['scorevalue'].sum()/df_2021.groupby(['battingteam','bowlingteam','matchid', 'batsmanname'])['over'].nunique())*100).\
       rename(columns={"scorevalue":"strike_rate"})

#fifties
fifties = pd.DataFrame((df_2021.groupby(['battingteam','bowlingteam','matchid','batsmanname'])['scorevalue'].sum() >= 50)  
                       ).\
       rename(columns={"scorevalue": "50's"})
#hundreds
hundreds = pd.DataFrame(df_2021.groupby(['battingteam','bowlingteam','matchid','batsmanname'])['scorevalue'].sum() >= 100  ).\
       rename(columns={"scorevalue": "100's"})

#duck
duck  = pd.DataFrame(df_2021.groupby(['battingteam','bowlingteam','matchid','batsmanname'])['scorevalue'].sum() == 0).\
        rename(columns={"scorevalue": "duck"})

# #batsmen_position
batsmen_position = pd.DataFrame(df_2021.groupby(['battingteam','bowlingteam','matchid', 'batsmanname'])['fallofwickets'].min())

#batting_team
# batting_team = pd.DataFrame(df_2021['battingteam'])

# batting_team
# bowling_team = pd.DataFrame(df_2021['bowlingteam'])

In [8]:
total_runs['duck'] = duck
total_runs['Sixes'] = batsmen_scores6
total_runs['Fours'] = batsmen_scores4
# total_runs['runs'] 
total_runs['balls'] = batsmen_ball_faced_legal
total_runs['Fifties'] = fifties
total_runs['hundreds'] = hundreds

In [9]:
runs = total_runs['total_runs'] - (total_runs['Sixes']*6 + total_runs['Fours']*4)
total_runs['runs'] = runs

In [10]:
# total_runs.head(2)
df = total_runs.copy()
df.hundreds = df.hundreds.replace({True: 1, False: 0})
df.Fifties = df.Fifties.replace({True: 1, False: 0})
df.duck = df.duck.replace({True: 1, False: 0})
# df.Sixes = df.Sixes.replace({True: 1, False: 0})
df = df.fillna(0)

In [11]:
dreamll_score = df['runs']*1 + df['Sixes']*2 + df['Fours']*1 + df['Fifties']*8 + df['hundreds']*16 - df['duck']*2
df['dreamll_score'] = dreamll_score

In [11]:
# df['batting_team'] = batting_team
# batting_team.nunique()

NameError: name 'batting_team' is not defined

In [12]:
df.head(45)
# df.shape

                                                                total_runs  \
battingteam         bowlingteam           matchid batsmanname
Chennai Super Kings Delhi Capitals        1254059 AS Raut                7
                                                  AT Rayudu             28
                                                  F du Plessis           0
                                                  MM Ali                36
                                                  MS Dhoni               0
                                                  RA Jadeja             27
                                                  SM Curran             35
                                                  Suresh Raina          55
                    Kolkata Knight Riders 1254072 AS Raut               66
                                                  F du Plessis          99
                                                  MM Ali                30
                                                  MS Dhoni              19
                                                  RA Jadeja              6
                                          1254098 AS Raut               40
                                                  AT Rayudu             11
                                                  DL Chahar              1
                                                  F du Plessis          44
                                                  MM Ali                33
                                                  MS Dhoni               2
                                                  RA Jadeja             22
                                                  SM Curran              4
                                                  SN Thakur              3
                                                  Suresh Raina          12
                    Mumbai Indians        1254084 AS Raut                4
                                                  AT Rayudu             74
                                                  F du Plessis          50
                                                  MM Ali                60
                                                  RA Jadeja             28
                                                  Suresh Raina           2
                                          1254104 AS Raut               90
                                                  AT Rayudu              1
                                                  DJ Bravo              24
                                                  F du Plessis           0
                                                  MM Ali                 0
                                                  MS Dhoni               3
                                                  RA Jadeja             33
                                                  SN Thakur              1
                                                  Suresh Raina           4
                    Punjab Kings          1254065 AS Raut                5
                                                  AT Rayudu              0
                                                  F du Plessis          41
                                                  MM Ali                47
                                                  SM Curran              5
                                                  Suresh Raina           9
                    Rajasthan Royals      1254069 AS Raut               10

                                                                duck  Sixes  \
battingteam         bowlingteam           matchid batsmanname
Chennai Super Kings Delhi Capitals        1254059 AS Raut          0    0.0
                                                  AT Rayudu        0    1.0
                                                  F du Plessis     1    0.0
                                                  MM Ali           0    2.0
                                                  MS Dhoni         1    0.0
                                                  RA Jadeja        0    0.0
                                                  SM Curran        0    2.0
                                                  Suresh Raina     0    4.0
                    Kolkata Knight Riders 1254072 AS Raut          0    4.0
                                                  F du Plessis     0    4.0
                                                  MM Ali           0    2.0
                                                  MS Dhoni         0    1.0
                                                  RA Jadeja        0    1.0
                                          1254098 AS Raut          0    3.0
                                                  AT Rayudu        0    0.0
                                                  DL Chahar        0    0.0
                                                  F du Plessis     0    0.0
                                                  MM Ali           0    1.0
                                                  MS Dhoni         0    0.0
                                                  RA Jadeja        0    2.0
                                                  SM Curran        0    0.0
                                                  SN Thakur        0    0.0
                                                  Suresh Raina     0    0.0
                    Mumbai Indians        1254084 AS Raut          0    0.0
                                                  AT Rayudu        0    6.0
                                                  F du Plessis     0    4.0
                                                  MM Ali           0    5.0
                                                  RA Jadeja        0    0.0
                                                  Suresh Raina     0    0.0
                                          1254104 AS Raut          0    4.0
                                                  AT Rayudu        0    0.0
                                                  DJ Bravo         0    3.0
                                                  F du Plessis     1    0.0
                                                  MM Ali           1    0.0
                                                  MS Dhoni         0    0.0
                                                  RA Jadeja        0    0.0
                                                  SN Thakur        0    0.0
                                                  Suresh Raina     0    0.0
                    Punjab Kings          1254065 AS Raut          0    0.0
                                                  AT Rayudu        1    0.0
                                                  F du Plessis     0    1.0
                                                  MM Ali           0    1.0
                                                  SM Curran        0    0.0
                                                  Suresh Raina     0    0.0
                    Rajasthan Royals      1254069 AS Raut          0    0.0

                                                                Fours  balls  \
battingteam         bowlingteam           matchid batsmanname
Chennai Super Kings Delhi Capitals        1254059 AS Raut         1.0      9
                                                  AT Rayudu       2.0     16
                                                  F du Plessis    0.0      3
                                                  MM Ali          4.0     24
                                                  MS Dhoni        0.0      2
                                                  RA Jadeja       3.0     17
                                                  SM Curran       4.0     16
                                                  Suresh Raina    3.0     36
                    Kolkata Knight Riders 1254072 AS Raut         6.0     40
                                                  F du Plessis    9.0     61
                                                  MM Ali          2.0     13
                                                  MS Dhoni        2.0      9
                                                  RA Jadeja       0.0      1
                                          1254098 AS Raut         2.0     28
                                                  AT Rayudu       1.0     10
                                                  DL Chahar       0.0      1
                                                  F du Plessis    7.0     30
                                                  MM Ali          2.0     29
                                                  MS Dhoni        0.0      4
                                                  RA Jadeja       2.0      8
                                                  SM Curran       0.0      4
                                                  SN Thakur       0.0      2
                                                  Suresh Raina    1.0      7
                    Mumbai Indians        1254084 AS Raut         1.0      4
                                                  AT Rayudu       4.0     26
                                                  F du Plessis    2.0     28
                                                  MM Ali          5.0     36
                                                  RA Jadeja       2.0     25
                                                  Suresh Raina    0.0      4
                                          1254104 AS Raut         9.0     58
                                                  AT Rayudu       0.0      3
                                                  DJ Bravo        0.0      9
                                                  F du Plessis    0.0      3
                                                  MM Ali          0.0      3
                                                  MS Dhoni        0.0      5
                                                  RA Jadeja       2.0     36
                                                  SN Thakur       0.0      1
                                                  Suresh Raina    1.0      6
                    Punjab Kings          1254065 AS Raut         0.0     16
                                                  AT Rayudu       0.0      1
                                                  F du Plessis    5.0     33
                                                  MM Ali          7.0     32
                                                  SM Curran       1.0      4
                                                  Suresh Raina    1.0     10
                    Rajasthan Royals      1254069 AS Raut         1.0     13

                                                                Fifties  \
battingteam         bowlingteam           matchid batsmanname
Chennai Super Kings Delhi Capitals        1254059 AS Raut             0
                                                  AT Rayudu           0
                                                  F du Plessis        0
                                                  MM Ali              0
                                                  MS Dhoni            0
                                                  RA Jadeja           0
                                                  SM Curran           0
                                                  Suresh Raina        1
                    Kolkata Knight Riders 1254072 AS Raut             1
                                                  F du Plessis        1
                                                  MM Ali              0
                                                  MS Dhoni            0
                                                  RA Jadeja           0
                                          1254098 AS Raut             0
                                                  AT Rayudu           0
                                                  DL Chahar           0
                                                  F du Plessis        0
                                                  MM Ali              0
                                                  MS Dhoni            0
                                                  RA Jadeja           0
                                                  SM Curran           0
                                                  SN Thakur           0
                                                  Suresh Raina        0
                    Mumbai Indians        1254084 AS Raut             0
                                                  AT Rayudu           1
                                                  F du Plessis        1
                                                  MM Ali              1
                                                  RA Jadeja           0
                                                  Suresh Raina        0
                                          1254104 AS Raut             1
                                                  AT Rayudu           0
                                                  DJ Bravo            0
                                                  F du Plessis        0
                                                  MM Ali              0
                                                  MS Dhoni            0
                                                  RA Jadeja           0
                                                  SN Thakur           0
                                                  Suresh Raina        0
                    Punjab Kings          1254065 AS Raut             0
                                                  AT Rayudu           0
                                                  F du Plessis        0
                                                  MM Ali              0
                                                  SM Curran           0
                                                  Suresh Raina        0
                    Rajasthan Royals      1254069 AS Raut             0

                                                                hundreds  \
battingteam         bowlingteam           matchid batsmanname
Chennai Super Kings Delhi Capitals        1254059 AS Raut              0
                                                  AT Rayudu            0
                                                  F du Plessis         0
                                                  MM Ali               0
                                                  MS Dhoni             0
                                                  RA Jadeja            0
                                                  SM Curran            0
                                                  Suresh Raina         0
                    Kolkata Knight Riders 1254072 AS Raut              0
                                                  F du Plessis         0
                                                  MM Ali               0
                                                  MS Dhoni             0
                                                  RA Jadeja            0
                                          1254098 AS Raut              0
                                                  AT Rayudu            0
                                                  DL Chahar            0
                                                  F du Plessis         0
                                                  MM Ali               0
                                                  MS Dhoni             0
                                                  RA Jadeja            0
                                                  SM Curran            0
                                                  SN Thakur            0
                                                  Suresh Raina         0
                    Mumbai Indians        1254084 AS Raut              0
                                                  AT Rayudu            0
                                                  F du Plessis         0
                                                  MM Ali               0
                                                  RA Jadeja            0
                                                  Suresh Raina         0
                                          1254104 AS Raut              0
                                                  AT Rayudu            0
                                                  DJ Bravo             0
                                                  F du Plessis         0
                                                  MM Ali               0
                                                  MS Dhoni             0
                                                  RA Jadeja            0
                                                  SN Thakur            0
                                                  Suresh Raina         0
                    Punjab Kings          1254065 AS Raut              0
                                                  AT Rayudu            0
                                                  F du Plessis         0
                                                  MM Ali               0
                                                  SM Curran            0
                                                  Suresh Raina         0
                    Rajasthan Royals      1254069 AS Raut              0

                                                                runs  \
battingteam         bowlingteam           matchid batsmanname
Chennai Super Kings Delhi Capitals        1254059 AS Raut        0.0
                                                  AT Rayudu     14.0
                                                  F du Plessis   0.0
                                                  MM Ali         8.0
                                                  MS Dhoni       0.0
                                                  RA Jadeja      0.0
                                                  SM Curran      7.0
                                                  Suresh Raina  19.0
                    Kolkata Knight Riders 1254072 AS Raut       18.0
                                                  F du Plessis  39.0
                                                  MM Ali        10.0
                                                  MS Dhoni       5.0
                                                  RA Jadeja      0.0
                                          1254098 AS Raut       14.0
                                                  AT Rayudu      0.0
                                                  DL Chahar      0.0
                                                  F du Plessis   0.0
                                                  MM Ali        19.0
                                                  MS Dhoni       0.0
                                                  RA Jadeja      2.0
                                                  SM Curran      0.0
                                                  SN Thakur      0.0
                                                  Suresh Raina   0.0
                    Mumbai Indians        1254084 AS Raut        0.0
                                                  AT Rayudu     22.0
                                                  F du Plessis  18.0
                                                  MM Ali        10.0
                                                  RA Jadeja      0.0
                                                  Suresh Raina   0.0
                                          1254104 AS Raut       30.0
                                                  AT Rayudu      0.0
                                                  DJ Bravo       0.0
                                                  F du Plessis   0.0
                                                  MM Ali         0.0

In [14]:
# df.drop(['batting_team'],axis=1,inplace=True)
df.tail(50)

                                                                          total_runs  \
battingteam         bowlingteam                 matchid batsmanname
Sunrisers Hyderabad Kolkata Knight Riders       1254109 S Kaul                     7
                                                        WP Saha                    0
                    Mumbai Indians              1254066 A Samad                    7
                                                        Abhishek Sharma            2
                                                        DA Warner                 38
                                                        JM Bairstow               44
                                                        KK Ahmed                   1
                                                        MK Pandey                  2
                                                        Mujeeb Ur Rahman           1
                                                        P Kumar                    1
                                                        Rashid Khan                0
                                                        V Pratap Singh            11
                                                        V Shankar                 30
                    Punjab Kings                1254071 DA Warner                 40
                                                        JM Bairstow               64
                                                        KS Williamson             17
                                                1254107 A Samad                    1
                                                        DA Warner                  2
                                                        JO Holder                 48
                                                        KM Jadhav                 12
                                                        KS Williamson              1
                                                        MK Pandey                 13
                                                        P Kumar                    4
                                                        Rashid Khan                3
                                                        WP Saha                   36
                    Rajasthan Royals            1254085 A Samad                   12
                                                        JM Bairstow               30
                                                        KM Jadhav                 21
                                                        KS Williamson             21
                                                        M Nabi                    17
                                                        MK Pandey                 33
                                                        P Kumar                   14
                                                        Rashid Khan                1
                                                        Sandeep Sharma             8
                                                        V Shankar                  8
                                                1254100 Abhishek Sharma           24
                                                        Jason Roy                 70
                                                        KS Williamson             54
                                                        P Garg                     0
                                                        WP Saha                   19
                    Royal Challengers Bangalore 1254063 A Samad                    0
                                                        DA Warner                 56
                                                        JM Bairstow               14
                                                        JO Holder                  5
                                                        MK Pandey                 40
                                                        P Kumar                    2
                                                        Rashid Khan               18
                                                        S Nadeem                   0
                                                        V Shankar                  3
                                                        WP Saha                    5

                                                                          duck  \
battingteam         bowlingteam                 matchid batsmanname
Sunrisers Hyderabad Kolkata Knight Riders       1254109 S Kaul               0
                                                        WP Saha              1
                    Mumbai Indians              1254066 A Samad              0
                                                        Abhishek Sharma      0
                                                        DA Warner            0
                                                        JM Bairstow          0
                                                        KK Ahmed             0
                                                        MK Pandey            0
                                                        Mujeeb Ur Rahman     0
                                                        P Kumar              0
                                                        Rashid Khan          1
                                                        V Pratap Singh       0
                                                        V Shankar            0
                    Punjab Kings                1254071 DA Warner            0
                                                        JM Bairstow          0
                                                        KS Williamson        0
                                                1254107 A Samad              0
                                                        DA Warner            0
                                                        JO Holder            0
                                                        KM Jadhav            0
                                                        KS Williamson        0
                                                        MK Pandey            0
                                                        P Kumar              0
                                                        Rashid Khan          0
                                                        WP Saha              0
                    Rajasthan Royals            1254085 A Samad              0
                                                        JM Bairstow          0
                                                        KM Jadhav            0
                                                        KS Williamson        0
                                                        M Nabi               0
                                                        MK Pandey            0
                                                        P Kumar              0
                                                        Rashid Khan          0
                                                        Sandeep Sharma       0
                                                        V Shankar            0
                                                1254100 Abhishek Sharma      0
                                                        Jason Roy            0
                                                        KS Williamson        0
                                                        P Garg               1
                                                        WP Saha              0
                    Royal Challengers Bangalore 1254063 A Samad              1
                                                        DA Warner            0
                                                        JM Bairstow          0
                                                        JO Holder            0
                                                        MK Pandey            0
                                                        P Kumar              0
                                                        Rashid Khan          0
                                                        S Nadeem             1
                                                        V Shankar            0
                                                        WP Saha              0

                                                                          Sixes  \
battingteam         bowlingteam                 matchid batsmanname
Sunrisers Hyderabad Kolkata Knight Riders       1254109 S Kaul              0.0
                                                        WP Saha             0.0
                    Mumbai Indians              1254066 A Samad             0.0
                                                        Abhishek Sharma     0.0
                                                        DA Warner           2.0
                                                        JM Bairstow         4.0
                                                        KK Ahmed            0.0
                                                        MK Pandey           0.0
                                                        Mujeeb Ur Rahman    0.0
                                                        P Kumar             0.0
                                                        Rashid Khan         0.0
                                                        V Pratap Singh      0.0
                                                        V Shankar           2.0
                    Punjab Kings                1254071 DA Warner           1.0
                                                        JM Bairstow         3.0
                                                        KS Williamson       0.0
                                                1254107 A Samad             0.0
                                                        DA Warner           0.0
                                                        JO Holder           5.0
                                                        KM Jadhav           0.0
                                                        KS Williamson       0.0
                                                        MK Pandey           0.0
                                                        P Kumar             0.0
                                                        Rashid Khan         0.0
                                                        WP Saha             0.0
                    Rajasthan Royals            1254085 A Samad             1.0
                                                        JM Bairstow         1.0
                                                        KM Jadhav           1.0
                                                        KS Williamson       0.0
                                                        M Nabi              2.0
                                                        MK Pandey           2.0
                                                        P Kumar             0.0
                                                        Rashid Khan         0.0
                                                        Sandeep Sharma      0.0
                                                        V Shankar           0.0
                                                1254100 Abhishek Sharma     1.0
                                                        Jason Roy           1.0
                                                        KS Williamson       1.0
                                                        P Garg              0.0
                                                        WP Saha             1.0
                    Royal Challengers Bangalore 1254063 A Samad             0.0
                                                        DA Warner           1.0
                                                        JM Bairstow         0.0
                                                        JO Holder           0.0
                                                        MK Pandey           2.0
                                                        P Kumar             0.0
                                                        Rashid Khan         1.0
                                                        S Nadeem            0.0
                                                        V Shankar           0.0
                                                        WP Saha             0.0

                                                                          Fours  \
battingteam         bowlingteam                 matchid batsmanname
Sunrisers Hyderabad Kolkata Knight Riders       1254109 S Kaul              1.0
                                                        WP Saha             0.0
                    Mumbai Indians              1254066 A Samad             1.0
                                                        Abhishek Sharma     0.0
                                                        DA Warner           2.0
                                                        JM Bairstow         3.0
                                                        KK Ahmed            0.0
                                                        MK Pandey           0.0
                                                        Mujeeb Ur Rahman    0.0
                                                        P Kumar             0.0
                                                        Rashid Khan         0.0
                                                        V Pratap Singh      1.0
                                                        V Shankar           0.0
                    Punjab Kings                1254071 DA Warner           3.0
                                                        JM Bairstow         3.0
                                                        KS Williamson       0.0
                                                1254107 A Samad             0.0
                                                        DA Warner           0.0
                                                        JO Holder           0.0
                                                        KM Jadhav           0.0
                                                        KS Williamson       0.0
                                                        MK Pandey           1.0
                                                        P Kumar             0.0
                                                        Rashid Khan         0.0
                                                        WP Saha             1.0
                    Rajasthan Royals            1254085 A Samad             0.0
                                                        JM Bairstow         4.0
                                                        KM Jadhav           0.0
                                                        KS Williamson       1.0
                                                        M Nabi              1.0
                                                        MK Pandey           3.0
                                                        P Kumar             2.0
                                                        Rashid Khan         0.0
                                                        Sandeep Sharma      1.0
                                                        V Shankar           1.0
                                                1254100 Abhishek Sharma     1.0
                                                        Jason Roy          10.0
                                                        KS Williamson       5.0
                                                        P Garg              0.0
                                                        WP Saha             2.0
                    Royal Challengers Bangalore 1254063 A Samad             0.0
                                                        DA Warner           7.0
                                                        JM Bairstow         1.0
                                                        JO Holder           0.0
                                                        MK Pandey           2.0
                                                        P Kumar             0.0
                                                        Rashid Khan         0.0
                                                        S Nadeem            0.0
                                                        V Shankar           0.0
                                                        WP Saha             1.0

                                                                          balls  \
battingteam         bowlingteam                 matchid batsmanname
Sunrisers Hyderabad Kolkata Knight Riders       1254109 S Kaul                5
                                                        WP Saha               1
                    Mumbai Indians              1254066 A Samad               8
                                                        Abhishek Sharma       4
                                                        DA Warner            34
                                                        JM Bairstow          22
                                                        KK Ahmed              2
                                                        MK Pandey             7
                                                        Mujeeb Ur Rahman      1
                                                        P Kumar               2
                                                        Rashid Khan           1
                                                        V Pratap Singh       12
                                                        V Shankar            25
                    Punjab Kings                1254071 DA Warner            38
                                                        JM Bairstow          57
                                                        KS Williamson        20
                                                1254107 A Samad               2
                                                        DA Warner             3
                                                        JO Holder            29
                                                        KM Jadhav            12
                                                        KS Williamson         6
                                                        MK Pandey            23
                                                        P Kumar               4
                                                        Rashid Khan           4
                                                        WP Saha              38
                    Rajasthan Royals            1254085 A Samad               9
                                                        JM Bairstow          21
                                                        KM Jadhav            20
                                                        KS Williamson        22
                                                        M Nabi                5
                                                        MK Pandey            20
                                                        P Kumar              10
                                                        Rashid Khan           3
                                                        Sandeep Sharma        6
                                                        V Shankar             8
                                                1254100 Abhishek Sharma      17
                                                        Jason Roy            42

In [15]:
type(total_runs)

pandas.core.frame.DataFrame

In [16]:
df.to_csv("runs.csv")

In [18]:
df2021_ = pd.read_csv("/workspace/dream11_prediction/PPP/runs.csv")

In [19]:
df_.columns

Index(['battingteam', 'bowlingteam', 'matchid', 'batsmanname', 'total_runs',
       'duck', 'Sixes', 'Fours', 'balls', 'Fifties', 'hundreds', 'runs',
       'dreamll_score'],
      dtype='object')

In [20]:
df_2021.battingteam.unique()

array(['Kolkata Knight Riders', 'Punjab Kings', 'Sunrisers Hyderabad',
       'Chennai Super Kings', 'Rajasthan Royals',
       'Royal Challengers Bangalore', 'Mumbai Indians', 'Delhi Capitals'],
      dtype=object)

In [21]:
df_.head(40)

,battingteam,bowlingteam,matchid,batsmanname,total_runs,duck,Sixes,Fours,balls,Fifties,hundreds,runs,dreamll_score
0,Chennai Super Kings,Delhi Capitals,1254059,AS Raut,7,0,0.0,1.0,9,0,0,0.0,1.0
1,Chennai Super Kings,Delhi Capitals,1254059,AT Rayudu,28,0,1.0,2.0,16,0,0,14.0,18.0
2,Chennai Super Kings,Delhi Capitals,1254059,F du Plessis,0,1,0.0,0.0,3,0,0,0.0,-2.0
3,Chennai Super Kings,Delhi Capitals,1254059,MM Ali,36,0,2.0,4.0,24,0,0,8.0,16.0
4,Chennai Super Kings,Delhi Capitals,1254059,MS Dhoni,0,1,0.0,0.0,2,0,0,0.0,-2.0
5,Chennai Super Kings,Delhi Capitals,1254059,RA Jadeja,27,0,0.0,3.0,17,0,0,0.0,3.0
6,Chennai Super Kings,Delhi Capitals,1254059,SM Curran,35,0,2.0,4.0,16,0,0,7.0,15.0
7,Chennai Super Kings,Delhi Capitals,1254059,Suresh Raina,55,0,4.0,3.0,36,1,0,19.0,38.0
8,Chennai Super Kings,Kolkata Knight Riders,1254072,AS Raut,66,0,4.0,6.0,40,1,0,18.0,40.0
9,Chennai Super Kings,Kolkata Knight Riders,1254072,F du Plessis,99,0,4.0,9.0,61,1,0,39.0,64.0
10,Chennai Super Kings,Kolkata Knight Riders,1254072,MM Ali,30,0,2.0,2.0,13,0,0,10.0,16.0
11,Chennai Super Kings,Kolkata Knight Riders,1254072,MS Dhoni,19,0,1.0,2.0,9,0,0,5.0,9.0
12,Chennai Super Kings,Kolkata Knight Riders,1254072,RA Jadeja,6,0,1.0,0.0,1,0,0,0.0,2.0
13,Chennai Super Kings,Kolkata Knight Riders,1254098,AS Raut,40,0,3.0,2.0,28,0,0,14.0,22.0
14,Chennai Super Kings,Kolkata Knight Riders,1254098,AT Rayudu,11,0,0.0,1.0,10,0,0,0.0,1.0
15,Chennai Super Kings,Kolkata Knight Riders,1254098,DL Chahar,1,0,0.0,0.0,1,0,0,0.0,0.0
16,Chennai Super Kings,Kolkata Knight Riders,1254098,F du Plessis,44,0,0.0,7.0,30,0,0,0.0,7.0
17,Chennai Super Kings,Kolkata Knight Riders,1254098,MM Ali,33,0,1.0,2.0,29,0,0,19.0,23.0
18,Chennai Super Kings,Kolkata Knight Riders,1254098,MS Dhoni,2,0,0.0,0.0,4,0,0,0.0,0.0
19,Chennai Super Kings,Kolkata Knight Riders,1254098,RA Jadeja,22,0,2.0,2.0,8,0,0,2.0,8.0
20,Chennai Super Kings,Kolkata Knight Riders,1254098,SM Curran,4,0,0.0,0.0,4,0,0,0.0,0.0
21,Chennai Super Kings,Kolkata Knight Riders,1254098,SN Thakur,3,0,0.0,0.0,2,0,0,0.0,0.0
22,Chennai Super Kings,Kolkata Knight Riders,1254098,Suresh Raina,12,0,0.0,1.0,7,0,0,0.0,1.0
23,Chennai Super Kings,Mumbai Indians,1254084,AS Raut,4,0,0.0,1.0,4,0,0,0.0,1.0
24,Chennai Super Kings,Mumbai Indians,1254084,AT Rayudu,74,0,6.0,4.0,26,1,0,22.0,46.0
25,Chennai Super Kings,Mumbai Indians,1254084,F du Plessis,50,0,4.0,2.0,28,1,0,18.0,36.0
26,Chennai Super Kings,Mumbai Indians,1254084,MM Ali,60,0,5.0,5.0,36,1,0,10.0,33.0
27,Chennai Super Kings,Mumbai Indians,1254084,RA Jadeja,28,0,0.0,2.0,25,0,0,0.0,2.0
28,Chennai Super Kings,Mumbai Indians,1254084,Suresh Raina,2,0,0.0,0.0,4,0,0,0.0,0.0
29,Chennai Super Kings,Mumbai Indians,1254104,AS Raut,90,0,4.0,9.0,58,1,0,30.0,55.0
30,Chennai Super Kings,Mumbai Indians,1254104,AT Rayudu,1,0,0.0,0.0,3,0,0,0.0,0.0
31,Chennai Super Kings,Mumbai Indians,1254104,DJ Bravo,24,0,3.0,0.0,9,0,0,0.0,6.0
32,Chennai Super Kings,Mumbai Indians,1254104,F du Plessis,0,1,0.0,0.0,3,0,0,0.0,-2.0
33,Chennai Super Kings,Mumbai Indians,1254104,MM Ali,0,1,0.0,0.0,3,0,0,0.0,-2.0
34,Chennai Super Kings,Mumbai Indians,1254104,MS Dhoni,3,0,0.0,0.0,5,0,0,0.0,0.0
35,Chennai Super Kings,Mumbai Indians,1254104,RA Jadeja,33,0,0.0,2.0,36,0,0,0.0,2.0
36,Chennai Super Kings,Mumbai Indians,1254104,SN Thakur,1,0,0.0,0.0,1,0,0,0.0,0.0
37,Chennai Super Kings,Mumbai Indians,1254104,Suresh Raina,4,0,0.0,1.0,6,0,0,0.0,1.0
38,Chennai Super Kings,Punjab Kings,1254065,AS Raut,5,0,0.0,0.0,16,0,0,0.0,0.0
39,Chennai Super Kings,Punjab Kings,1254065,AT Rayudu,0,1,0.0,0.0,1,0,0,0.0,-2.0

In [22]:
df_.sort_values(by=["matchid"])

,battingteam,bowlingteam,matchid,batsmanname,total_runs,duck,Sixes,Fours,balls,Fifties,hundreds,runs,dreamll_score
337,Mumbai Indians,Royal Challengers Bangalore,1254058,KH Pandya,8,0,0.0,0.0,7,0,0,0.0,0.0
334,Mumbai Indians,Royal Challengers Bangalore,1254058,Ishan Kishan,29,0,1.0,2.0,20,0,0,15.0,19.0
333,Mumbai Indians,Royal Challengers Bangalore,1254058,HH Pandya,13,0,0.0,2.0,10,0,0,0.0,2.0
332,Mumbai Indians,Royal Challengers Bangalore,1254058,CA Lynn,50,0,3.0,4.0,35,1,0,16.0,34.0
601,Royal Challengers Bangalore,Mumbai Indians,1254058,Washington Sundar,16,0,0.0,0.0,15,0,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,Chennai Super Kings,Royal Challengers Bangalore,1254113,MM Ali,24,0,2.0,0.0,19,0,0,0.0,4.0
68,Chennai Super Kings,Royal Challengers Bangalore,1254113,F du Plessis,32,0,2.0,2.0,26,0,0,12.0,18.0
561,Royal Challengers Bangalore,Chennai Super Kings,1254113,AB de Villiers,13,0,1.0,0.0,11,0,0,0.0,2.0
566,Royal Challengers Bangalore,Chennai Super Kings,1254113,V Kohli,54,0,1.0,6.0,41,1,0,24.0,40.0
562,Royal Challengers Bangalore,Chennai Super Kings,1254113,Devdutt Padikkal,73,0,3.0,5.0,51,1,0,35.0,54.0

In [23]:
df_2021['battingteam'].unique()

array(['Kolkata Knight Riders', 'Punjab Kings', 'Sunrisers Hyderabad',
       'Chennai Super Kings', 'Rajasthan Royals',
       'Royal Challengers Bangalore', 'Mumbai Indians', 'Delhi Capitals'],
      dtype=object)

In [24]:

total_runss = pd.DataFrame(df_2021[df_2021['battingteam']=="Kolkata Knight Riders"].groupby(['matchid','batsmanname'])['scorevalue'].sum()).\
       rename(columns={"scorevalue": "total_runs"})

In [25]:
total_runss[total_runss['total_runs']==0]

                            total_runs
matchid batsmanname
1254062 PJ Cummins                   0
1254072 Kamlesh Nagarkoti            0
        M Prasidh Krishna            0
        Shubman Gill                 0
        Varun Chakravarthy           0
1254078 N Rana                       0
1254082 SP Narine                    0
1254092 EJG Morgan                   0

In [26]:
data.shape

(197283, 15)

### 2018-2020

In [28]:
data.shape

(197283, 15)

In [52]:
df18_20 = data[150316:].copy()

In [54]:
df18_20.head()

,ball,batsmanname,batsmanscorevalue,battingteam,bowlername,bowlingteam,date,fallofwickets,innings,matchid,nonstrikername,over,scorevalue,target,totalruns
150316,24,RG Sharma,0,Mumbai Indians,SR Watson,Chennai Super Kings,07-04-2018,2,1st innings,1136561,Ishan Kishan,3.6,0,0,20
150317,23,RG Sharma,0,Mumbai Indians,SR Watson,Chennai Super Kings,07-04-2018,1,1st innings,1136561,Ishan Kishan,3.5,0,0,20
150318,49,Ishan Kishan,0,Mumbai Indians,RA Jadeja,Chennai Super Kings,07-04-2018,2,1st innings,1136561,SA Yadav,7.6,0,0,52
150319,21,RG Sharma,0,Mumbai Indians,SR Watson,Chennai Super Kings,07-04-2018,1,1st innings,1136561,Ishan Kishan,3.3,1,0,14
150320,20,RG Sharma,0,Mumbai Indians,SR Watson,Chennai Super Kings,07-04-2018,1,1st innings,1136561,Ishan Kishan,3.2,0,0,13

In [55]:
df18_20.tail()

,ball,batsmanname,batsmanscorevalue,battingteam,bowlername,bowlingteam,date,fallofwickets,innings,matchid,nonstrikername,over,scorevalue,target,totalruns
197278,114,KD Karthik,1,Kolkata Knight Riders,P Kumar,Sunrisers Hyderabad,"1 2021-10-03\nName: date, dtype: object",0,2nd innings,1254109,EJG Morgan,18.6,1,116,0
197279,115,KD Karthik,0,Kolkata Knight Riders,S Kaul,Sunrisers Hyderabad,"1 2021-10-03\nName: date, dtype: object",0,2nd innings,1254109,EJG Morgan,19.1,0,116,0
197280,116,KD Karthik,1,Kolkata Knight Riders,S Kaul,Sunrisers Hyderabad,"1 2021-10-03\nName: date, dtype: object",0,2nd innings,1254109,EJG Morgan,19.2,1,116,0
197281,117,EJG Morgan,1,Kolkata Knight Riders,S Kaul,Sunrisers Hyderabad,"1 2021-10-03\nName: date, dtype: object",0,2nd innings,1254109,KD Karthik,19.3,1,116,0
197282,118,KD Karthik,4,Kolkata Knight Riders,S Kaul,Sunrisers Hyderabad,"1 2021-10-03\nName: date, dtype: object",0,2nd innings,1254109,EJG Morgan,19.4,4,116,0

In [58]:
#total_runs
total_runs = pd.DataFrame(df18_20.groupby(['battingteam','bowlingteam','matchid','batsmanname'])['scorevalue'].sum()).\
       rename(columns={"scorevalue": "total_runs"})

#number of sixes
batsmen_scores6 = pd.DataFrame(df18_20[df18_20['scorevalue'] == 6].groupby(['battingteam','bowlingteam','matchid', 'batsmanname'])['scorevalue'].count()).\
            rename(columns={"scorevalue": "run_6"})

#number of fours
batsmen_scores4 = pd.DataFrame(df18_20[df18_20['scorevalue'] == 4].groupby(['battingteam','bowlingteam','matchid', 'batsmanname'])['scorevalue'].count()).\
            rename(columns={"scorevalue": "run_4"})

#no of balls
batsmen_ball_faced_legal = pd.DataFrame(df18_20.groupby(['battingteam','bowlingteam','matchid', 'batsmanname'])['over'].nunique()).\
            rename(columns={"over": "total_legal_balls_faced"})

#strikerate
batsmen_Strikerate = pd.DataFrame((df18_20.groupby(['battingteam','bowlingteam','matchid','batsmanname'])['scorevalue'].sum()/df18_20.groupby(['battingteam','bowlingteam','matchid', 'batsmanname'])['over'].nunique())*100).\
       rename(columns={"scorevalue":"strike_rate"})

#fifties
fifties = pd.DataFrame((df18_20.groupby(['battingteam','bowlingteam','matchid','batsmanname'])['scorevalue'].sum() >= 50)  
                       ).\
       rename(columns={"scorevalue": "50's"})
#hundreds
hundreds = pd.DataFrame(df18_20.groupby(['battingteam','bowlingteam','matchid','batsmanname'])['scorevalue'].sum() >= 100  ).\
       rename(columns={"scorevalue": "100's"})

#duck
duck  = pd.DataFrame(df18_20.groupby(['battingteam','bowlingteam','matchid','batsmanname'])['scorevalue'].sum() == 0).\
        rename(columns={"scorevalue": "duck"})

In [59]:
total_runs['duck'] = duck
total_runs['Sixes'] = batsmen_scores6
total_runs['Fours'] = batsmen_scores4
# total_runs['runs'] 
total_runs['balls'] = batsmen_ball_faced_legal
total_runs['Fifties'] = fifties
total_runs['hundreds'] = hundreds

In [60]:
runs = total_runs['total_runs'] - (total_runs['Sixes']*6 + total_runs['Fours']*4)
total_runs['runs'] = runs

In [61]:
# total_runs.head(2)
df = total_runs.copy()
df.hundreds = df.hundreds.replace({True: 1, False: 0})
df.Fifties = df.Fifties.replace({True: 1, False: 0})
df.duck = df.duck.replace({True: 1, False: 0})
# df.Sixes = df.Sixes.replace({True: 1, False: 0})
df = df.fillna(0)

In [62]:
dreamll_score = df['runs']*1 + df['Sixes']*2 + df['Fours']*1 + df['Fifties']*8 + df['hundreds']*16 - df['duck']*2
df['dreamll_score'] = dreamll_score

In [63]:
df.head(45)

                                                           total_runs  duck  \
battingteam         bowlingteam      matchid batsmanname
Chennai Super Kings Delhi Capitals   1175360 AT Rayudu              5     0
                                             DJ Bravo               4     0
                                             KM Jadhav             28     0
                                             MS Dhoni              34     0
                                             SK Raina              34     0
                                             SR Watson             45     0
                                     1178425 AT Rayudu              7     0
                                             F du Plessis          42     0
                                             MS Dhoni              45     0
                                             RA Jadeja             25     0
                                             SK Raina              60     0
                                             SR Watson              0     1
                                     1181767 AT Rayudu             20     0
                                             DJ Bravo               4     0
                                             F du Plessis          50     0
                                             MS Dhoni              10     0
                                             SK Raina              11     0
                                             SR Watson             56     0
                                     1216539 AS Raut               10     0
                                             F du Plessis          90     0
                                             KM Jadhav             54     0
                                             M Vijay               20     0
                                             MS Dhoni              30     0
                                             RA Jadeja             28     0
                                             SM Curran              2     0
                                             SR Watson             28     0
                                     1254059 AS Raut                7     0
                                             AT Rayudu             28     0
                                             F du Plessis           0     1
                                             MM Ali                36     0
                                             MS Dhoni               0     1
                                             RA Jadeja             27     0
                                             SM Curran             35     0
                                             Suresh Raina          55     0
                    Delhi Daredevils 1136590 AT Rayudu             43     0
                                             F du Plessis          36     0
                                             MS Dhoni              52     0
                                             SK Raina               1     0
                                             SR Watson             79     0
                                     1136612 AT Rayudu             50     0
                                             DJ Bravo               1     0
                                             DL Chahar              1     0
                                             MS Dhoni              17     0
                                             RA Jadeja             28     0
                                             SK Raina              15     0

                                                           Sixes  Fours  \
battingteam         bowlingteam      matchid batsmanname
Chennai Super Kings Delhi Capitals   1175360 AT Rayudu       0.0    1.0
                                             DJ Bravo        0.0    1.0
                                             KM Jadhav       0.0    2.0
                                             MS Dhoni        1.0    2.0
                                             SK Raina        1.0    5.0
                                             SR Watson       3.0    4.0
                                     1178425 AT Rayudu       0.0    1.0
                                             F du Plessis    2.0    2.0
                                             MS Dhoni        2.0    4.0
                                             RA Jadeja       2.0    2.0
                                             SK Raina        1.0    8.0
                                             SR Watson       0.0    0.0
                                     1181767 AT Rayudu       0.0    3.0
                                             DJ Bravo        0.0    1.0
                                             F du Plessis    1.0    7.0
                                             MS Dhoni        0.0    1.0
                                             SK Raina        0.0    0.0
                                             SR Watson       4.0    3.0
                                     1216539 AS Raut         0.0    0.0
                                             F du Plessis    0.0    8.0
                                             KM Jadhav       0.0    6.0
                                             M Vijay         0.0    2.0
                                             MS Dhoni        0.0    4.0
                                             RA Jadeja       0.0    2.0
                                             SM Curran       0.0    0.0
                                             SR Watson       2.0    2.0
                                     1254059 AS Raut         0.0    1.0
                                             AT Rayudu       1.0    2.0
                                             F du Plessis    0.0    0.0
                                             MM Ali          2.0    4.0
                                             MS Dhoni        0.0    0.0
                                             RA Jadeja       0.0    3.0
                                             SM Curran       2.0    4.0
                                             Suresh Raina    4.0    3.0
                    Delhi Daredevils 1136590 AT Rayudu       1.0    5.0
                                             F du Plessis    1.0    3.0
                                             MS Dhoni        5.0    2.0
                                             SK Raina        0.0    0.0
                                             SR Watson       7.0    4.0
                                     1136612 AT Rayudu       4.0    4.0
                                             DJ Bravo        0.0    0.0
                                             DL Chahar       0.0    0.0
                                             MS Dhoni        0.0    1.0
                                             RA Jadeja       2.0    0.0
                                             SK Raina        0.0    1.0

                                                           balls  Fifties  \
battingteam         bowlingteam      matchid batsmanname
Chennai Super Kings Delhi Capitals   1175360 AT Rayudu         5        0
                                             DJ Bravo          3        0
                                             KM Jadhav        34        0
                                             MS Dhoni         36        0
                                             SK Raina         16        0
                                             SR Watson        27        0
                                     1178425 AT Rayudu         3        0
                                             F du Plessis     43        0
                                             MS Dhoni         22        0
                                             RA Jadeja        10        0
                                             SK Raina         38        1
                                             SR Watson         9        0
                                     1181767 AT Rayudu        20        0
                                             DJ Bravo          1        0
                                             F du Plessis     39        1
                                             MS Dhoni          9        0
                                             SK Raina         13        0
                                             SR Watson        34        1
                                     1216539 AS Raut          10        0
                                             F du Plessis     36        1
                                             KM Jadhav        21        1
                                             M Vijay          15        0
                                             MS Dhoni         12        0
                                             RA Jadeja        10        0
                                             SM Curran         2        0
                                             SR Watson        16        0
                                     1254059 AS Raut           9        0
                                             AT Rayudu        16        0
                                             F du Plessis      3        0
                                             MM Ali           24        0
                                             MS Dhoni          2        0
                                             RA Jadeja        17        0
                                             SM Curran        16        0
                                             Suresh Raina     36        1
                    Delhi Daredevils 1136590 AT Rayudu        26        0
                                             F du Plessis     33        0
                                             MS Dhoni         22        1
                                             SK Raina          2        0
                                             SR Watson        41        1
                                     1136612 AT Rayudu        29        1
                                             DJ Bravo          2        0
                                             DL Chahar         2        0
                                             MS Dhoni         23        0
                                             RA Jadeja        18        0
                                             SK Raina         18        0

                                                           hundreds  runs  \
battingteam         bowlingteam      matchid batsmanname
Chennai Super Kings Delhi Capitals   1175360 AT Rayudu            0   0.0
                                             DJ Bravo             0   0.0
                                             KM Jadhav            0   0.0
                                             MS Dhoni             0  20.0
                                             SK Raina             0   8.0
                                             SR Watson            0  11.0
                                     1178425 AT Rayudu            0   0.0
                                             F du Plessis         0  22.0
                                             MS Dhoni             0  17.0
                                             RA Jadeja            0   5.0
                                             SK Raina             0  22.0
                                             SR Watson            0   0.0
                                     1181767 AT Rayudu            0   0.0
                                             DJ Bravo             0   0.0
                                             F du Plessis         0  16.0
                                             MS Dhoni             0   0.0
                                             SK Raina             0   0.0
                                             SR Watson            0  20.0
                                     1216539 AS Raut              0   0.0
                                             F du Plessis         0   0.0
                                             KM Jadhav            0   0.0
                                             M Vijay              0   0.0
                                             MS Dhoni             0   0.0
                                             RA Jadeja            0   0.0
                                             SM Curran            0   0.0
                                             SR Watson            0   8.0
                                     1254059 AS Raut              0   0.0
                                             AT Rayudu            0  14.0
                                             F du Plessis         0   0.0
                                             MM Ali               0   8.0
                                             MS Dhoni             0   0.0
                                             RA Jadeja            0   0.0
                                             SM Curran            0   7.0
                                             Suresh Raina         0  19.0
                    Delhi Daredevils 1136590 AT Rayudu            0  17.0
                                             F du Plessis         0  18.0
                                             MS Dhoni             0  14.0
                                             SK Raina             0   0.0
                                             SR Watson            0  21.0
                                     1136612 AT Rayudu            0  10.0
                                             DJ Bravo             0   0.0
                                             DL Chahar            0   0.0
                                             MS Dhoni             0   0.0
                                             RA Jadeja            0   0.0
                                             SK Raina             0   0.0

                                                           dreamll_score
battingteam         bowlingteam      matchid batsmanname
Chennai Super Kings Delhi Capitals   1175360 AT Rayudu               1.0
                                             DJ Bravo                1.0
                                             KM Jadhav               2.0
                                             MS Dhoni               24.0
                                             SK Raina               15.0
                                             SR Watson              21.0
                                     1178425 AT Rayudu               1.0
                                             F du Plessis           28.0
                                             MS Dhoni               25.0
                                             RA Jadeja              11.0
                                             SK Raina               40.0
                                             SR Watson              -2.0
                                     1181767 AT Rayudu               3.0
                                             DJ Bravo                1.0
                                             F du Plessis           33.0
                                             MS Dhoni                1.0
                                             SK Raina                0.0
                                             SR Watson              39.0
                                     1216539 AS Raut                 0.0
                                             F du Plessis           16.0
                                             KM Jadhav              14.0
                                             M Vijay                 2.0
                                             MS Dhoni                4.0
                                             RA Jadeja               2.0
                                             SM Curran               0.0
                                             SR Watson              14.0
                                     1254059 AS Raut                 1.0
                                             AT Rayudu              18.0
                                             F du Plessis           -2.0
                                             MM Ali                 16.0
                                             MS Dhoni               -2.0
                                             RA Jadeja               3.0
                                             SM Curran              15.0
                                             Suresh Raina           38.0
                    Delhi Daredevils 1136590 AT Rayudu              24.0
                                             F du Plessis           23.0
                                             MS Dhoni               34.0
                                             SK Raina                0.0
                                             SR Watson              47.0
                                     1136612 AT Rayudu              30.0
                                             DJ Bravo                0.0
                                             DL Chahar               0.0
                                             MS Dhoni                1.0
                                             RA Jadeja               4.0
                                             SK Raina                1.0

In [64]:
df.to_csv("data18_20.csv")

In [65]:
df_ = pd.read_csv("/workspace/dream11_prediction/PPP/data18_20.csv")

In [68]:
df_ = df_.sort_values(by=["matchid"])

In [78]:
df_.head(40)

,battingteam,bowlingteam,matchid,batsmanname,total_runs,duck,Sixes,Fours,balls,Fifties,hundreds,runs,dreamll_score
1299,Mumbai Indians,Chennai Super Kings,1136561,SA Yadav,43,0,1.0,6.0,29,0,0,13.0,21.0
124,Chennai Super Kings,Mumbai Indians,1136561,DL Chahar,0,1,0.0,0.0,1,0,0,0.0,-2.0
125,Chennai Super Kings,Mumbai Indians,1136561,Harbhajan Singh,9,0,0.0,1.0,6,0,0,0.0,1.0
126,Chennai Super Kings,Mumbai Indians,1136561,Imran Tahir,2,0,0.0,0.0,2,0,0,0.0,0.0
127,Chennai Super Kings,Mumbai Indians,1136561,KM Jadhav,27,0,2.0,1.0,23,0,0,11.0,16.0
128,Chennai Super Kings,Mumbai Indians,1136561,MA Wood,3,0,0.0,0.0,5,0,0,0.0,0.0
129,Chennai Super Kings,Mumbai Indians,1136561,MS Dhoni,5,0,0.0,0.0,5,0,0,0.0,0.0
130,Chennai Super Kings,Mumbai Indians,1136561,RA Jadeja,12,0,0.0,1.0,13,0,0,0.0,1.0
131,Chennai Super Kings,Mumbai Indians,1136561,SK Raina,4,0,0.0,0.0,6,0,0,0.0,0.0
132,Chennai Super Kings,Mumbai Indians,1136561,SR Watson,16,0,1.0,1.0,14,0,0,6.0,9.0
1294,Mumbai Indians,Chennai Super Kings,1136561,E Lewis,0,1,0.0,0.0,2,0,0,0.0,-2.0
1295,Mumbai Indians,Chennai Super Kings,1136561,HH Pandya,23,0,0.0,2.0,20,0,0,0.0,2.0
1296,Mumbai Indians,Chennai Super Kings,1136561,Ishan Kishan,41,0,1.0,4.0,29,0,0,19.0,25.0
1297,Mumbai Indians,Chennai Super Kings,1136561,KH Pandya,42,0,2.0,5.0,23,0,0,10.0,19.0
1298,Mumbai Indians,Chennai Super Kings,1136561,RG Sharma,16,0,1.0,1.0,19,0,0,6.0,9.0
122,Chennai Super Kings,Mumbai Indians,1136561,AT Rayudu,22,0,0.0,4.0,19,0,0,0.0,4.0
123,Chennai Super Kings,Mumbai Indians,1136561,DJ Bravo,69,0,7.0,3.0,30,1,0,15.0,40.0
604,Delhi Daredevils,Kings XI Punjab,1136562,DT Christian,15,0,1.0,0.0,13,0,0,0.0,2.0
606,Delhi Daredevils,Kings XI Punjab,1136562,R Tewatia,9,0,0.0,1.0,7,0,0,0.0,1.0
607,Delhi Daredevils,Kings XI Punjab,1136562,RR Pant,28,0,1.0,4.0,13,0,0,6.0,12.0
608,Delhi Daredevils,Kings XI Punjab,1136562,SS Iyer,13,0,1.0,0.0,13,0,0,0.0,2.0
609,Delhi Daredevils,Kings XI Punjab,1136562,V Shankar,14,0,0.0,0.0,14,0,0,0.0,0.0
747,Kings XI Punjab,Delhi Daredevils,1136562,DA Miller,24,0,0.0,1.0,23,0,0,0.0,1.0
748,Kings XI Punjab,Delhi Daredevils,1136562,KK Nair,50,0,2.0,5.0,33,1,0,18.0,35.0
750,Kings XI Punjab,Delhi Daredevils,1136562,MA Agarwal,7,0,1.0,0.0,5,0,0,0.0,2.0
751,Kings XI Punjab,Delhi Daredevils,1136562,MP Stoinis,23,0,0.0,2.0,15,0,0,0.0,2.0
752,Kings XI Punjab,Delhi Daredevils,1136562,Yuvraj Singh,12,0,0.0,2.0,22,0,0,0.0,2.0
749,Kings XI Punjab,Delhi Daredevils,1136562,KL Rahul,51,0,4.0,6.0,16,1,0,3.0,25.0
605,Delhi Daredevils,Kings XI Punjab,1136562,G Gambhir,56,0,1.0,5.0,42,1,0,30.0,45.0
603,Delhi Daredevils,Kings XI Punjab,1136562,CH Morris,27,0,1.0,1.0,16,0,0,17.0,20.0
602,Delhi Daredevils,Kings XI Punjab,1136562,C Munro,4,0,0.0,0.0,6,0,0,0.0,0.0
2255,Royal Challengers Bangalore,Kolkata Knight Riders,1136563,Q de Kock,4,0,0.0,1.0,4,0,0,0.0,1.0
1202,Kolkata Knight Riders,Royal Challengers Bangalore,1136563,KD Karthik,39,0,0.0,4.0,32,0,0,0.0,4.0
1203,Kolkata Knight Riders,Royal Challengers Bangalore,1136563,N Rana,38,0,2.0,2.0,27,0,0,18.0,24.0
1204,Kolkata Knight Riders,Royal Challengers Bangalore,1136563,R Vinay Kumar,7,0,0.0,1.0,4,0,0,0.0,1.0
1205,Kolkata Knight Riders,Royal Challengers Bangalore,1136563,RK Singh,7,0,0.0,1.0,7,0,0,0.0,1.0
2251,Royal Challengers Bangalore,Kolkata Knight Riders,1136563,AB de Villiers,44,0,5.0,1.0,23,0,0,10.0,21.0
2252,Royal Challengers Bangalore,Kolkata Knight Riders,1136563,BB McCullum,48,0,2.0,6.0,28,0,0,12.0,22.0
1200,Kolkata Knight Riders,Royal Challengers Bangalore,1136563,AD Russell,17,0,1.0,2.0,13,0,0,3.0,7.0
2254,Royal Challengers Bangalore,Kolkata Knight Riders,1136563,Mandeep Singh,37,0,2.0,4.0,18,0,0,9.0,17.0

In [84]:
df1 = df_[df_['battingteam'] == 'Mumbai Indians']
df2 = df1[df1['bowlingteam'] == 'Chennai Super Kings']
df3 = df_[df_['battingteam'] == 'Chennai Super Kings']
df4 = df3[df3['bowlingteam'] == 'Mumbai Indians']
# df2.head(50)

In [89]:
df_Mumbai = df2.copy()
df_Mumbai.to_csv("mi18_20.csv")
df_Mumbai.head(40)

,battingteam,bowlingteam,matchid,batsmanname,total_runs,duck,Sixes,Fours,balls,Fifties,hundreds,runs,dreamll_score
1299,Mumbai Indians,Chennai Super Kings,1136561,SA Yadav,43,0,1.0,6.0,29,0,0,13.0,21.0
1294,Mumbai Indians,Chennai Super Kings,1136561,E Lewis,0,1,0.0,0.0,2,0,0,0.0,-2.0
1295,Mumbai Indians,Chennai Super Kings,1136561,HH Pandya,23,0,0.0,2.0,20,0,0,0.0,2.0
1296,Mumbai Indians,Chennai Super Kings,1136561,Ishan Kishan,41,0,1.0,4.0,29,0,0,19.0,25.0
1297,Mumbai Indians,Chennai Super Kings,1136561,KH Pandya,42,0,2.0,5.0,23,0,0,10.0,19.0
1298,Mumbai Indians,Chennai Super Kings,1136561,RG Sharma,16,0,1.0,1.0,19,0,0,6.0,9.0
1300,Mumbai Indians,Chennai Super Kings,1136587,E Lewis,53,0,2.0,4.0,45,1,0,25.0,41.0
1303,Mumbai Indians,Chennai Super Kings,1136587,SA Yadav,45,0,1.0,5.0,35,0,0,19.0,26.0
1302,Mumbai Indians,Chennai Super Kings,1136587,RG Sharma,59,0,2.0,6.0,35,1,0,23.0,41.0
1301,Mumbai Indians,Chennai Super Kings,1136587,HH Pandya,13,0,1.0,0.0,8,0,0,0.0,2.0
1309,Mumbai Indians,Chennai Super Kings,1175370,SA Yadav,59,0,1.0,8.0,43,1,0,21.0,39.0
1304,Mumbai Indians,Chennai Super Kings,1175370,HH Pandya,26,0,3.0,1.0,9,0,0,4.0,11.0
1305,Mumbai Indians,Chennai Super Kings,1175370,KA Pollard,20,0,1.0,0.0,9,0,0,0.0,2.0
1306,Mumbai Indians,Chennai Super Kings,1175370,KH Pandya,42,0,1.0,5.0,32,0,0,16.0,23.0
1307,Mumbai Indians,Chennai Super Kings,1175370,Q de Kock,5,0,0.0,1.0,7,0,0,0.0,1.0
1310,Mumbai Indians,Chennai Super Kings,1175370,Yuvraj Singh,4,0,0.0,0.0,6,0,0,0.0,0.0
1308,Mumbai Indians,Chennai Super Kings,1175370,RG Sharma,14,0,0.0,1.0,19,0,0,0.0,1.0
1311,Mumbai Indians,Chennai Super Kings,1178419,E Lewis,34,0,1.0,3.0,31,0,0,16.0,21.0
1312,Mumbai Indians,Chennai Super Kings,1178419,HH Pandya,24,0,1.0,1.0,19,0,0,14.0,17.0
1313,Mumbai Indians,Chennai Super Kings,1178419,KA Pollard,13,0,0.0,2.0,12,0,0,0.0,2.0
1314,Mumbai Indians,Chennai Super Kings,1178419,KH Pandya,1,0,0.0,0.0,3,0,0,0.0,0.0
1315,Mumbai Indians,Chennai Super Kings,1178419,Q de Kock,16,0,1.0,1.0,10,0,0,6.0,9.0
1316,Mumbai Indians,Chennai Super Kings,1178419,RG Sharma,67,0,3.0,6.0,48,1,0,25.0,45.0
1321,Mumbai Indians,Chennai Super Kings,1181764,RG Sharma,4,0,0.0,1.0,2,0,0,0.0,1.0
1320,Mumbai Indians,Chennai Super Kings,1181764,Q de Kock,11,0,0.0,2.0,13,0,0,0.0,2.0
1322,Mumbai Indians,Chennai Super Kings,1181764,SA Yadav,71,0,0.0,10.0,54,1,0,0.0,18.0
1319,Mumbai Indians,Chennai Super Kings,1181764,KH Pandya,0,1,0.0,0.0,1,0,0,0.0,-2.0
1317,Mumbai Indians,Chennai Super Kings,1181764,HH Pandya,13,0,0.0,1.0,11,0,0,0.0,1.0
1318,Mumbai Indians,Chennai Super Kings,1181764,Ishan Kishan,33,0,1.0,2.0,32,0,0,19.0,23.0
1331,Mumbai Indians,Chennai Super Kings,1181768,SA Yadav,15,0,0.0,1.0,17,0,0,0.0,1.0
1330,Mumbai Indians,Chennai Super Kings,1181768,RG Sharma,15,0,1.0,1.0,14,0,0,5.0,8.0
1329,Mumbai Indians,Chennai Super Kings,1181768,RD Chahar,0,1,0.0,0.0,2,0,0,0.0,-2.0
1328,Mumbai Indians,Chennai Super Kings,1181768,Q de Kock,30,0,4.0,0.0,18,0,0,0.0,8.0
1327,Mumbai Indians,Chennai Super Kings,1181768,MJ McClenaghan,0,1,0.0,0.0,2,0,0,0.0,-2.0
1325,Mumbai Indians,Chennai Super Kings,1181768,KA Pollard,41,0,3.0,3.0,25,0,0,11.0,20.0
1324,Mumbai Indians,Chennai Super Kings,1181768,Ishan Kishan,25,0,0.0,3.0,28,0,0,0.0,3.0
1323,Mumbai Indians,Chennai Super Kings,1181768,HH Pandya,16,0,1.0,1.0,10,0,0,6.0,9.0
1326,Mumbai Indians,Chennai Super Kings,1181768,KH Pandya,7,0,0.0,0.0,7,0,0,0.0,0.0
1341,Mumbai Indians,Chennai Super Kings,1216492,SS Tiwary,84,0,2.0,6.0,31,1,0,48.0,66.0
1342,Mumbai Indians,Chennai Super Kings,1216492,TA Boult,0,1,0.0,0.0,1,0,0,0.0,-2.0

In [88]:
df_csk = df4.copy()
df_csk.to_csv("csk18_20.csv")
# df_csk.head(40)

,battingteam,bowlingteam,matchid,batsmanname,total_runs,duck,Sixes,Fours,balls,Fifties,hundreds,runs,dreamll_score
124,Chennai Super Kings,Mumbai Indians,1136561,DL Chahar,0,1,0.0,0.0,1,0,0,0.0,-2.0
125,Chennai Super Kings,Mumbai Indians,1136561,Harbhajan Singh,9,0,0.0,1.0,6,0,0,0.0,1.0
126,Chennai Super Kings,Mumbai Indians,1136561,Imran Tahir,2,0,0.0,0.0,2,0,0,0.0,0.0
127,Chennai Super Kings,Mumbai Indians,1136561,KM Jadhav,27,0,2.0,1.0,23,0,0,11.0,16.0
128,Chennai Super Kings,Mumbai Indians,1136561,MA Wood,3,0,0.0,0.0,5,0,0,0.0,0.0
129,Chennai Super Kings,Mumbai Indians,1136561,MS Dhoni,5,0,0.0,0.0,5,0,0,0.0,0.0
130,Chennai Super Kings,Mumbai Indians,1136561,RA Jadeja,12,0,0.0,1.0,13,0,0,0.0,1.0
131,Chennai Super Kings,Mumbai Indians,1136561,SK Raina,4,0,0.0,0.0,6,0,0,0.0,0.0
132,Chennai Super Kings,Mumbai Indians,1136561,SR Watson,16,0,1.0,1.0,14,0,0,6.0,9.0
122,Chennai Super Kings,Mumbai Indians,1136561,AT Rayudu,22,0,0.0,4.0,19,0,0,0.0,4.0
123,Chennai Super Kings,Mumbai Indians,1136561,DJ Bravo,69,0,7.0,3.0,30,1,0,15.0,40.0
137,Chennai Super Kings,Mumbai Indians,1136587,SR Watson,12,0,0.0,1.0,11,0,0,0.0,1.0
136,Chennai Super Kings,Mumbai Indians,1136587,SK Raina,78,0,4.0,6.0,48,1,0,30.0,52.0
135,Chennai Super Kings,Mumbai Indians,1136587,MS Dhoni,29,0,1.0,3.0,23,0,0,11.0,16.0
134,Chennai Super Kings,Mumbai Indians,1136587,DJ Bravo,0,1,0.0,0.0,1,0,0,0.0,-2.0
133,Chennai Super Kings,Mumbai Indians,1136587,AT Rayudu,47,0,4.0,2.0,36,0,0,15.0,25.0
138,Chennai Super Kings,Mumbai Indians,1136587,SW Billings,3,0,0.0,0.0,5,0,0,0.0,0.0
142,Chennai Super Kings,Mumbai Indians,1175370,KM Jadhav,63,0,1.0,8.0,56,1,0,25.0,43.0
141,Chennai Super Kings,Mumbai Indians,1175370,DL Chahar,7,0,0.0,1.0,7,0,0,0.0,1.0
140,Chennai Super Kings,Mumbai Indians,1175370,DJ Bravo,13,0,1.0,1.0,10,0,0,3.0,6.0
148,Chennai Super Kings,Mumbai Indians,1175370,SR Watson,6,0,0.0,1.0,6,0,0,0.0,1.0
147,Chennai Super Kings,Mumbai Indians,1175370,SN Thakur,12,0,1.0,1.0,5,0,0,2.0,5.0
146,Chennai Super Kings,Mumbai Indians,1175370,SK Raina,17,0,1.0,2.0,16,0,0,3.0,7.0
145,Chennai Super Kings,Mumbai Indians,1175370,RA Jadeja,1,0,0.0,0.0,2,0,0,0.0,0.0
144,Chennai Super Kings,Mumbai Indians,1175370,MS Dhoni,14,0,0.0,0.0,22,0,0,0.0,0.0
143,Chennai Super Kings,Mumbai Indians,1175370,MM Sharma,0,1,0.0,0.0,2,0,0,0.0,-2.0
139,Chennai Super Kings,Mumbai Indians,1175370,AT Rayudu,0,1,0.0,0.0,1,0,0,0.0,-2.0
153,Chennai Super Kings,Mumbai Indians,1178419,Harbhajan Singh,1,0,0.0,0.0,3,0,0,0.0,0.0
156,Chennai Super Kings,Mumbai Indians,1178419,MJ Santner,24,0,2.0,0.0,21,0,0,0.0,4.0
149,Chennai Super Kings,Mumbai Indians,1178419,AT Rayudu,0,1,0.0,0.0,3,0,0,0.0,-2.0
150,Chennai Super Kings,Mumbai Indians,1178419,DJ Bravo,20,0,0.0,2.0,17,0,0,0.0,2.0
151,Chennai Super Kings,Mumbai Indians,1178419,DL Chahar,1,0,0.0,0.0,3,0,0,0.0,0.0
155,Chennai Super Kings,Mumbai Indians,1178419,M Vijay,39,0,1.0,3.0,35,0,0,21.0,26.0
158,Chennai Super Kings,Mumbai Indians,1178419,SR Watson,8,0,0.0,2.0,4,0,0,0.0,2.0
157,Chennai Super Kings,Mumbai Indians,1178419,SK Raina,2,0,0.0,0.0,4,0,0,0.0,0.0
154,Chennai Super Kings,Mumbai Indians,1178419,KM Jadhav,6,0,0.0,0.0,11,0,0,0.0,0.0
152,Chennai Super Kings,Mumbai Indians,1178419,DR Shorey,8,0,0.0,0.0,11,0,0,0.0,0.0
163,Chennai Super Kings,Mumbai Indians,1181764,SK Raina,6,0,0.0,1.0,7,0,0,0.0,1.0
164,Chennai Super Kings,Mumbai Indians,1181764,SR Watson,10,0,0.0,2.0,13,0,0,0.0,2.0
162,Chennai Super Kings,Mumbai Indians,1181764,MS Dhoni,38,0,3.0,0.0,29,0,0,0.0,6.0