### EDA

In [1]:
import pandas as pd
import numpy as np

Batsman_name -> done
Batting_team -> done
Runs_in_last3 
<!-- Runs_in_lastseason  -->
Strike_rate  --> done
4 -> done
6 -> done
50's --> done
100's --> done
Runs -> done
Duck  --> done
Batting_position --> done
<!-- Bowler_name -->
Bowling_team -> done
Dream11_score

In [2]:
data = pd.read_csv("/workspace/dream11_prediction/Data/matchdata.csv",low_memory=False)

In [3]:
data.tail(3)

,ball,batsmanname,batsmanscorevalue,battingteam,bowlername,bowlingteam,date,fallofwickets,innings,matchid,nonstrikername,over,scorevalue,target,totalruns
197280,116,KD Karthik,1,Kolkata Knight Riders,S Kaul,Sunrisers Hyderabad,"1 2021-10-03\nName: date, dtype: object",0,2nd innings,1254109,EJG Morgan,19.2,1,116,0
197281,117,EJG Morgan,1,Kolkata Knight Riders,S Kaul,Sunrisers Hyderabad,"1 2021-10-03\nName: date, dtype: object",0,2nd innings,1254109,KD Karthik,19.3,1,116,0
197282,118,KD Karthik,4,Kolkata Knight Riders,S Kaul,Sunrisers Hyderabad,"1 2021-10-03\nName: date, dtype: object",0,2nd innings,1254109,EJG Morgan,19.4,4,116,0

In [4]:
#data of 2021 last match
df = data[197042:].copy() 
df1 = data.copy()

In [5]:
# df = df.reset_index()
# df.drop(df["index"],inplace=True)
df.head(2)

,ball,batsmanname,batsmanscorevalue,battingteam,bowlername,bowlingteam,date,fallofwickets,innings,matchid,nonstrikername,over,scorevalue,target,totalruns
197042,1,Jason Roy,1,Sunrisers Hyderabad,Tim Southee,Kolkata Knight Riders,"1 2021-10-03\nName: date, dtype: object",0,1st innings,1254109,WP Saha,0.1,1,0,1
197043,2,WP Saha,0,Sunrisers Hyderabad,Tim Southee,Kolkata Knight Riders,"1 2021-10-03\nName: date, dtype: object",1,1st innings,1254109,Jason Roy,0.2,0,0,1

In [6]:
# df['date'].values_count()

In [6]:
df.groupby(['matchid','batsmanname'])['scorevalue'].sum()

matchid  batsmanname
1254109  A Samad            25
         Abhishek Sharma     6
         EJG Morgan          2
         JO Holder           4
         Jason Roy          11
         KD Karthik         18
         KS Williamson      26
         N Rana             27
         P Garg             21
         P Kumar             7
         RA Tripathi         7
         Rashid Khan         8
         S Kaul              7
         Shubman Gill       57
         Venkatesh Iyer      8
         WP Saha             0
Name: scorevalue, dtype: int64

In [7]:
# data = pd.DataFrame(data)
data.groupby(['matchid','batsmanname'])['scorevalue'].sum()

matchid  batsmanname
335982   AA Noffke                      11
         B Akhil                         0
         BB McCullum                   169
         CL White                        6
         DJ Hussey                      12
                                      ...
1254113  MS Dhoni                       11
         Suresh Raina                   18
         Tim David                       1
         V Kohli                        54
         Wanindu Hasaranga de Silva      1
Name: scorevalue, Length: 12335, dtype: int64

In [9]:
df.groupby(['battingteam','matchid','batsmanname'])['scorevalue'].sum()

battingteam            matchid  batsmanname
Kolkata Knight Riders  1254109  EJG Morgan          2
                                KD Karthik         18
                                N Rana             27
                                RA Tripathi         7
                                Shubman Gill       57
                                Venkatesh Iyer      8
Sunrisers Hyderabad    1254109  A Samad            25
                                Abhishek Sharma     6
                                JO Holder           4
                                Jason Roy          11
                                KS Williamson      26
                                P Garg             21
                                P Kumar             7
                                Rashid Khan         8
                                S Kaul              7
                                WP Saha             0
Name: scorevalue, dtype: int64

In [8]:
#total_runs
total_runs = pd.DataFrame(df.groupby(['battingteam','matchid','batsmanname'])['scorevalue'].sum()).\
       rename(columns={"scorevalue": "total_runs"})

#number of sixes
batsmen_scores6 = pd.DataFrame(df[df['scorevalue'] == 6].groupby(['battingteam','matchid', 'batsmanname'])['scorevalue'].count()).\
            rename(columns={"scorevalue": "run_6"})

#number of fours
batsmen_scores4 = pd.DataFrame(df[df['scorevalue'] == 4].groupby(['battingteam','matchid', 'batsmanname'])['scorevalue'].count()).\
            rename(columns={"scorevalue": "run_4"})

#no of balls
batsmen_ball_faced_legal = pd.DataFrame(df.groupby(['battingteam','matchid', 'batsmanname'])['over'].nunique()).\
            rename(columns={"over": "total_legal_balls_faced"})

#strikerate
batsmen_Strikerate = pd.DataFrame((df.groupby(['battingteam','matchid','batsmanname'])['scorevalue'].sum()/df.groupby(['matchid', 'batsmanname'])['over'].nunique())*100).\
       rename(columns={"scorevalue":"strike_rate"})

#fifties
fifties = pd.DataFrame((df.groupby(['battingteam','matchid','batsmanname'])['scorevalue'].sum() >= 50)  
                       ).\
       rename(columns={"scorevalue": "50's"})
#hundreds
hundreds = pd.DataFrame(df.groupby(['battingteam','matchid','batsmanname'])['scorevalue'].sum() >= 100  ).\
       rename(columns={"scorevalue": "100's"})

#duck
duck  = pd.DataFrame(df.groupby(['battingteam','matchid','batsmanname'])['scorevalue'].sum() == 0).\
        rename(columns={"scorevalue": "duck"})

#batsmen_position
batsmen_position = pd.DataFrame(df.groupby(['battingteam','matchid', 'batsmanname'])['fallofwickets'].min())

#batting_team
batting_team = pd.DataFrame(df['battingteam'])

#batting_team
bowling_team = pd.DataFrame(df['bowlingteam'])

### Dreamll_target_columns

In [9]:
  pointsconfig = {
        'total_runs': 1,
        'run_6': 2,
        'run_4': 1,
        '>=50': 8,
        '>=100': 16,
        'duck': -2,
  }

### Merging

In [10]:
# df1.s
# total_runs
# batsmen_scores6
# batsmen_ball_faced_legal
# batsmen_Strikerate
# fifties
# hundreds
# duck.head(3)

In [11]:
# # df1.head(30)
# total_runs['duck'] = duck['duck']
# total_runs['Sixes'] = batsmen_scores6['run_6']
# total_runs['Fours'] = batsmen_scores4['run_4']
# total_runs['balls'] = batsmen_ball_faced_legal['total_legal_balls_faced']
# # total_runs['strike_rate'] = batsmen_Strikerate['0']
# total_runs['fifties'] = fifties['50\'s'] 
# total_runs['hundreds'] = hundreds['100\'s'] 
# # total_runs[''] =

In [12]:
# batsmen_Strikerate = pd.DataFrame(batsmen_Strikerate)
# batsmen_Strikerate['0'].head()
# batsmen_Strikerate

Date
runs
venue
bowlingteam
strike_rate
Dream_11 score

In [13]:
# # total_runs = total_runs.fillna(0)
# total_runs = pd.DataFrame(total_runs)
# total_runs

In [22]:
runs = total_runs['total_runs'] - (total_runs['Sixes']*6 + total_runs['Fours']*4)
total_runs['runs'] = runs
### target column

In [15]:
data.shape

(197283, 15)

In [16]:
print(type(batsmen_Strikerate))

<class 'pandas.core.frame.DataFrame'>

In [17]:
pointsconfig

{'total_runs': 1, 'run_6': 2, 'run_4': 1, '>=50': 8, '>=100': 16, 'duck': -2}

In [18]:
total_runs['duck'] = duck
total_runs['Sixes'] = batsmen_scores6
total_runs['Fours'] = batsmen_scores4
# total_runs['runs'] 
total_runs['balls'] = batsmen_ball_faced_legal
total_runs['Fifties'] = fifties
total_runs['hundreds'] = hundreds
# total_runs['total_runs'] = total_runs

In [19]:
total_runs = total_runs.fillna(0)

In [20]:
# total_runs.head(2)
df = total_runs.copy()
df.hundreds = df.hundreds.replace({True: 1, False: 0})
df.Fifties = df.Fifties.replace({True: 1, False: 0})
df.duck = df.duck.replace({True: 1, False: 0})
# df.Sixes = df.Sixes.replace({True: 1, False: 0})
df

                                               total_runs  duck  Sixes  Fours  \
battingteam           matchid batsmanname
Kolkata Knight Riders 1254109 EJG Morgan                2     0    0.0    0.0
                              KD Karthik               18     0    0.0    3.0
                              N Rana                   27     0    0.0    3.0
                              RA Tripathi               7     0    0.0    1.0
                              Shubman Gill             57     0    0.0   10.0
                              Venkatesh Iyer            8     0    0.0    0.0
Sunrisers Hyderabad   1254109 A Samad                  25     0    3.0    0.0
                              Abhishek Sharma           6     0    0.0    0.0
                              JO Holder                 4     0    0.0    0.0
                              Jason Roy                11     0    0.0    2.0
                              KS Williamson            26     0    0.0    4.0
                              P Garg                   21     0    1.0    0.0
                              P Kumar                   7     0    0.0    0.0
                              Rashid Khan               8     0    0.0    1.0
                              S Kaul                    7     0    0.0    1.0
                              WP Saha                   0     1    0.0    0.0

                                               balls  Fifties  hundreds
battingteam           matchid batsmanname
Kolkata Knight Riders 1254109 EJG Morgan           2        0         0
                              KD Karthik          12        0         0
                              N Rana              33        0         0
                              RA Tripathi          6        0         0
                              Shubman Gill        51        1         0
                              Venkatesh Iyer      14        0         0
Sunrisers Hyderabad   1254109 A Samad             18        0         0
                              Abhishek Sharma     10        0         0
                              JO Holder            9        0         0
                              Jason Roy           12        0         0
                              KS Williamson       21        0         0
                              P Garg              31        0         0
                              P Kumar              7        0         0
                              Rashid Khan          6        0         0
                              S Kaul               5        0         0
                              WP Saha              1        0         0

In [23]:
df['runs'] = runs

In [24]:
df.head(2)

                                           total_runs  duck  Sixes  Fours  \
battingteam           matchid batsmanname
Kolkata Knight Riders 1254109 EJG Morgan            2     0    0.0    0.0
                              KD Karthik           18     0    0.0    3.0

                                           balls  Fifties  hundreds  runs
battingteam           matchid batsmanname
Kolkata Knight Riders 1254109 EJG Morgan       2        0         0   2.0
                              KD Karthik      12        0         0   6.0

In [25]:
dreamll_score = df['runs']*1 + df['Sixes']*2 + df['Fours']*1 + df['Fifties']*8 + df['hundreds']*16 - df['duck']*2
df['dreamll_score'] = dreamll_score

In [27]:
# batsmen_scores4

In [28]:
df1 = df.copy()
df1
#date
#venue
#bowler
#

                                               total_runs  duck  Sixes  Fours  \
battingteam           matchid batsmanname
Kolkata Knight Riders 1254109 EJG Morgan                2     0    0.0    0.0
                              KD Karthik               18     0    0.0    3.0
                              N Rana                   27     0    0.0    3.0
                              RA Tripathi               7     0    0.0    1.0
                              Shubman Gill             57     0    0.0   10.0
                              Venkatesh Iyer            8     0    0.0    0.0
Sunrisers Hyderabad   1254109 A Samad                  25     0    3.0    0.0
                              Abhishek Sharma           6     0    0.0    0.0
                              JO Holder                 4     0    0.0    0.0
                              Jason Roy                11     0    0.0    2.0
                              KS Williamson            26     0    0.0    4.0
                              P Garg                   21     0    1.0    0.0
                              P Kumar                   7     0    0.0    0.0
                              Rashid Khan               8     0    0.0    1.0
                              S Kaul                    7     0    0.0    1.0
                              WP Saha                   0     1    0.0    0.0

                                               balls  Fifties  hundreds  runs  \
battingteam           matchid batsmanname
Kolkata Knight Riders 1254109 EJG Morgan           2        0         0   2.0
                              KD Karthik          12        0         0   6.0
                              N Rana              33        0         0  15.0
                              RA Tripathi          6        0         0   3.0
                              Shubman Gill        51        1         0  17.0
                              Venkatesh Iyer      14        0         0   8.0
Sunrisers Hyderabad   1254109 A Samad             18        0         0   7.0
                              Abhishek Sharma     10        0         0   6.0
                              JO Holder            9        0         0   4.0
                              Jason Roy           12        0         0   3.0
                              KS Williamson       21        0         0  10.0
                              P Garg              31        0         0  15.0
                              P Kumar              7        0         0   7.0
                              Rashid Khan          6        0         0   4.0
                              S Kaul               5        0         0   3.0
                              WP Saha              1        0         0   0.0

                                               dreamll_score
battingteam           matchid batsmanname
Kolkata Knight Riders 1254109 EJG Morgan                 2.0
                              KD Karthik                 9.0
                              N Rana                    18.0
                              RA Tripathi                4.0
                              Shubman Gill              35.0
                              Venkatesh Iyer             8.0
Sunrisers Hyderabad   1254109 A Samad                   13.0
                              Abhishek Sharma            6.0
                              JO Holder                  4.0
                              Jason Roy                  5.0
                              KS Williamson             14.0
                              P Garg                    17.0
                              P Kumar                    7.0
                              Rashid Khan                5.0
                              S Kaul                     4.0
                              WP Saha                   -2.0

In [30]:
# data['date']

### Simualting above format to whole 2021 season

In [42]:
197283 - 70*240

180483

In [51]:
data.tail(2)

,ball,batsmanname,batsmanscorevalue,battingteam,bowlername,bowlingteam,date,fallofwickets,innings,matchid,nonstrikername,over,scorevalue,target,totalruns
197281,117,EJG Morgan,1,Kolkata Knight Riders,S Kaul,Sunrisers Hyderabad,"1 2021-10-03\nName: date, dtype: object",0,2nd innings,1254109,KD Karthik,19.3,1,116,0
197282,118,KD Karthik,4,Kolkata Knight Riders,S Kaul,Sunrisers Hyderabad,"1 2021-10-03\nName: date, dtype: object",0,2nd innings,1254109,EJG Morgan,19.4,4,116,0

In [103]:
df_2021 = data[185471:].copy()
df_2021.head(2)

,ball,batsmanname,batsmanscorevalue,battingteam,bowlername,bowlingteam,date,fallofwickets,innings,matchid,nonstrikername,over,scorevalue,target,totalruns
185471,1,Venkatesh Iyer,4,Kolkata Knight Riders,F Allen,Punjab Kings,"15 2021-10-01\nName: date, dtype: object",0,1st innings,1254102,Shubman Gill,0.1,4,0,4
185472,2,Venkatesh Iyer,0,Kolkata Knight Riders,F Allen,Punjab Kings,"15 2021-10-01\nName: date, dtype: object",0,1st innings,1254102,Shubman Gill,0.2,0,0,4

In [66]:
#total_runs
total_runs = pd.DataFrame(df_2021.groupby(['matchid','batsmanname'])['scorevalue'].sum()).\
       rename(columns={"scorevalue": "total_runs"})

#number of sixes
batsmen_scores6 = pd.DataFrame(df_2021[df_2021['scorevalue'] == 6].groupby(['matchid', 'batsmanname'])['scorevalue'].count()).\
            rename(columns={"scorevalue": "run_6"})

#number of fours
batsmen_scores4 = pd.DataFrame(df_2021[df_2021['scorevalue'] == 4].groupby(['matchid', 'batsmanname'])['scorevalue'].count()).\
            rename(columns={"scorevalue": "run_4"})

#no of balls
batsmen_ball_faced_legal = pd.DataFrame(df_2021.groupby(['matchid', 'batsmanname'])['over'].nunique()).\
            rename(columns={"over": "total_legal_balls_faced"})

#strikerate
batsmen_Strikerate = pd.DataFrame((df_2021.groupby(['matchid','batsmanname'])['scorevalue'].sum()/df_2021.groupby(['matchid', 'batsmanname'])['over'].nunique())*100).\
       rename(columns={"scorevalue":"strike_rate"})

#fifties
fifties = pd.DataFrame((df_2021.groupby(['matchid','batsmanname'])['scorevalue'].sum() >= 50)  
                       ).\
       rename(columns={"scorevalue": "50's"})
#hundreds
hundreds = pd.DataFrame(df_2021.groupby(['matchid','batsmanname'])['scorevalue'].sum() >= 100  ).\
       rename(columns={"scorevalue": "100's"})

#duck
duck  = pd.DataFrame(df_2021.groupby(['matchid','batsmanname'])['scorevalue'].sum() == 0).\
        rename(columns={"scorevalue": "duck"})

# #batsmen_position
batsmen_position = pd.DataFrame(df_2021.groupby(['matchid', 'batsmanname'])['fallofwickets'].min())

#batting_team
batting_team = pd.DataFrame(df_2021['battingteam'])

# batting_team
bowling_team = pd.DataFrame(df_2021['bowlingteam'])

In [67]:
total_runs['duck'] = duck
total_runs['Sixes'] = batsmen_scores6
total_runs['Fours'] = batsmen_scores4
# total_runs['runs'] 
total_runs['balls'] = batsmen_ball_faced_legal
total_runs['Fifties'] = fifties
total_runs['hundreds'] = hundreds

In [68]:
runs = total_runs['total_runs'] - (total_runs['Sixes']*6 + total_runs['Fours']*4)
total_runs['runs'] = runs

In [69]:
# total_runs.head(2)
df = total_runs.copy()
df.hundreds = df.hundreds.replace({True: 1, False: 0})
df.Fifties = df.Fifties.replace({True: 1, False: 0})
df.duck = df.duck.replace({True: 1, False: 0})
# df.Sixes = df.Sixes.replace({True: 1, False: 0})
df = df.fillna(0)

In [70]:
dreamll_score = df['runs']*1 + df['Sixes']*2 + df['Fours']*1 + df['Fifties']*8 + df['hundreds']*16 - df['duck']*2
df['dreamll_score'] = dreamll_score

In [83]:
# df['batting_team'] = batting_team
batting_team.nunique()

battingteam    8
dtype: int64

In [73]:
df.head(30)

                           total_runs  duck  Sixes  Fours  balls  Fifties  \
matchid batsmanname
1254058 AB de Villiers             48     0    2.0    4.0     27        0
        CA Lynn                    50     0    3.0    4.0     35        1
        Dan Christian               1     0    0.0    0.0      3        0
        GJ Maxwell                 41     0    2.0    3.0     29        0
        HH Pandya                  13     0    0.0    2.0     10        0
        HV Patel                    4     0    0.0    0.0      3        0
        Ishan Kishan               29     0    1.0    2.0     20        0
        JJ Bumrah                   1     0    0.0    0.0      2        0
        KA Pollard                  7     0    0.0    1.0      9        0
        KH Pandya                   8     0    0.0    0.0      7        0
        Kyle Jamieson               4     0    0.0    0.0      4        0
        M Siraj                     1     0    0.0    0.0      1        0
        Marco Jansen                0     1    0.0    0.0      2        0
        RG Sharma                  19     0    1.0    1.0     15        0
        Rajat Patidar               9     0    0.0    1.0      8        0
        S Ahmed                     2     0    0.0    0.0      3        0
        SA Yadav                   32     0    1.0    4.0     23        0
        V Kohli                    34     0    0.0    4.0     29        0
        Washington Sundar          16     0    0.0    0.0     15        0
1254059 AS Raut                     7     0    0.0    1.0      9        0
        AT Rayudu                  28     0    1.0    2.0     16        0
        F du Plessis                0     1    0.0    0.0      3        0
        MM Ali                     36     0    2.0    4.0     24        0
        MP Stoinis                 15     0    0.0    3.0      9        0
        MS Dhoni                    0     1    0.0    0.0      2        0
        PP Shaw                    72     0    3.0    9.0     38        1
        RA Jadeja                  27     0    0.0    3.0     17        0
        RR Pant                    16     0    0.0    2.0     13        0
        S Dhawan                   87     0    2.0   10.0     54        1
        SM Curran                  35     0    2.0    4.0     16        0

                           hundreds  runs  dreamll_score batting_team
matchid batsmanname
1254058 AB de Villiers            0  20.0           28.0          NaN
        CA Lynn                   0  16.0           34.0          NaN
        Dan Christian             0   0.0            0.0          NaN
        GJ Maxwell                0  17.0           24.0          NaN
        HH Pandya                 0   0.0            2.0          NaN
        HV Patel                  0   0.0            0.0          NaN
        Ishan Kishan              0  15.0           19.0          NaN
        JJ Bumrah                 0   0.0            0.0          NaN
        KA Pollard                0   0.0            1.0          NaN
        KH Pandya                 0   0.0            0.0          NaN
        Kyle Jamieson             0   0.0            0.0          NaN
        M Siraj                   0   0.0            0.0          NaN
        Marco Jansen              0   0.0           -2.0          NaN
        RG Sharma                 0   9.0           12.0          NaN
        Rajat Patidar             0   0.0            1.0          NaN
        S Ahmed                   0   0.0            0.0          NaN
        SA Yadav                  0  10.0           16.0          NaN
        V Kohli                   0   0.0            4.0          NaN
        Washington Sundar         0   0.0            0.0          NaN
1254059 AS Raut                   0   0.0            1.0          NaN
        AT Rayudu                 0  14.0           18.0          NaN
        F du Plessis              0   0.0           -2.0          NaN
        MM Ali                    0   8.0           16.0          NaN
        MP Stoinis                0   0.0            3.0          NaN
        MS Dhoni                  0   0.0           -2.0          NaN
        PP Shaw                   0  18.0           41.0          NaN
        RA Jadeja                 0   0.0            3.0          NaN
        RR Pant                   0   0.0            2.0          NaN
        S Dhawan                  0  35.0           57.0          NaN
        SM Curran                 0   7.0           15.0          NaN

In [99]:
# df.drop(['batting_team'],axis=1,inplace=True)
df.tail(30)

                                    total_runs  duck  Sixes  Fours  balls  \
matchid batsmanname
1254112 AS Yadav                            11     0    1.0    1.0      4
        HH Pandya                           18     0    0.0    2.0     18
        JJ Bumrah                            1     0    0.0    0.0      1
        KA Pollard                           9     0    0.0    0.0     11
        KH Pandya                           13     0    1.0    1.0     15
        NM Coulter-Nile                      1     0    0.0    0.0      2
        PP Shaw                              6     0    0.0    1.0      7
        Q de Kock                           19     0    1.0    1.0     18
        R Ashwin                            20     0    1.0    0.0     21
        RG Sharma                            8     0    0.0    1.0     10
        RR Pant                             27     0    1.0    3.0     22
        S Dhawan                             8     0    1.0    0.0      7
        SA Yadav                            33     0    2.0    2.0     26
        SO Hetmyer                          15     0    0.0    2.0      8
        SPD Smith                            9     0    1.0    0.0      8
        SS Iyer                             37     0    0.0    2.0     35
        SS Tiwary                           16     0    0.0    1.0     19
1254113 AB de Villiers                      13     0    1.0    0.0     11
        AS Raut                             39     0    1.0    4.0     26
        AT Rayudu                           33     0    1.0    3.0     22
        Devdutt Padikkal                    73     0    3.0    5.0     51
        F du Plessis                        32     0    2.0    2.0     26
        GJ Maxwell                          11     0    1.0    0.0      9
        HV Patel                             3     0    0.0    0.0      5
        MM Ali                              24     0    2.0    0.0     19
        MS Dhoni                            11     0    0.0    2.0      9
        Suresh Raina                        18     0    1.0    2.0     11
        Tim David                            1     0    0.0    0.0      3
        V Kohli                             54     0    1.0    6.0     41
        Wanindu Hasaranga de Silva           1     0    0.0    0.0      1

                                    Fifties  hundreds  runs  dreamll_score
matchid batsmanname
1254112 AS Yadav                          0         0   1.0            4.0
        HH Pandya                         0         0   0.0            2.0
        JJ Bumrah                         0         0   0.0            0.0
        KA Pollard                        0         0   0.0            0.0
        KH Pandya                         0         0   3.0            6.0
        NM Coulter-Nile                   0         0   0.0            0.0
        PP Shaw                           0         0   0.0            1.0
        Q de Kock                         0         0   9.0           12.0
        R Ashwin                          0         0   0.0            2.0
        RG Sharma                         0         0   0.0            1.0
        RR Pant                           0         0   9.0           14.0
        S Dhawan                          0         0   0.0            2.0
        SA Yadav                          0         0  13.0           19.0
        SO Hetmyer                        0         0   0.0            2.0
        SPD Smith                         0         0   0.0            2.0
        SS Iyer                           0         0   0.0            2.0
        SS Tiwary                         0         0   0.0            1.0
1254113 AB de Villiers                    0         0   0.0            2.0
        AS Raut                           0         0  17.0           23.0
        AT Rayudu                         0         0  15.0           20.0
        Devdutt Padikkal                  1         0  35.0           54.0
        F du Plessis                      0         0  12.0           18.0
        GJ Maxwell                        0         0   0.0            2.0
        HV Patel                          0         0   0.0            0.0
        MM Ali                            0         0   0.0            4.0
        MS Dhoni                          0         0   0.0            2.0
        Suresh Raina                      0         0   4.0            8.0
        Tim David                         0         0   0.0            0.0
        V Kohli                           1         0  24.0           40.0
        Wanindu Hasaranga de Silva        0         0   0.0            0.0

In [40]:
type(total_runs)

pandas.core.frame.DataFrame

In [79]:
df.to_csv("runs.csv")

In [80]:
df_ = pd.read_csv("/workspace/dream11_prediction/PPP/runs.csv")

In [81]:
df_.columns

Index(['matchid', 'batsmanname', 'total_runs', 'duck', 'Sixes', 'Fours',
       'balls', 'Fifties', 'hundreds', 'runs', 'dreamll_score'],
      dtype='object')

In [97]:
df_2021.matchid.unique()

array([1254102, 1254091, 1254103, 1254099, 1254092, 1254100, 1254108,
       1254098, 1254107, 1254097, 1254113, 1254096, 1254105, 1254111,
       1254087, 1254104, 1254086, 1254085, 1254084, 1254083, 1254082,
       1254081, 1254080, 1254079, 1254078, 1254077, 1254076, 1254075,
       1254074, 1254073, 1254072, 1254071, 1254070, 1254069, 1254068,
       1254067, 1254066, 1254065, 1254064, 1254063, 1254062, 1254061,
       1254060, 1254059, 1254058, 1254089, 1254112, 1254090, 1254109])

In [114]:
df_2021['battingteam'].unique()

array(['Kolkata Knight Riders', 'Punjab Kings', 'Sunrisers Hyderabad',
       'Chennai Super Kings', 'Rajasthan Royals',
       'Royal Challengers Bangalore', 'Mumbai Indians', 'Delhi Capitals'],
      dtype=object)

In [128]:

total_runss = pd.DataFrame(df_2021[df_2021['battingteam']=="Kolkata Knight Riders"].groupby(['matchid','batsmanname'])['scorevalue'].sum()).\
       rename(columns={"scorevalue": "total_runs"})

In [129]:
total_runss[total_runss['total_runs']==0]

                            total_runs
matchid batsmanname
1254062 PJ Cummins                   0
1254072 Kamlesh Nagarkoti            0
        M Prasidh Krishna            0
        Shubman Gill                 0
        Varun Chakravarthy           0
1254078 N Rana                       0
1254082 SP Narine                    0
1254092 EJG Morgan                   0

In [101]:
data.shape

(197283, 15)